# MFA - gironde

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
from scientisttools import load_gironde
gironde = load_gironde()
gironde.info()

<class 'pandas.core.frame.DataFrame'>
Index: 542 entries, ABZAC to MARCHEPRIME
Data columns (total 27 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   farmers     542 non-null    float64
 1   tradesmen   542 non-null    float64
 2   managers    542 non-null    float64
 3   workers     542 non-null    float64
 4   unemployed  542 non-null    float64
 5   middleempl  542 non-null    float64
 6   retired     542 non-null    float64
 7   employrate  542 non-null    float64
 8   income      540 non-null    float64
 9   density     542 non-null    float64
 10  primaryres  542 non-null    float64
 11  houses      542 non-null    category
 12  owners      542 non-null    float64
 13  council     542 non-null    category
 14  butcher     542 non-null    category
 15  baker       542 non-null    category
 16  postoffice  542 non-null    category
 17  dentist     542 non-null    category
 18  grocery     542 non-null    category
 19  nursery     542 non-null    category
 20  doctor      542 non-null    category
 21  chemist     542 non-null    category
 22  restaurant  542 non-null    category
 23  building    542 non-null    float64
 24  water       542 non-null    float64
 25  vegetation  542 non-null    float64
 26  agricul     542 non-null    float64
dtypes: category(11), float64(16)
memory usage: 79.3+ KB

In [3]:
from scientisttools import MFA
name = ["employment","housing","services","environment"] 
group_type = ["s","m","n","s"]
res_mfa = MFA(n_components=5,group=[9,5,9,4],name_group=name,group_type=group_type,ind_sup=list(range(500,542)),num_group_sup=[1,2])
res_mfa.fit(gironde)

MFA(group=[9, 5, 9, 4], group_type=['s', 'm', 'n', 's'],
    ind_sup=[500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512,
             513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525,
             526, 527, 528, 529, ...],
    name_group=['employment', 'housing', 'services', 'environment'],
    num_group_sup=[1, 2])

## Eigenvalues

In [4]:
res_mfa.eig_.round(4)

        eigenvalue  difference  proportion  cumulative
Dim.1       1.1740      0.2402     19.6230     19.6230
Dim.2       0.9338      0.0961     15.6085     35.2316
Dim.3       0.8378      0.1477     14.0028     49.2344
Dim.4       0.6901      0.1777     11.5338     60.7682
Dim.5       0.5124      0.0873      8.5639     69.3322
Dim.6       0.4251      0.0142      7.1051     76.4373
Dim.7       0.4109      0.0998      6.8684     83.3057
Dim.8       0.3111      0.0460      5.1999     88.5056
Dim.9       0.2651      0.0481      4.4314     92.9370
Dim.10      0.2170      0.0292      3.6274     96.5644
Dim.11      0.1879      0.1702      3.1398     99.7042
Dim.12      0.0177      0.0177      0.2958    100.0000
Dim.13      0.0000         NaN      0.0000    100.0000

## Group

In [5]:
res_mfa.group_["Lg"]

             employment   housing  services  environment       MFA
employment     2.341991  0.215195  0.189646     0.144899  2.118274
housing        0.215195  1.279327  0.553457     0.394572  0.519385
services       0.189646  0.553457  1.371735     0.245464  0.370617
environment    0.144899  0.394572  0.245464     1.658462  1.536060
MFA            2.118274  0.519385  0.370617     1.536060  3.112675

## predict function

In [6]:
employment = load_gironde(which="employment")
housing = load_gironde(which="housing")
services = load_gironde(which="services")
environment = load_gironde(which="environment")

In [7]:
import pandas as pd
ind_sup_index = list(range(500,542))
ind_sup = pd.concat((employment,environment),axis=1).iloc[ind_sup_index,:]
from scientisttools import predictMFA
predict = predictMFA(res_mfa,X=ind_sup)
predict.keys()

dict_keys(['coord', 'cos2', 'dist', 'coord_partiel'])

In [8]:
# transform
res_mfa.transform(ind_sup).head(6)

                   Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
SOULAC-SUR-MER -0.299124 -1.268611 -0.354525  1.731099  0.701318
SOULIGNAC      -0.510816  0.462141  0.670607 -0.034330 -0.000292
SOUSSAC        -2.116422 -0.289621  0.555777 -0.798955 -0.364156
SOUSSANS       -0.109425  0.012424 -0.297694 -1.114729  0.388872
TABANAC         0.775373  1.303424  0.094972  0.874614  0.078181
TAILLAN-MEDOC   2.179282  1.283896 -0.149922  0.738406 -0.197209

In [9]:
# coordinates with MFA function
res_mfa.ind_sup_["coord"].head(6)

                   Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
SOULAC-SUR-MER -0.299124 -1.268611 -0.354525  1.731099  0.701318
SOULIGNAC      -0.510816  0.462141  0.670607 -0.034330 -0.000292
SOUSSAC        -2.116422 -0.289621  0.555777 -0.798955 -0.364156
SOUSSANS       -0.109425  0.012424 -0.297694 -1.114729  0.388872
TABANAC         0.775373  1.303424  0.094972  0.874614  0.078181
TAILLAN-MEDOC   2.179282  1.283896 -0.149922  0.738406 -0.197209

In [10]:
# Coordinates with predictMFA function
predict["coord"].head(6)

                   Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
SOULAC-SUR-MER -0.299124 -1.268611 -0.354525  1.731099  0.701318
SOULIGNAC      -0.510816  0.462141  0.670607 -0.034330 -0.000292
SOUSSAC        -2.116422 -0.289621  0.555777 -0.798955 -0.364156
SOUSSANS       -0.109425  0.012424 -0.297694 -1.114729  0.388872
TABANAC         0.775373  1.303424  0.094972  0.874614  0.078181
TAILLAN-MEDOC   2.179282  1.283896 -0.149922  0.738406 -0.197209

In [11]:
# Square cosinus with MFA function
res_mfa.ind_sup_["cos2"].head(6)

                   Dim.1     Dim.2     Dim.3     Dim.4         Dim.5
SOULAC-SUR-MER  0.014336  0.257856  0.020138  0.480135  7.880422e-02
SOULIGNAC       0.208959  0.171033  0.360138  0.000944  6.808404e-08
SOUSSAC         0.543044  0.010169  0.037448  0.077388  1.607699e-02
SOUSSANS        0.006069  0.000078  0.044920  0.629850  7.664984e-02
TABANAC         0.124335  0.351353  0.001865  0.158199  1.264084e-03
TAILLAN-MEDOC   0.650809  0.225885  0.003080  0.074717  5.329414e-03

In [12]:
# Square cosinus with predictMFA function
predict["cos2"].head(6)

                   Dim.1     Dim.2     Dim.3     Dim.4         Dim.5
SOULAC-SUR-MER  0.014336  0.257856  0.020138  0.480135  7.880422e-02
SOULIGNAC       0.208959  0.171033  0.360138  0.000944  6.808404e-08
SOUSSAC         0.543044  0.010169  0.037448  0.077388  1.607699e-02
SOUSSANS        0.006069  0.000078  0.044920  0.629850  7.664984e-02
TABANAC         0.124335  0.351353  0.001865  0.158199  1.264084e-03
TAILLAN-MEDOC   0.650809  0.225885  0.003080  0.074717  5.329414e-03

In [13]:
# Square distance with MFA function
res_mfa.ind_sup_["dist"].head(6)

SOULAC-SUR-MER    6.241377
SOULIGNAC         1.248728
SOUSSAC           8.248397
SOUSSANS          1.972885
TABANAC           4.835350
TAILLAN-MEDOC     7.297482
Name: Sq. Dist., dtype: float64

In [14]:
# Square distance with predictMFA function
predict["dist"].head(6)

SOULAC-SUR-MER    6.241377
SOULIGNAC         1.248728
SOUSSAC           8.248397
SOUSSANS          1.972885
TABANAC           4.835350
TAILLAN-MEDOC     7.297482
Name: Sq. Dist., dtype: float64

In [15]:
# Partiel coordinates with MFA function
res_mfa.ind_sup_["coord_partiel"].head(6)

               employment                                         environment  \
                    Dim.1     Dim.2     Dim.3     Dim.4     Dim.5       Dim.1
SOULAC-SUR-MER  -1.133466 -2.200553 -0.723215  3.326888  1.461341    0.535217
SOULIGNAC       -0.221941  0.550333  0.906408  0.006117  0.434023   -0.799690
SOUSSAC         -2.310411 -1.730688  0.896942 -1.362914 -0.156869   -1.922434
SOUSSANS         0.268755 -0.369181 -0.302822 -1.881686  0.034105   -0.487604
TABANAC          1.938492  2.365018  0.198362  1.873771  0.044116   -0.387745
TAILLAN-MEDOC    2.677657  3.476114  0.128460  0.897655  0.007642    1.680907


                   Dim.2     Dim.3     Dim.4     Dim.5
SOULAC-SUR-MER -0.336670  0.014164  0.135309 -0.058705
SOULIGNAC       0.373948  0.434806 -0.074777 -0.434606
SOUSSAC         1.151446  0.214612 -0.234995 -0.571443
SOUSSANS        0.394030 -0.292566 -0.347772  0.743639
TABANAC         0.241829 -0.008417 -0.124543  0.112247
TAILLAN-MEDOC  -0.908321 -0.428304  0.579157 -0.402059

In [16]:
# Partiel coordinates with predictMFA function
predict["coord_partiel"].head(6)

               employment                                         environment  \
                    Dim.1     Dim.2     Dim.3     Dim.4     Dim.5       Dim.1
SOULAC-SUR-MER  -1.133466 -2.200553 -0.723215  3.326888  1.461341    0.535217
SOULIGNAC       -0.221941  0.550333  0.906408  0.006117  0.434023   -0.799690
SOUSSAC         -2.310411 -1.730688  0.896942 -1.362914 -0.156869   -1.922434
SOUSSANS         0.268755 -0.369181 -0.302822 -1.881686  0.034105   -0.487604
TABANAC          1.938492  2.365018  0.198362  1.873771  0.044116   -0.387745
TAILLAN-MEDOC    2.677657  3.476114  0.128460  0.897655  0.007642    1.680907


                   Dim.2     Dim.3     Dim.4     Dim.5
SOULAC-SUR-MER -0.336670  0.014164  0.135309 -0.058705
SOULIGNAC       0.373948  0.434806 -0.074777 -0.434606
SOUSSAC         1.151446  0.214612 -0.234995 -0.571443
SOUSSANS        0.394030 -0.292566 -0.347772  0.743639
TABANAC         0.241829 -0.008417 -0.124543  0.112247
TAILLAN-MEDOC  -0.908321 -0.428304  0.579157 -0.402059

## supvar function

In [17]:
from scientisttools import supvarMFA
X_group_sup = pd.concat((housing,services),axis=1).iloc[:500,:]
supvar = supvarMFA(res_mfa,X_group_sup=X_group_sup,group_sup=[5,9],name_group_sup=["housing","services"],group_sup_type=["m","n"])
supvar.keys()

dict_keys(['group', 'partial_axes', 'quanti', 'quali'])

### Supplementary group informations

In [18]:
# Factor coordinates with MFA function
res_mfa.group_["coord_sup"]

             Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
housing   0.063623  0.052150  0.461019  0.057049  0.029545
services  0.162940  0.005451  0.228947  0.033615  0.007784

In [19]:
# Factor coordinates with supvarMFA function
supvar["group"]["coord"]

             Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
housing   0.063623  0.052150  0.461019  0.057049  0.029545
services  0.162940  0.005451  0.228947  0.033615  0.007784

In [20]:
# Square cosinus with MFA function
res_mfa.group_["cos2_sup"].head(6)

             Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
housing   0.003164  0.002126  0.166133  0.002544  0.000682
services  0.019355  0.000022  0.038212  0.000824  0.000044

In [21]:
# Square cosinus with supvarMFA function
supvar["group"]["cos2"].head(6)

             Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
housing   0.003164  0.002126  0.166133  0.002544  0.000682
services  0.019355  0.000022  0.038212  0.000824  0.000044

In [22]:
# Square distance to origin with MFA function
res_mfa.group_["dist2_sup"].head(6)

housing     1.279327
services    1.371735
Name: Sq. Dist., dtype: float64

In [23]:
# Square distance to origin with MFA function
supvar["group"]["dist2"]

housing     1.279327
services    1.371735
Name: Sq. Dist., dtype: float64

In [24]:
# Lg coefficients with MFA function
res_mfa.group_["Lg"]

             employment   housing  services  environment       MFA
employment     2.341991  0.215195  0.189646     0.144899  2.118274
housing        0.215195  1.279327  0.553457     0.394572  0.519385
services       0.189646  0.553457  1.371735     0.245464  0.370617
environment    0.144899  0.394572  0.245464     1.658462  1.536060
MFA            2.118274  0.519385  0.370617     1.536060  3.112675

In [25]:
# Lg coefficients with supvarMFA function
supvar["group"]["Lg"]

            employment environment   housing  services
employment    2.341991    0.144899  0.215195  0.189646
environment   0.144899    1.658462  0.394572  0.245464
housing       0.215195    0.394572  1.279327  0.553457
services      0.189646    0.245464  0.553457  1.371735

In [26]:
# RV coefficients with MFA function
res_mfa.group_["RV"]

             employment   housing  services  environment       MFA
employment     1.000000  0.124322  0.105807     0.073522  0.784554
housing        0.124322  1.000000  0.417790     0.270884  0.260274
services       0.105807  0.417790  1.000000     0.162742  0.179359
environment    0.073522  0.270884  0.162742     1.000000  0.676065
MFA            0.784554  0.260274  0.179359     0.676065  1.000000

In [27]:
# RV coefficients with supvarMFA function
supvar["group"]["RV"]

             employment  environment   housing  services
employment     1.000000     0.073522  0.124322  0.105807
environment    0.073522     1.000000  0.270884  0.162742
housing        0.124322     0.270884  1.000000  0.417790
services       0.105807     0.162742  0.417790  1.000000

### Supplementary quantitative variables

In [28]:
# Coordinates with MFA function
res_mfa.quanti_var_sup_["coord"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
density     0.243318  0.087367 -0.698470  0.203107 -0.197418
primaryres  0.140463  0.329052 -0.033473 -0.287227 -0.162203
owners     -0.027004  0.115327  0.560531 -0.084104  0.053892

In [29]:
# Coordinates with supvarMFA function
supvar["quanti"]["coord"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
density     0.243318  0.087367 -0.698470  0.203107 -0.197418
primaryres  0.140463  0.329052 -0.033473 -0.287227 -0.162203
owners     -0.027004  0.115327  0.560531 -0.084104  0.053892

In [30]:
# Square cosinus with MFA function
res_mfa.quanti_var_sup_["cos2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
density     0.059204  0.007633  0.487860  0.041252  0.038974
primaryres  0.019730  0.108275  0.001120  0.082499  0.026310
owners      0.000729  0.013300  0.314195  0.007073  0.002904

In [31]:
# Square cosinus with supvarMFA function
supvar["quanti"]["cos2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
density     0.059204  0.007633  0.487860  0.041252  0.038974
primaryres  0.019730  0.108275  0.001120  0.082499  0.026310
owners      0.000729  0.013300  0.314195  0.007073  0.002904

### Supplementary qualitative variables

In [32]:
# Coordinates with MFA function
res_mfa.quali_var_sup_["coord"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   0.421196 -0.040752 -0.822225  0.179183 -0.013067
 sup 90%  -0.102680  0.009935  0.200443 -0.043681  0.003185
 inf 5%   -0.115221  0.026138  0.189818 -0.022184  0.029588
 sup 5%    0.460884 -0.104552 -0.759270  0.088737 -0.118350
butcher_0 -0.174499  0.019650  0.196073 -0.046329  0.022625
butcher_1  0.170874 -0.083790 -0.128482 -0.057210 -0.055323

In [33]:
# Coordinates with supvarMFA function
supvar["quali"]["coord"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   0.421196 -0.040752 -0.822225  0.179183 -0.013067
 sup 90%  -0.102680  0.009935  0.200443 -0.043681  0.003185
 inf 5%   -0.115221  0.026138  0.189818 -0.022184  0.029588
 sup 5%    0.460884 -0.104552 -0.759270  0.088737 -0.118350
butcher_0 -0.174499  0.019650  0.196073 -0.046329  0.022625
butcher_1  0.170874 -0.083790 -0.128482 -0.057210 -0.055323

In [34]:
# Square cosinus with MFA function
res_mfa.quali_var_sup_["cos2"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   0.191230  0.001790  0.728735  0.034608  0.000184
 sup 90%   0.191230  0.001790  0.728735  0.034608  0.000184
 inf 5%    0.253689  0.013055  0.688512  0.009404  0.016729
 sup 5%    0.253689  0.013055  0.688512  0.009404  0.016729
butcher_0  0.409944  0.005198  0.517574  0.028896  0.006891
butcher_1  0.347249  0.083497  0.196322  0.038925  0.036400

In [35]:
# Square cosinus with supvarMFA function
supvar["quali"]["cos2"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   0.191230  0.001790  0.728735  0.034608  0.000184
 sup 90%   0.191230  0.001790  0.728735  0.034608  0.000184
 inf 5%    0.253689  0.013055  0.688512  0.009404  0.016729
 sup 5%    0.253689  0.013055  0.688512  0.009404  0.016729
butcher_0  0.409944  0.005198  0.517574  0.028896  0.006891
butcher_1  0.347249  0.083497  0.196322  0.038925  0.036400

In [36]:
# V-test with MFA function
res_mfa.quali_var_sup_["vtest"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 sup 90%  -4.287429  0.465116  9.907848 -2.379057  0.201339
 inf 90%   4.287429 -0.465116 -9.907848  2.379057 -0.201339
 inf 5%   -4.750887  1.208424  9.265201 -1.193125  1.846710
 sup 5%    4.750887 -1.208424 -9.265201  1.193125 -1.846710
butcher_0 -5.443449  0.687309  7.240583 -1.885072  1.068337
butcher_1  1.628105 -0.895160 -1.449180 -0.711001 -0.797919

In [37]:
# V-test with supvarMFA function
supvar["quali"]["vtest"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 sup 90%  -4.287429  0.465116  9.907848 -2.379057  0.201339
 inf 90%   4.287429 -0.465116 -9.907848  2.379057 -0.201339
 inf 5%   -4.750887  1.208424  9.265201 -1.193125  1.846710
 sup 5%    4.750887 -1.208424 -9.265201  1.193125 -1.846710
butcher_0 -5.443449  0.687309  7.240583 -1.885072  1.068337
butcher_1  1.628105 -0.895160 -1.449180 -0.711001 -0.797919

In [38]:
# Square distance with MFA function
res_mfa.quali_var_sup_["dist"].head(6)

 inf 90%     0.927709
 sup 90%     0.055133
 inf 5%      0.052331
 sup 5%      0.837301
butcher_0    0.074278
butcher_1    0.084084
Name: Sq. Dist., dtype: float64

In [39]:
# Square distance with supvarMFA function
supvar["quali"]["dist"].head(6)

 inf 90%     0.927709
 sup 90%     0.055133
 inf 5%      0.052331
 sup 5%      0.837301
butcher_0    0.074278
butcher_1    0.084084
Name: Sq. Dist., dtype: float64

In [40]:
# Square correlation ratio with MFA function
res_mfa.quali_var_sup_["eta2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
houses      0.036838  0.000434  0.196724  0.011343  0.000081
council     0.045232  0.002926  0.172032  0.002853  0.006834
butcher     0.077993  0.001621  0.156289  0.023270  0.002297
baker       0.125153  0.003263  0.146628  0.026526  0.000215
postoffice  0.092224  0.001553  0.120022  0.000018  0.000004
dentist     0.149525  0.004095  0.181044  0.037189  0.006863

In [41]:
# Square correlation ratio with supvarMFA function
supvar["quali"]["eta2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
houses      0.036838  0.000434  0.196724  0.011343  0.000081
council     0.045232  0.002926  0.172032  0.002853  0.006834
butcher     0.077993  0.001621  0.156289  0.023270  0.002297
baker       0.125153  0.003263  0.146628  0.026526  0.000215
postoffice  0.092224  0.001553  0.120022  0.000018  0.000004
dentist     0.149525  0.004095  0.181044  0.037189  0.006863

In [42]:
# Partiel coordinates with MFA function
res_mfa.quali_var_sup_["coord_partiel"].head(6)

          employment                                         environment  \
               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5       Dim.1
 inf 90%    0.335105 -0.090359 -0.600123  0.126152 -0.114225    0.507287
 sup 90%   -0.081692  0.022028  0.146299 -0.030753  0.027846   -0.123667
 inf 5%    -0.079628  0.025564  0.163035  0.017391  0.067831   -0.150814
 sup 5%      0.31851 -0.102256 -0.652142 -0.069564 -0.271324    0.603258
butcher_0  -0.152467 -0.018753  0.185037 -0.020547  0.048802   -0.196531
butcher_1   0.184495  -0.06573 -0.273776 -0.152201 -0.092427    0.157254


              Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   0.008856 -1.044328  0.232213  0.088091
 sup 90%  -0.002159  0.254587 -0.056609 -0.021475
 inf 5%    0.026712    0.2166  -0.06176 -0.008656
 sup 5%   -0.106849 -0.866399  0.247039  0.034623
butcher_0  0.058053  0.207108  -0.07211 -0.003553
butcher_1  -0.10185  0.016813  0.037782  -0.01822

In [43]:
# Partiel coordinates with supvarMFA function
supvar["quali"]["coord_partiel"].head(6)

          employment                                         environment  \
               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5       Dim.1
 inf 90%    0.335105 -0.090359 -0.600123  0.126152 -0.114225    0.507287
 sup 90%   -0.081692  0.022028  0.146299 -0.030753  0.027846   -0.123667
 inf 5%    -0.079628  0.025564  0.163035  0.017391  0.067831   -0.150814
 sup 5%      0.31851 -0.102256 -0.652142 -0.069564 -0.271324    0.603258
butcher_0  -0.152467 -0.018753  0.185037 -0.020547  0.048802   -0.196531
butcher_1   0.184495  -0.06573 -0.273776 -0.152201 -0.092427    0.157254


              Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   0.008856 -1.044328  0.232213  0.088091
 sup 90%  -0.002159  0.254587 -0.056609 -0.021475
 inf 5%    0.026712    0.2166  -0.06176 -0.008656
 sup 5%   -0.106849 -0.866399  0.247039  0.034623
butcher_0  0.058053  0.207108  -0.07211 -0.003553
butcher_1  -0.10185  0.016813  0.037782  -0.01822

## Description of dimension

In [44]:
from scientisttools import dimdesc
Dimdesc = dimdesc(res_mfa)
Dimdesc.keys()

dict_keys(['Dim.1', 'Dim.2', 'Dim.3', 'Dim.4', 'Dim.5'])

In [45]:
Dimdesc["Dim.1"]["quanti"]

            correlation        pvalue
vegetation     0.709731  0.000000e+00
middleempl     0.544456  0.000000e+00
managers       0.522742  0.000000e+00
income         0.447565  0.000000e+00
density        0.243318  3.585098e-08
building       0.198456  7.783914e-06
primaryres     0.140463  1.640486e-03
employrate     0.125263  5.031336e-03
retired       -0.292802  2.426148e-11
farmers       -0.527147  0.000000e+00
agricul       -0.845499  0.000000e+00

In [46]:
Dimdesc["Dim.1"]["quali"]

                  R2        pvalue
dentist     0.149525  3.318061e-18
restaurant  0.148113  3.760716e-17
doctor      0.134487  2.585470e-16
chemist     0.133795  3.153497e-16
baker       0.125153  3.716941e-15
postoffice  0.092224  3.974414e-12
butcher     0.077993  1.723621e-09
nursery     0.063627  1.071713e-08
council     0.045232  1.596594e-06
houses      0.036838  1.551687e-05
grocery     0.018092  2.579746e-03

In [47]:
Dimdesc["Dim.1"]["category"]

                              Estimate        pvalue
houses= inf 90%               0.523875  1.551687e-05
houses= sup 90%              -0.523875  1.551687e-05
council= inf 5%              -0.576105  1.596594e-06
council= sup 5%               0.576105  1.596594e-06
butcher=butcher_0            -0.574010  3.415774e-08
butcher=butcher_2 or +        0.818678  1.044774e-08
baker=baker_0                -0.590570  7.095213e-10
baker=baker_2 or +            0.895552  2.716501e-15
postoffice=postoffice_0      -0.686355  3.974414e-12
postoffice=postoffice_1 or +  0.686355  3.974414e-12
dentist=dentist_0            -0.844683  2.253730e-16
dentist=dentist_1 to 2        0.398668  2.050007e-03
dentist=dentist_3 or +        1.077752  2.347515e-14
grocery=grocery_0            -0.314016  2.579746e-03
grocery=grocery_1 or +        0.314016  2.579746e-03
nursery=nursery_0            -1.429484  1.071713e-08
nursery=nursery_1 or +        1.429484  1.071713e-08
doctor=doctor_0              -0.721196  8.781729e-14
doctor=doctor_3 or +          0.890452  2.601290e-15
chemist=chemist_0            -0.724426  4.461888e-13
chemist=chemist_1             0.238856  4.962733e-02
chemist=chemist_2 or +        1.031273  3.456792e-14
restaurant=restaurant_0      -0.644457  1.358724e-11
restaurant=restaurant_3 or +  0.921285  7.593598e-16