# PCAMIX with gironde

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
from scientisttools import load_gironde
gironde = load_gironde()
gironde.info()

<class 'pandas.core.frame.DataFrame'>
Index: 542 entries, ABZAC to MARCHEPRIME
Data columns (total 27 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   farmers     542 non-null    float64
 1   tradesmen   542 non-null    float64
 2   managers    542 non-null    float64
 3   workers     542 non-null    float64
 4   unemployed  542 non-null    float64
 5   middleempl  542 non-null    float64
 6   retired     542 non-null    float64
 7   employrate  542 non-null    float64
 8   income      540 non-null    float64
 9   density     542 non-null    float64
 10  primaryres  542 non-null    float64
 11  houses      542 non-null    category
 12  owners      542 non-null    float64
 13  council     542 non-null    category
 14  butcher     542 non-null    category
 15  baker       542 non-null    category
 16  postoffice  542 non-null    category
 17  dentist     542 non-null    category
 18  grocery     542 non-null    category
 19  nursery     542 non-null    category
 20  doctor      542 non-null    category
 21  chemist     542 non-null    category
 22  restaurant  542 non-null    category
 23  building    542 non-null    float64
 24  water       542 non-null    float64
 25  vegetation  542 non-null    float64
 26  agricul     542 non-null    float64
dtypes: category(11), float64(16)
memory usage: 79.3+ KB

In [3]:
from scientisttools import splitmix
X_quant = splitmix(gironde)["quanti"]
X_qual = splitmix(gironde)["quali"]

## PCA compare : PCA function Vs. PCAMIX function

In [4]:
from scientisttools import PCA, PCAMIX
# PCA with PCA
res_pca = PCA().fit(X_quant)
# PCA with PCAMIX
res_pca_pcamix = PCAMIX().fit(X_quant)

Missing values are imputed by the mean of the variable.

### Eigenvalues

In [5]:
# Eigenvalues with PCA
res_pca.eig_.round(4).head(6)

       eigenvalue  difference  proportion  cumulative
Dim.1      2.9733      0.2994     18.5830     18.5830
Dim.2      2.6739      0.6053     16.7119     35.2949
Dim.3      2.0686      0.3556     12.9287     48.2237
Dim.4      1.7130      0.6357     10.7063     58.9300
Dim.5      1.0773      0.0754      6.7333     65.6633
Dim.6      1.0019      0.0237      6.2621     71.9255

In [6]:
# Eigenvalues with PCAMIX
res_pca_pcamix.eig_.round(4).head(6)

       eigenvalue  difference  proportion  cumulative
Dim.1      2.9733      0.2994     18.5830     18.5830
Dim.2      2.6739      0.6053     16.7119     35.2949
Dim.3      2.0686      0.3556     12.9287     48.2237
Dim.4      1.7130      0.6357     10.7063     58.9300
Dim.5      1.0773      0.0754      6.7333     65.6633
Dim.6      1.0019      0.0237      6.2621     71.9255

### Individuals informations

#### Coordinates

In [7]:
# Coordinates with PCA
res_pca.ind_["coord"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC              -0.103102 -0.965444  0.290998 -0.935845  0.154062
AILLAS             -0.725706 -0.162440 -0.815956  1.313834 -0.322844
AMBARES-ET-LAGRAVE  2.022919  0.183367  0.872154 -1.054918 -0.141069
AMBES               0.802039 -1.487324  1.104671 -2.157694  3.508191
ANDERNOS-LES-BAINS  1.668860 -0.885000 -2.740887  3.236867  0.647663
ANGLADE            -1.504698 -1.514828  0.797778 -0.897711 -0.556155

In [8]:
# Coordinates with PCAMIX
res_pca_pcamix.ind_["coord"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC              -0.103102 -0.965444  0.290998 -0.935845  0.154062
AILLAS             -0.725706 -0.162440 -0.815956  1.313834 -0.322844
AMBARES-ET-LAGRAVE  2.022919  0.183367  0.872154 -1.054918 -0.141069
AMBES               0.802039 -1.487324  1.104671 -2.157694  3.508191
ANDERNOS-LES-BAINS  1.668860 -0.885000 -2.740887  3.236867  0.647663
ANGLADE            -1.504698 -1.514828  0.797778 -0.897711 -0.556155

#### Cos2

In [9]:
# Cos2 with PCA
res_pca.ind_["cos2"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               0.004233  0.371151  0.033719  0.348742  0.009451
AILLAS              0.079730  0.003995  0.100794  0.261325  0.015779
AMBARES-ET-LAGRAVE  0.553899  0.004551  0.102958  0.150630  0.002694
AMBES               0.022864  0.078627  0.043374  0.165478  0.437447
ANDERNOS-LES-BAINS  0.112401  0.031609  0.303188  0.422843  0.016929
ANGLADE             0.250433  0.253817  0.070398  0.089139  0.034213

In [10]:
# Cos2 with PCAMIX
res_pca_pcamix.ind_["cos2"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               0.004233  0.371151  0.033719  0.348742  0.009451
AILLAS              0.079730  0.003995  0.100794  0.261325  0.015779
AMBARES-ET-LAGRAVE  0.553899  0.004551  0.102958  0.150630  0.002694
AMBES               0.022864  0.078627  0.043374  0.165478  0.437447
ANDERNOS-LES-BAINS  0.112401  0.031609  0.303188  0.422843  0.016929
ANGLADE             0.250433  0.253817  0.070398  0.089139  0.034213

### Contributions

In [11]:
# Contributions with PCA
res_pca.ind_["contrib"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               0.000660  0.064315  0.007553  0.094330  0.004065
AILLAS              0.032680  0.001821  0.059382  0.185918  0.017850
AMBARES-ET-LAGRAVE  0.253934  0.002320  0.067844  0.119861  0.003408
AMBES               0.039917  0.152639  0.108840  0.501442  2.107738
ANDERNOS-LES-BAINS  0.172824  0.054043  0.670049  1.128471  0.071837
ANGLADE             0.140496  0.158337  0.056766  0.086799  0.052971

In [12]:
# Contributions with PCAMIX
res_pca_pcamix.ind_["contrib"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               0.000660  0.064315  0.007553  0.094330  0.004065
AILLAS              0.032680  0.001821  0.059382  0.185918  0.017850
AMBARES-ET-LAGRAVE  0.253934  0.002320  0.067844  0.119861  0.003408
AMBES               0.039917  0.152639  0.108840  0.501442  2.107738
ANDERNOS-LES-BAINS  0.172824  0.054043  0.670049  1.128471  0.071837
ANGLADE             0.140496  0.158337  0.056766  0.086799  0.052971

#### Additionals informations

In [13]:
# Additionals informations with PCA
res_pca.ind_["infos"].head(6)

                      Weight  Sq. Dist.   Inertia
ABZAC               0.001845   2.511330  0.004633
AILLAS              0.001845   6.605407  0.012187
AMBARES-ET-LAGRAVE  0.001845   7.387985  0.013631
AMBES               0.001845  28.134596  0.051909
ANDERNOS-LES-BAINS  0.001845  24.778230  0.045716
ANGLADE             0.001845   9.040791  0.016680

In [14]:
# Additionals informations with PCAMIX
res_pca_pcamix.ind_["infos"].head(6)

                      Weight  Sq. Dist.   Inertia
ABZAC               0.001845   2.511330  0.004633
AILLAS              0.001845   6.605407  0.012187
AMBARES-ET-LAGRAVE  0.001845   7.387985  0.013631
AMBES               0.001845  28.134596  0.051909
ANDERNOS-LES-BAINS  0.001845  24.778230  0.045716
ANGLADE             0.001845   9.040791  0.016680

### Variables

#### Coordinates

In [15]:
# Coordinates with PCA
res_pca.var_["coord"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers    -0.465692 -0.080570  0.372512  0.389654 -0.209886
tradesmen  -0.181722  0.074963 -0.287797  0.122836 -0.019004
managers    0.482380  0.526404  0.036674  0.353827  0.047235
workers    -0.142523 -0.018248  0.021472 -0.911916  0.006805
unemployed  0.388084 -0.144471  0.114246 -0.001392 -0.415233
middleempl  0.435759  0.576423 -0.011734 -0.038227  0.224687

In [16]:
# Coordinates with PCAMIX
res_pca_pcamix.quanti_var_["coord"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers    -0.465692 -0.080570  0.372512  0.389654 -0.209886
tradesmen  -0.181722  0.074963 -0.287797  0.122836 -0.019004
managers    0.482380  0.526404  0.036674  0.353827  0.047235
workers    -0.142523 -0.018248  0.021472 -0.911916  0.006805
unemployed  0.388084 -0.144471  0.114246 -0.001392 -0.415233
middleempl  0.435759  0.576423 -0.011734 -0.038227  0.224687

#### Cos2

In [17]:
# Cos2 with PCA
res_pca.var_["cos2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers     0.216869  0.006491  0.138765  0.151831  0.044052
tradesmen   0.033023  0.005619  0.082827  0.015089  0.000361
managers    0.232690  0.277101  0.001345  0.125194  0.002231
workers     0.020313  0.000333  0.000461  0.831591  0.000046
unemployed  0.150609  0.020872  0.013052  0.000002  0.172419
middleempl  0.189886  0.332263  0.000138  0.001461  0.050484

In [18]:
# Cos2 with PCAMIX
res_pca_pcamix.quanti_var_["cos2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers     0.216869  0.006491  0.138765  0.151831  0.044052
tradesmen   0.033023  0.005619  0.082827  0.015089  0.000361
managers    0.232690  0.277101  0.001345  0.125194  0.002231
workers     0.020313  0.000333  0.000461  0.831591  0.000046
unemployed  0.150609  0.020872  0.013052  0.000002  0.172419
middleempl  0.189886  0.332263  0.000138  0.001461  0.050484

#### Contributions

In [19]:
# Contrib with PCA
res_pca.var_["contrib"].head(6)

               Dim.1      Dim.2     Dim.3      Dim.4      Dim.5
farmers     7.293922   0.242772  6.708159   8.863378   4.088999
tradesmen   1.110656   0.210160  4.004012   0.880834   0.033522
managers    7.826023  10.363163  0.065018   7.308409   0.207099
workers     0.683177   0.012453  0.022287  48.545634   0.004299
unemployed  5.065397   0.780579  0.630971   0.000113  16.004177
middleempl  6.386390  12.426147  0.006656   0.085308   4.686047

In [20]:
# Contrib with PCAMIX
res_pca_pcamix.quanti_var_["contrib"].head(6)

               Dim.1      Dim.2     Dim.3      Dim.4      Dim.5
farmers     7.293922   0.242772  6.708159   8.863378   4.088999
tradesmen   1.110656   0.210160  4.004012   0.880834   0.033522
managers    7.826023  10.363163  0.065018   7.308409   0.207099
workers     0.683177   0.012453  0.022287  48.545634   0.004299
unemployed  5.065397   0.780579  0.630971   0.000113  16.004177
middleempl  6.386390  12.426147  0.006656   0.085308   4.686047

### transform function

In [21]:
# transform with PCA
res_pca.transform(X_quant).head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC              -0.103102 -0.965444  0.290998 -0.935845  0.154062
AILLAS             -0.725706 -0.162440 -0.815956  1.313834 -0.322844
AMBARES-ET-LAGRAVE  2.022919  0.183367  0.872154 -1.054918 -0.141069
AMBES               0.802039 -1.487324  1.104671 -2.157694  3.508191
ANDERNOS-LES-BAINS  1.668860 -0.885000 -2.740887  3.236867  0.647663
ANGLADE            -1.504698 -1.514828  0.797778 -0.897711 -0.556155

In [22]:
# transform with PCAMIX
res_pca_pcamix.transform(X_quant).head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC              -0.103102 -0.965444  0.290998 -0.935845  0.154062
AILLAS             -0.725706 -0.162440 -0.815956  1.313834 -0.322844
AMBARES-ET-LAGRAVE  2.022919  0.183367  0.872154 -1.054918 -0.141069
AMBES               0.802039 -1.487324  1.104671 -2.157694  3.508191
ANDERNOS-LES-BAINS  1.668860 -0.885000 -2.740887  3.236867  0.647663
ANGLADE            -1.504698 -1.514828  0.797778 -0.897711 -0.556155

### Dimensions description

In [23]:
from scientisttools import dimdesc
dimdesc_pca = dimdesc(res_pca_pcamix)
dimdesc_pca.keys()

dict_keys(['Dim.1', 'Dim.2', 'Dim.3', 'Dim.4', 'Dim.5'])

## MCA compare : MCA function Vs. PCAMIX function

In [24]:
from scientisttools import MCA
# MCA with MCA
res_mca = MCA().fit(X_qual)
# MCA with PCAMIX
res_mca_pcamix = PCAMIX().fit(X_qual)

### Eigenvalues

In [25]:
# Eigenvalues with MCA
res_mca.eig_.round(6).head(6)

       eigenvalue  difference  proportion  cumulative
Dim.1    0.613917    0.377826   37.517124   37.517124
Dim.2    0.236091    0.136019   14.427778   51.944903
Dim.3    0.100072    0.007199    6.115495   58.060398
Dim.4    0.092872    0.006788    5.675530   63.735927
Dim.5    0.086084    0.014973    5.260693   68.996620
Dim.6    0.071111    0.002233    4.345698   73.342319

In [26]:
# Eigenvalues with PCAMIX
res_mca_pcamix.eig_.round(6).head(6)

       eigenvalue  difference  proportion  cumulative
Dim.1    6.753082    4.156082   37.517124   37.517124
Dim.2    2.597000    1.496211   14.427778   51.944903
Dim.3    1.100789    0.079194    6.115495   58.060398
Dim.4    1.021595    0.074671    5.675530   63.735927
Dim.5    0.946925    0.164699    5.260693   68.996620
Dim.6    0.782226    0.024562    4.345698   73.342319

The are a splightly different when the functions `MCA` and `PCAMIX` are used. To have the same values as with `MCA`, the eigenvalues should be divided by $p$, the number of categoricals variables.

In [27]:
p = X_qual.shape[1]
(res_mca_pcamix.eig_.iloc[:,0]/p).head(6)

Dim.1    0.613917
Dim.2    0.236091
Dim.3    0.100072
Dim.4    0.092872
Dim.5    0.086084
Dim.6    0.071111
Name: eigenvalue, dtype: float64

### Individuals

#### Coordinates

In [28]:
# Coordinates with MCA
res_mca.ind_["coord"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               0.443833  0.243886 -0.030169 -0.475655 -0.366012
AILLAS             -0.219340 -0.069716  0.373098 -0.183067 -0.372481
AMBARES-ET-LAGRAVE  1.810551 -0.773352  0.558071 -0.289296  0.634435
AMBES               0.792957  0.690039 -0.134162  0.017806 -0.410799
ANDERNOS-LES-BAINS  1.474454 -0.617067  0.020512  0.120249 -0.098138
ANGLADE            -0.325315  0.293205  0.448830  0.849590  0.158192

In [29]:
# Coordinates with PCAMIX
res_mca_pcamix.ind_["coord"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               1.472029  0.808880 -0.100059 -1.577571 -1.213925
AILLAS             -0.727469 -0.231222  1.237426 -0.607166 -1.235379
AMBARES-ET-LAGRAVE  6.004919 -2.564918  1.850911 -0.959488  2.104182
AMBES               2.629941  2.288602 -0.444966  0.059056 -1.362466
ANDERNOS-LES-BAINS  4.890210 -2.046581  0.068030  0.398821 -0.325488
ANGLADE            -1.078948  0.972452  1.488599  2.817773  0.524663

To get identical results, we have to divided by $\sqrt{p}$

In [30]:
import numpy as np
(res_mca_pcamix.ind_["coord"]/np.sqrt(p)).head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               0.443833  0.243886 -0.030169 -0.475655 -0.366012
AILLAS             -0.219340 -0.069716  0.373098 -0.183067 -0.372481
AMBARES-ET-LAGRAVE  1.810551 -0.773352  0.558071 -0.289296  0.634435
AMBES               0.792957  0.690039 -0.134162  0.017806 -0.410799
ANDERNOS-LES-BAINS  1.474454 -0.617067  0.020512  0.120249 -0.098138
ANGLADE            -0.325315  0.293205  0.448830  0.849590  0.158192

#### Cos2

In [31]:
# Cos2 with MCA
res_mca.ind_["cos2"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               0.096760  0.029217  0.000447  0.111133  0.065803
AILLAS              0.043108  0.004355  0.124729  0.030029  0.124317
AMBARES-ET-LAGRAVE  0.576579  0.105194  0.054779  0.014721  0.070796
AMBES               0.251376  0.190358  0.007196  0.000127  0.067466
ANDERNOS-LES-BAINS  0.648363  0.113559  0.000125  0.004312  0.002872
ANGLADE             0.064961  0.052770  0.123655  0.443064  0.015361

In [32]:
# Cos2 with PCAMIX
res_mca_pcamix.ind_["cos2"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               0.096760  0.029217  0.000447  0.111133  0.065803
AILLAS              0.043108  0.004355  0.124729  0.030029  0.124317
AMBARES-ET-LAGRAVE  0.576579  0.105194  0.054779  0.014721  0.070796
AMBES               0.251376  0.190358  0.007196  0.000127  0.067466
ANDERNOS-LES-BAINS  0.648363  0.113559  0.000125  0.004312  0.002872
ANGLADE             0.064961  0.052770  0.123655  0.443064  0.015361

#### Contributions

In [33]:
# Contributions with MCA
res_mca.ind_["contrib"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               0.059201  0.046483  0.001678  0.449469  0.287124
AILLAS              0.014459  0.003798  0.256646  0.066579  0.297362
AMBARES-ET-LAGRAVE  0.985174  0.467386  0.574206  0.166265  0.862684
AMBES               0.188969  0.372108  0.033186  0.000630  0.361690
ANDERNOS-LES-BAINS  0.653362  0.297568  0.000776  0.028726  0.020642
ANGLADE             0.031805  0.067184  0.371409  1.433949  0.053635

In [34]:
# Contributions with PCAMIX
res_mca_pcamix.ind_["contrib"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               0.059201  0.046483  0.001678  0.449469  0.287124
AILLAS              0.014459  0.003798  0.256646  0.066579  0.297362
AMBARES-ET-LAGRAVE  0.985174  0.467386  0.574206  0.166265  0.862684
AMBES               0.188969  0.372108  0.033186  0.000630  0.361690
ANDERNOS-LES-BAINS  0.653362  0.297568  0.000776  0.028726  0.020642
ANGLADE             0.031805  0.067184  0.371409  1.433949  0.053635

#### Additionals informations

In [35]:
# Additionals informations with MCA
res_mca.ind_["infos"].head(6)

                      Weight  Sq. Dist.   Inertia
ABZAC               0.001845   2.035834  0.003756
AILLAS              0.001845   1.116036  0.002059
AMBARES-ET-LAGRAVE  0.001845   5.685423  0.010490
AMBES               0.001845   2.501357  0.004615
ANDERNOS-LES-BAINS  0.001845   3.353080  0.006186
ANGLADE             0.001845   1.629117  0.003006

In [36]:
# Additionals informations with PCAMIX
res_mca_pcamix.ind_["infos"].head(6)

                      Weight  Sq. Dist.   Inertia
ABZAC               0.001845  22.394171  0.041318
AILLAS              0.001845  12.276397  0.022650
AMBARES-ET-LAGRAVE  0.001845  62.539655  0.115387
AMBES               0.001845  27.514928  0.050766
ANDERNOS-LES-BAINS  0.001845  36.883884  0.068051
ANGLADE             0.001845  17.920292  0.033063

### Categories

#### Cooridnates

In [37]:
# Coordinates with MCA
res_mca.var_["coord"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   1.466782 -0.218670 -0.048993 -0.102249  0.054809
 sup 90%  -0.377756  0.056317  0.012618  0.026333 -0.014115
 inf 5%   -0.362358  0.043832 -0.025736  0.009729 -0.019193
 sup 5%    1.360431 -0.164561  0.096622 -0.036526  0.072059
butcher_0 -0.483268 -0.046253  0.002565  0.097323 -0.303670
butcher_1  0.473062  0.704856 -0.071648 -0.842752  1.674679

In [38]:
# Coordinates with PCAMIX
res_mca_pcamix.quali_var_["coord"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   1.466782 -0.218670 -0.048993 -0.102249  0.054809
 sup 90%  -0.377756  0.056317  0.012618  0.026333 -0.014115
 inf 5%   -0.362358  0.043832 -0.025736  0.009729 -0.019193
 sup 5%    1.360431 -0.164561  0.096622 -0.036526  0.072059
butcher_0 -0.483268 -0.046253  0.002565  0.097323 -0.303670
butcher_1  0.473062  0.704856 -0.071648 -0.842752  1.674679

#### Cos2

In [39]:
# Cos2 with MCA
res_mca.var_["cos2"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   0.554086  0.012315  0.000618  0.002693  0.000774
 sup 90%   0.554086  0.012315  0.000618  0.002693  0.000774
 inf 5%    0.492963  0.007213  0.002487  0.000355  0.001383
 sup 5%    0.492963  0.007213  0.002487  0.000355  0.001383
butcher_0  0.506702  0.004641  0.000014  0.020550  0.200070
butcher_1  0.047561  0.105589  0.001091  0.150944  0.596045

In [40]:
# Cos2 with PCAMIX
res_mca_pcamix.quali_var_["cos2"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   0.554086  0.012315  0.000618  0.002693  0.000774
 sup 90%   0.554086  0.012315  0.000618  0.002693  0.000774
 inf 5%    0.492963  0.007213  0.002487  0.000355  0.001383
 sup 5%    0.492963  0.007213  0.002487  0.000355  0.001383
butcher_0  0.506702  0.004641  0.000014  0.020550  0.200070
butcher_1  0.047561  0.105589  0.001091  0.150944  0.596045

#### Contributions

In [41]:
# Contributions with MCA
res_mca.var_["contrib"].head(6)

              Dim.1     Dim.2     Dim.3      Dim.4      Dim.5
 inf 90%   6.524587  0.377078  0.044657   0.209587   0.064969
 sup 90%   1.680346  0.097113  0.011501   0.053977   0.016732
 inf 5%    1.535387  0.058418  0.047514   0.007316   0.030720
 sup 5%    5.764436  0.219324  0.178384   0.027469   0.115336
butcher_0  2.367270  0.056387  0.000409   0.634644   6.665981
butcher_1  0.580843  3.353150  0.081740  12.185546  51.912478

In [42]:
# Contributions with FAMD
res_mca_pcamix.quali_var_["contrib"].head(6)

              Dim.1     Dim.2     Dim.3      Dim.4      Dim.5
 inf 90%   6.524587  0.377078  0.044657   0.209587   0.064969
 sup 90%   1.680346  0.097113  0.011501   0.053977   0.016732
 inf 5%    1.535387  0.058418  0.047514   0.007316   0.030720
 sup 5%    5.764436  0.219324  0.178384   0.027469   0.115336
butcher_0  2.367270  0.056387  0.000409   0.634644   6.665981
butcher_1  0.580843  3.353150  0.081740  12.185546  51.912478

#### Vtest

In [43]:
# Vtest with MCA
res_mca.var_["vtest"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4      Dim.5
 inf 90%   17.313592 -2.581139 -0.578306 -1.206929   0.646951
 sup 90%  -17.313592  2.581139  0.578306  1.206929  -0.646951
 inf 5%   -16.330739  1.975401 -1.159863  0.438464  -0.865000
 sup 5%    16.330739 -1.975401  1.159863 -0.438464   0.865000
butcher_0 -16.556752 -1.584626  0.087887  3.334301 -10.403752
butcher_1   5.072534  7.558002 -0.768270 -9.036629  17.957179

In [44]:
# Vtest with PCAMIX
res_mca_pcamix.quali_var_["vtest"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4      Dim.5
 inf 90%   6.662484 -1.601679 -0.551195 -1.194104   0.664835
 sup 90%  -6.662484  1.601679  0.551195  1.194104  -0.664835
 inf 5%   -6.284270  1.225799 -1.105489  0.433805  -0.888911
 sup 5%    6.284270 -1.225799  1.105489 -0.433805   0.888911
butcher_0 -6.371242 -0.983310  0.083767  3.298871 -10.691343
butcher_1  1.951974  4.689980 -0.732254 -8.940607  18.453570

#### Eta2

In [45]:
# Eta2 with MCA
res_mca.var_["eta2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
houses      0.554086  0.012315  0.000618  0.002693  0.000774
council     0.492963  0.007213  0.002487  0.000355  0.001383
butcher     0.637287  0.148756  0.001736  0.177873  0.607034
baker       0.766439  0.358999  0.171058  0.007964  0.010297
postoffice  0.671928  0.081739  0.001015  0.003380  0.000616
dentist     0.804505  0.453030  0.212611  0.001797  0.109096

In [46]:
# Eta2 with PCAMIX
res_mca_pcamix.quali_var_["eta2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
houses      0.554086  0.012315  0.000618  0.002693  0.000774
council     0.492963  0.007213  0.002487  0.000355  0.001383
butcher     0.637287  0.148756  0.001736  0.177873  0.607034
baker       0.766439  0.358999  0.171058  0.007964  0.010297
postoffice  0.671928  0.081739  0.001015  0.003380  0.000616
dentist     0.804505  0.453030  0.212611  0.001797  0.109096

#### Additionals informations

In [47]:
# Additionals informations with MCA
res_mca.var_["infos"].head(6)

             Weight  Sq. Dist.   Inertia
 inf 90%   0.018618   3.882883  0.072291
 sup 90%   0.072291   0.257541  0.018618
 inf 5%    0.071788   0.266355  0.019121
 sup 5%    0.019121   3.754386  0.071788
butcher_0  0.062227   0.460916  0.028682
butcher_1  0.015934   4.705263  0.074975

In [48]:
# Additionals informations with PCAMIX
res_mca_pcamix.quali_var_["infos"].head(6)

             Weight  Sq. Dist.    Inertia
 inf 90%   4.882883   3.882883  18.959662
 sup 90%   1.257541   0.257541   0.323868
 inf 5%    1.266355   0.266355   0.337300
 sup 5%    4.754386   3.754386  17.849800
butcher_0  1.460916   0.460916   0.673360
butcher_1  5.705263   4.705263  26.844765

### transform function

In [49]:
# transform with MCA
res_mca.transform(X_qual).head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               0.443833  0.243886 -0.030169 -0.475655 -0.366012
AILLAS             -0.219340 -0.069716  0.373098 -0.183067 -0.372481
AMBARES-ET-LAGRAVE  1.810551 -0.773352  0.558071 -0.289296  0.634435
AMBES               0.792957  0.690039 -0.134162  0.017806 -0.410799
ANDERNOS-LES-BAINS  1.474454 -0.617067  0.020512  0.120249 -0.098138
ANGLADE            -0.325315  0.293205  0.448830  0.849590  0.158192

In [50]:
# transform with PCAMIX
res_mca_pcamix.transform(X_qual).head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               1.472029  0.808880 -0.100059 -1.577571 -1.213925
AILLAS             -0.727469 -0.231222  1.237426 -0.607166 -1.235379
AMBARES-ET-LAGRAVE  6.004919 -2.564918  1.850911 -0.959488  2.104182
AMBES               2.629941  2.288602 -0.444966  0.059056 -1.362466
ANDERNOS-LES-BAINS  4.890210 -2.046581  0.068030  0.398821 -0.325488
ANGLADE            -1.078948  0.972452  1.488599  2.817773  0.524663

In [51]:
# correction
(res_mca_pcamix.transform(X_qual)/np.sqrt(p)).head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               0.443833  0.243886 -0.030169 -0.475655 -0.366012
AILLAS             -0.219340 -0.069716  0.373098 -0.183067 -0.372481
AMBARES-ET-LAGRAVE  1.810551 -0.773352  0.558071 -0.289296  0.634435
AMBES               0.792957  0.690039 -0.134162  0.017806 -0.410799
ANDERNOS-LES-BAINS  1.474454 -0.617067  0.020512  0.120249 -0.098138
ANGLADE            -0.325315  0.293205  0.448830  0.849590  0.158192

### Dimensions description

In [52]:
# Dimension description
dimdesc_mca = dimdesc(res_mca_pcamix)
dimdesc_mca.keys()

dict_keys(['Dim.1', 'Dim.2', 'Dim.3', 'Dim.4', 'Dim.5'])

## PCAMIX with supplementary elements

In [53]:
# PCAMIX with supplementary elements
res_pcamix = PCAMIX(n_components=5,quanti_sup=list(range(23,27)),quali_sup=list(range(14,23)),ind_sup=list(range(500,542))).fit(gironde)

### Eigenvalues

In [54]:
res_pcamix.eig_.head(6)

       eigenvalue  difference  proportion  cumulative
Dim.1    2.977484    0.371049   21.267744   21.267744
Dim.2    2.606435    0.881770   18.617395   39.885138
Dim.3    1.724665    0.594566   12.319035   52.204173
Dim.4    1.130099    0.101382    8.072136   60.276309
Dim.5    1.028717    0.133861    7.347981   67.624290
Dim.6    0.894857    0.172108    6.391834   74.016124

### Individuals informations

#### Coordinates

In [55]:
# Coordinates with PCAMIX
res_pcamix.ind_["coord"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC              -2.353874 -0.553843 -0.690211  0.236016 -0.760749
AILLAS              0.799116 -0.720694  1.279407 -0.024095  0.672262
AMBARES-ET-LAGRAVE -2.806093  1.508796 -0.879505 -0.026881  0.331175
AMBES              -1.455150 -0.523315 -1.754230 -0.605212 -0.087752
ANDERNOS-LES-BAINS -1.351779 -0.593253  3.636821  1.391136 -0.153739
ANGLADE             0.633132 -1.924267 -1.054038 -0.159414  1.333157

#### Cos2

In [56]:
# Cos2 with PCAMIX
res_pcamix.ind_["cos2"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               0.534527  0.029592  0.045959  0.005374  0.055832
AILLAS              0.098244  0.079907  0.251828  0.000089  0.069529
AMBARES-ET-LAGRAVE  0.573087  0.165683  0.056298  0.000053  0.007982
AMBES               0.217612  0.028145  0.316257  0.037643  0.000791
ANDERNOS-LES-BAINS  0.076701  0.014773  0.555180  0.081232  0.000992
ANGLADE             0.053156  0.491016  0.147325  0.003370  0.235683

#### Contributions

In [57]:
# Contributions
res_pcamix.ind_["contrib"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               0.372175  0.023537  0.055244  0.009858  0.112516
AILLAS              0.042894  0.039855  0.189820  0.000103  0.087864
AMBARES-ET-LAGRAVE  0.528914  0.174680  0.089702  0.000128  0.021323
AMBES               0.142232  0.021014  0.356860  0.064823  0.001497
ANDERNOS-LES-BAINS  0.122742  0.027006  1.533801  0.342494  0.004595
ANGLADE             0.026926  0.284128  0.128836  0.004497  0.345539

#### Additionals informations

In [58]:
# Additionals informations
res_pcamix.ind_["infos"].head(6)

                    Weight  Sq. Dist.   Inertia
ABZAC                0.002  10.365663  0.020731
AILLAS               0.002   6.500014  0.013000
AMBARES-ET-LAGRAVE   0.002  13.739911  0.027480
AMBES                0.002   9.730444  0.019461
ANDERNOS-LES-BAINS   0.002  23.823765  0.047648
ANGLADE              0.002   7.541109  0.015082

### Continuous variables

#### Coordinates

In [59]:
# Coordinates
res_pcamix.quanti_var_["coord"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers     0.367990 -0.281735  0.374102 -0.496544 -0.257779
tradesmen   0.189704 -0.071235  0.071320  0.709828  0.447461
managers   -0.078325  0.710428  0.376557 -0.001889  0.024234
workers     0.031972 -0.080361 -0.917772  0.071897 -0.193230
unemployed -0.370225  0.093621  0.014869 -0.482856  0.747657
middleempl -0.060751  0.711233 -0.032906  0.157459 -0.127758

#### Cos2

In [60]:
# Cos2
res_pcamix.quanti_var_["cos2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers     0.135417  0.079375  0.139952  0.246556  0.066450
tradesmen   0.035988  0.005074  0.005087  0.503855  0.200222
managers    0.006135  0.504708  0.141795  0.000004  0.000587
workers     0.001022  0.006458  0.842306  0.005169  0.037338
unemployed  0.137066  0.008765  0.000221  0.233150  0.558991
middleempl  0.003691  0.505853  0.001083  0.024793  0.016322

#### Contributions

In [61]:
# Contributions
res_pcamix.quanti_var_["contrib"].head(6)

               Dim.1      Dim.2      Dim.3      Dim.4      Dim.5
farmers     4.548030   3.045334   8.114742  21.817199   6.459516
tradesmen   1.208655   0.194691   0.294933  44.585069  19.463234
managers    0.206042  19.363922   8.221618   0.000316   0.057090
workers     0.034332   0.247770  48.838807   0.457411   3.629548
unemployed  4.603429   0.336282   0.012820  20.630922  54.338676
middleempl  0.123952  19.407830   0.062784   2.193921   1.586645

### Categoricals variables

#### Coordinates

In [62]:
# Coordinates
res_pcamix.quali_var_["coord"].head(6)

            Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
inf 90% -1.583212  0.129191  0.241148  0.339178 -0.380960
sup 90%  0.385957 -0.031494 -0.058787 -0.082685  0.092871
inf 5%   0.378614 -0.054196  0.003323 -0.012353  0.074532
sup 5%  -1.514456  0.216785 -0.013294  0.049412 -0.298130

#### Cos2

In [63]:
# Cos2
res_pcamix.quali_var_["cos2"].head(6)

            Dim.1     Dim.2     Dim.3     Dim.4    Dim.5
inf 90%  0.611052  0.004069  0.014176  0.028045  0.03538
sup 90%  0.611052  0.004069  0.014176  0.028045  0.03538
inf 5%   0.573394  0.011749  0.000044  0.000610  0.02222
sup 5%   0.573394  0.011749  0.000044  0.000610  0.02222

#### Contributions

In [64]:
# Contributions
res_pcamix.quali_var_["contrib"].head(6)

             Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
inf 90%  16.500026  0.125509  0.660872  1.995245  2.765153
sup 90%   4.022395  0.030597  0.161108  0.486403  0.674092
inf 5%    3.851536  0.090153  0.000512  0.010803  0.432000
sup 5%   15.406143  0.360614  0.002049  0.043210  1.728001

#### Vtest

In [65]:
# Vtest
res_pcamix.quali_var_["vtest"].head(6)

             Dim.1     Dim.2    Dim.3     Dim.4     Dim.5
inf 90% -10.119628  0.882592  2.02526  3.519009 -4.142685
sup 90%  10.119628 -0.882592 -2.02526 -3.519009  4.142685
inf 5%    9.802847 -1.499776  0.11306 -0.519157  3.283049
sup 5%   -9.802847  1.499776 -0.11306  0.519157 -3.283049

### Variables informations

#### Coordinates

In [66]:
# Coordinates
res_pcamix.var_["coord"]

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers     0.135417  0.079375  0.139952  0.246556  0.066450
tradesmen   0.035988  0.005074  0.005087  0.503855  0.200222
managers    0.006135  0.504708  0.141795  0.000004  0.000587
workers     0.001022  0.006458  0.842306  0.005169  0.037338
unemployed  0.137066  0.008765  0.000221  0.233150  0.558991
middleempl  0.003691  0.505853  0.001083  0.024793  0.016322
retired     0.001972  0.362791  0.293846  0.032316  0.017363
employrate  0.293811  0.280132  0.020154  0.002878  0.043738
income      0.013008  0.460189  0.119570  0.016496  0.000744
density     0.483319  0.029760  0.009449  0.003794  0.000027
primaryres  0.000054  0.329788  0.136216  0.032360  0.000008
owners      0.681556  0.017724  0.000765  0.000071  0.029326
houses      0.611052  0.004069  0.014176  0.028045  0.035380
council     0.573394  0.011749  0.000044  0.000610  0.022220

#### Cos2

In [67]:
# Cos2
res_pcamix.var_["cos2"].round(4)

             Dim.1   Dim.2   Dim.3   Dim.4   Dim.5
farmers     0.0183  0.0063  0.0196  0.0608  0.0044
tradesmen   0.0013  0.0000  0.0000  0.2539  0.0401
managers    0.0000  0.2547  0.0201  0.0000  0.0000
workers     0.0000  0.0000  0.7095  0.0000  0.0014
unemployed  0.0188  0.0001  0.0000  0.0544  0.3125
middleempl  0.0000  0.2559  0.0000  0.0006  0.0003
retired     0.0000  0.1316  0.0863  0.0010  0.0003
employrate  0.0863  0.0785  0.0004  0.0000  0.0019
income      0.0002  0.2118  0.0143  0.0003  0.0000
density     0.2336  0.0009  0.0001  0.0000  0.0000
primaryres  0.0000  0.1088  0.0186  0.0010  0.0000
owners      0.4645  0.0003  0.0000  0.0000  0.0009
houses      0.3734  0.0000  0.0002  0.0008  0.0013
council     0.3288  0.0001  0.0000  0.0000  0.0005

#### Contributions

In [68]:
# Contributions
res_pcamix.var_["contrib"].round(4)

              Dim.1    Dim.2    Dim.3    Dim.4    Dim.5
farmers      4.5480   3.0453   8.1147  21.8172   6.4595
tradesmen    1.2087   0.1947   0.2949  44.5851  19.4632
managers     0.2060  19.3639   8.2216   0.0003   0.0571
workers      0.0343   0.2478  48.8388   0.4574   3.6295
unemployed   4.6034   0.3363   0.0128  20.6309  54.3387
middleempl   0.1240  19.4078   0.0628   2.1939   1.5866
retired      0.0662  13.9191  17.0379   2.8596   1.6879
employrate   9.8678  10.7477   1.1686   0.2547   4.2517
income       0.4369  17.6559   6.9330   1.4597   0.0724
density     16.2325   1.1418   0.5479   0.3357   0.0026
primaryres   0.0018  12.6529   7.8981   2.8635   0.0008
owners      22.8903   0.6800   0.0444   0.0063   2.8507
houses      20.5224   0.1561   0.8220   2.4816   3.4392
council     19.2577   0.4508   0.0026   0.0540   2.1600

### Supplementary individuals

#### Coordinates

In [69]:
# Coordinates
res_pcamix.ind_sup_["coord"].head(6)

                   Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
SOULAC-SUR-MER -2.666900 -4.279495  3.753405  2.625033  0.052186
SOULIGNAC       1.340875  0.225770  0.079509 -0.146173 -0.655464
SOUSSAC         0.677251 -2.118635 -1.343592 -1.028309 -1.566920
SOUSSANS        0.619208  0.341476 -1.635972  0.042331 -0.610395
TABANAC         1.007543  2.216690  1.716478  0.564855  1.966991
TAILLAN-MEDOC  -0.679460  3.677564  1.238170 -0.254216  0.049825

#### Cos2

In [70]:
# Cos2
res_pcamix.ind_sup_["cos2"].head(6)

                   Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
SOULAC-SUR-MER  0.109160  0.281083  0.216222  0.105759  0.000042
SOULIGNAC       0.613395  0.017390  0.002157  0.007290  0.146575
SOUSSAC         0.026602  0.260328  0.104699  0.061328  0.142398
SOUSSANS        0.077639  0.023612  0.541949  0.000363  0.075445
TABANAC         0.074438  0.360310  0.216044  0.023396  0.283708
TAILLAN-MEDOC   0.022587  0.661686  0.075005  0.003162  0.000121

#### dist

In [71]:
# Distance to origin
res_pcamix.ind_sup_["dist"].head(6)

SOULAC-SUR-MER    65.155442
SOULIGNAC          2.931138
SOUSSAC           17.242134
SOUSSANS           4.938475
TABANAC           13.637457
TAILLAN-MEDOC     20.439419
Name: Sq. Dist., dtype: float64

### Supplementary individuals

#### Coordinates

In [72]:
# Coordinates
res_pcamix.quanti_sup_["coord"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
building   -0.683290  0.145940  0.119445 -0.041141 -0.039481
water      -0.176663  0.029149 -0.042111  0.022399 -0.059733
vegetation  0.074411  0.027978 -0.027139  0.251303  0.079816
agricul     0.336991 -0.177465 -0.013882 -0.244484 -0.040352

#### Cos2

In [73]:
# Cos2
res_pcamix.quanti_sup_["cos2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
building    0.466885  0.021299  0.014267  0.001693  0.001559
water       0.031210  0.000850  0.001773  0.000502  0.003568
vegetation  0.005537  0.000783  0.000737  0.063153  0.006371
agricul     0.113563  0.031494  0.000193  0.059772  0.001628

### Supplementary qualitatives/categories

#### Coordinates

In [74]:
# Coordinates
res_pcamix.quali_sup_["coord"].head(6)

                   Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
butcher_0       0.342650 -0.077430 -0.033572 -0.063171  0.007948
butcher_1      -0.312612  0.102962 -0.128118  0.087083  0.040982
butcher_2 or + -1.433319  0.279454  0.358709  0.223753 -0.099570
baker_0         0.469016 -0.128264  0.014606 -0.120332 -0.023934
baker_1        -0.089029 -0.036987 -0.262966  0.065944  0.138218
baker_2 or +   -1.070541  0.355758  0.233887  0.230395 -0.082657

#### Cos2

In [75]:
# Cos2
res_pcamix.quali_sup_["cos2"].head(6)

                   Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
butcher_0       0.268805  0.013726  0.002580  0.009136  0.000145
butcher_1       0.020874  0.002264  0.003506  0.001620  0.000359
butcher_2 or +  0.301564  0.011463  0.018888  0.007349  0.001455
baker_0         0.268859  0.020108  0.000261  0.017698  0.000700
baker_1         0.002341  0.000404  0.020423  0.001284  0.005642
baker_2 or +    0.327024  0.036115  0.015609  0.015147  0.001950

#### Vtest

In [76]:
# Vtest
res_pcamix.quali_sup_["vtest"].head(6)

                   Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
butcher_0       6.711880 -1.621083 -0.864056 -2.008524  0.264878
butcher_1      -1.870353  0.658412 -1.007164  0.845700  0.417150
butcher_2 or + -7.109107  1.481438  2.337693  1.801391 -0.840189
baker_0         6.712558 -1.962036  0.274667 -2.795435 -0.582771
baker_1        -0.626350 -0.278124 -2.430838  0.753049  1.654348
baker_2 or +   -7.403130  2.629472  2.125153  2.586137 -0.972458

#### Eta2

In [77]:
# Eta2
res_pcamix.quali_sup_["eta2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
butcher     0.361880  0.016035  0.020143  0.010520  0.001609
baker       0.377219  0.037458  0.028028  0.020740  0.006188
postoffice  0.319323  0.024346  0.000115  0.017435  0.000172
dentist     0.416428  0.070218  0.024891  0.013981  0.004617
grocery     0.091229  0.000126  0.000054  0.006202  0.003503
nursery     0.232383  0.042785  0.009353  0.001728  0.000362

#### Distance to origin

In [78]:
# dist
res_pcamix.quali_sup_["dist"].head(6)

butcher_0         0.211584
butcher_1         0.145024
butcher_2 or +    0.111616
baker_0           0.247500
baker_1           0.176016
baker_2 or +      0.172716
Name: Sq. Dist., dtype: float64

### transform function

In [79]:
ind_sup = gironde.iloc[500:,:14]
ind_sup.shape

(42, 14)

In [80]:
res_pcamix.transform(ind_sup).head(6)

                   Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
SOULAC-SUR-MER -2.666900 -4.279495  3.753405  2.625033  0.052186
SOULIGNAC       1.340875  0.225770  0.079509 -0.146173 -0.655464
SOUSSAC         0.677251 -2.118635 -1.343592 -1.028309 -1.566920
SOUSSANS        0.619208  0.341476 -1.635972  0.042331 -0.610395
TABANAC         1.007543  2.216690  1.716478  0.564855  1.966991
TAILLAN-MEDOC  -0.679460  3.677564  1.238170 -0.254216  0.049825

### Summary

In [81]:
res_pcamix.summary_quali_

     group    variable          categorie  count
0   active      houses            sup 90%    402
1   active      houses            inf 90%     98
2   active     council             inf 5%    400
3   active     council             sup 5%    100
4      sup     butcher          butcher_0    348
5      sup     butcher          butcher_1     88
6      sup     butcher     butcher_2 or +     64
7      sup       baker            baker_0    275
8      sup       baker            baker_1    114
9      sup       baker       baker_2 or +    111
10     sup  postoffice       postoffice_0    321
11     sup  postoffice  postoffice_1 or +    179
12     sup     dentist          dentist_0    352
13     sup     dentist     dentist_1 to 2     84
14     sup     dentist     dentist_3 or +     64
15     sup     grocery          grocery_0    343
16     sup     grocery     grocery_1 or +    157
17     sup     nursery          nursery_0    481
18     sup     nursery     nursery_1 or +     19
19     sup      doctor           doctor_0    303
20     sup      doctor      doctor_3 or +    113
21     sup      doctor      doctor_1 to 2     84
22     sup     chemist          chemist_0    331
23     sup     chemist          chemist_1     99
24     sup     chemist     chemist_2 or +     70
25     sup  restaurant       restaurant_0    229
26     sup  restaurant       restaurant_1    114
27     sup  restaurant  restaurant_3 or +    108
28     sup  restaurant       restaurant_2     49

In [82]:
res_pcamix.summary_quanti_

,group,variable,count,mean,std,min,25%,50%,75%,max
0,active,farmers,500,3.539040,4.625035,0.000000,0.517500,1.990000,4.715000,33.330000
1,active,tradesmen,500,4.169240,2.390789,0.000000,2.750000,3.985000,5.260000,16.130000
2,active,managers,500,5.248400,3.552593,0.000000,2.722500,4.650000,7.140000,22.730000
3,active,workers,500,33.627240,7.599683,0.000000,28.722500,33.695000,38.430000,57.140000
4,active,unemployed,500,13.369020,4.086133,0.000000,11.232500,13.590000,15.632500,33.330000
5,active,middleempl,500,11.967780,4.835190,0.000000,8.547500,11.715000,15.400000,31.580000
6,active,retired,500,28.079140,7.073770,9.330000,23.140000,27.450000,32.140000,51.280000
7,active,employrate,500,90.359960,3.355223,75.080000,88.345000,90.685000,92.760000,100.000000
8,active,income,498,20993.145261,4650.659387,12187.160000,18353.375000,19919.195000,22751.552500,70061.620000
9,active,density,500,184.037280,491.005909,1.860000,35.705000,68.020000,132.480000,4988.240000
10,active,primaryres,500,86.362000,9.231836,23.390000,83.360000,87.715000,91.775000,98.240000
11,active,owners,500,72.851400,10.658054,29.160000,68.307500,74.655000,80.115000,95.730000
12,sup,building,500,1.628714,2.845606,0.032839,0.594598,0.953998,1.516481,30.585612
13,sup,water,500,2.558615,6.413053,0.000000,0.085627,0.265947,2.044930,53.175072
14,sup,vegetation,500,35.374320,23.075524,2.107581,19.054566,27.996413,44.783881,98.085493
15,sup,agricul,500,52.118949,25.315030,0.000000,36.229709,59.041565,71.693435,94.551011

In [83]:
res_pcamix.chi2_test_

     variable1   variable2   statistic  dof         pvalue
0       houses     council  149.409204    1   2.333970e-34
1      butcher       baker  237.590569    4   3.064102e-50
2      butcher  postoffice  181.310188    2   4.255916e-40
3      butcher     dentist  235.199552    4   1.002652e-49
4      butcher     grocery   51.968829    2   5.189341e-12
5      butcher     nursery   79.296731    2   6.038564e-18
6      butcher      doctor  267.516647    4   1.094092e-56
7      butcher     chemist  304.420219    4   1.205804e-64
8      butcher  restaurant  201.517592    6   9.019174e-41
9        baker  postoffice  261.412467    2   1.717924e-57
10       baker     dentist  331.131150    4   2.076680e-70
11       baker     grocery   54.172810    2   1.723946e-12
12       baker     nursery   69.215785    2   9.332181e-16
13       baker      doctor  401.299717    4   1.457040e-85
14       baker     chemist  391.911767    4   1.555285e-83
15       baker  restaurant  299.985782    6   8.237913e-62
16  postoffice     dentist  261.163044    2   1.946102e-57
17  postoffice     grocery   57.703731    1   3.047243e-14
18  postoffice     nursery   35.418530    1   2.659447e-09
19  postoffice      doctor  315.150107    2   3.681491e-69
20  postoffice     chemist  327.315070    2   8.403026e-72
21  postoffice  restaurant  193.953321    3   8.542446e-42
22     dentist     grocery   53.556795    2   2.345793e-12
23     dentist     nursery  134.550416    2   6.063850e-30
24     dentist      doctor  397.845982    4   8.122793e-85
25     dentist     chemist  503.568802    4  1.132855e-107
26     dentist  restaurant  265.564867    6   1.928033e-54
27     grocery     nursery   25.572062    1   4.261652e-07
28     grocery      doctor   66.723450    2   3.244793e-15
29     grocery     chemist   61.812437    2   3.780941e-14
30     grocery  restaurant   55.352857    3   5.773425e-12
31     nursery      doctor   67.641161    2   2.050731e-15
32     nursery     chemist   94.293015    2   3.346046e-21
33     nursery  restaurant   54.410046    3   9.174045e-12
34      doctor     chemist  503.973867    4  9.258985e-108
35      doctor  restaurant  326.286539    6   1.893261e-67
36     chemist  restaurant  316.680987    6   2.173886e-65
37     butcher      houses  135.933334    2   3.037047e-30
38     butcher     council  140.123759    2   3.736907e-31
39       baker      houses  165.667324    2   1.061201e-36
40       baker     council  154.315795    2   3.095643e-34
41  postoffice      houses  148.834039    1   3.117579e-34
42  postoffice     council  116.084948    1   4.553677e-27
43     dentist      houses  186.921854    2   2.572973e-41
44     dentist     council  162.374442    2   5.506022e-36
45     grocery      houses   19.576820    1   9.663454e-06
46     grocery     council   22.292994    1   2.340590e-06
47     nursery      houses   61.191866    1   5.177500e-15
48     nursery     council   68.949010    1   1.010424e-16
49      doctor      houses  177.390946    2   3.020268e-39
50      doctor     council  158.902260    2   3.124732e-35
51     chemist      houses  220.296978    2   1.455858e-48
52     chemist     council  180.815980    2   5.448901e-40
53  restaurant      houses  185.020758    3   7.263263e-40
54  restaurant     council  126.040485    3   3.857067e-27

### Dimension description

In [84]:
# Dimension description
dimdesc_pcamix = dimdesc(res_pcamix)
dimdesc_pcamix.keys()

dict_keys(['Dim.1', 'Dim.2', 'Dim.3', 'Dim.4', 'Dim.5'])

### Extract elements

In [85]:
from scientisttools import get_pcamix, summaryPCAMIX
ind = get_pcamix(res_pcamix,choice="ind")
quanti_var = get_pcamix(res_pcamix, choice = "quanti_var")
quali_var = get_pcamix(res_pcamix,choice = "quali_var")
var = get_pcamix(res_pcamix, choice="var")
summaryPCAMIX(res_pcamix)

                Principal Component Analysis of Mixed Data - Results

Importance of components
                          Dim.1   Dim.2   Dim.3   Dim.4   Dim.5
Variance                  2.977   2.606   1.725   1.130   1.029
Difference                0.371   0.882   0.595   0.101   0.134
% of var.                21.268  18.617  12.319   8.072   7.348
Cumulative of % of var.  21.268  39.885  52.204  60.276  67.624

Individuals (the 10 first)

                    Weight  Sq. Dist.  Inertia  Dim.1    ctr   cos2  Dim.2  \
ABZAC                0.002     10.366    0.021 -2.354  0.372  0.535 -0.554
AILLAS               0.002      6.500    0.013  0.799  0.043  0.098 -0.721
AMBARES-ET-LAGRAVE   0.002     13.740    0.027 -2.806  0.529  0.573  1.509
AMBES                0.002      9.730    0.019 -1.455  0.142  0.218 -0.523
ANDERNOS-LES-BAINS   0.002     23.824    0.048 -1.352  0.123  0.077 -0.593
ANGLADE              0.002      7.541    0.015  0.633  0.027  0.053 -1.924
ARBANATS             0.002      4.827    0.010  0.760  0.039  0.120  1.231
ARBIS                0.002     16.139    0.032  0.714  0.034  0.032 -0.853
ARCACHON             0.002     65.427    0.131 -4.384  1.291  0.294 -2.936
ARCINS               0.002     15.791    0.032  0.942  0.060  0.056  0.312

                      ctr   cos2  Dim.3    ctr   cos2
ABZAC               0.024  0.030 -0.690  0.055  0.046
AILLAS              0.040  0.080  1.279  0.190  0.252
AMBARES-ET-LAGRAVE  0.175  0.166 -0.880  0.090  0.056
AMBES               0.021  0.028 -1.754  0.357  0.316
ANDERNOS-LES-BAINS  0.027  0.015  3.637  1.534  0.555
ANGLADE             0.284  0.491 -1.054  0.129  0.147
ARBANATS            0.116  0.314 -1.128  0.148  0.264
ARBIS               0.056  0.045  2.236  0.580  0.310
ARCACHON            0.661  0.132  4.618  2.473  0.326
ARCINS              0.007  0.006 -3.343  1.296  0.708

Supplementary individuals (the 10 first)

                Sq. Dist.  Dim.1   cos2  Dim.2   cos2  Dim.3   cos2
SOULAC-SUR-MER     65.155 -2.667  0.109 -4.279  0.281  3.753  0.216
SOULIGNAC           2.931  1.341  0.613  0.226  0.017  0.080  0.002
SOUSSAC            17.242  0.677  0.027 -2.119  0.260 -1.344  0.105
SOUSSANS            4.938  0.619  0.078  0.341  0.024 -1.636  0.542
TABANAC            13.637  1.008  0.074  2.217  0.360  1.716  0.216
TAILLAN-MEDOC      20.439 -0.679  0.023  3.678  0.662  1.238  0.075
TAILLECAVAT        10.523  1.082  0.111 -1.094  0.114  2.184  0.453
TALAIS             25.706 -0.173  0.001 -4.220  0.693  0.810  0.025
TALENCE           138.871 -8.768  0.554  3.264  0.077  1.473  0.016
TARGON              6.920 -0.533  0.041 -0.092  0.001  0.056  0.000

Continuous variables (the 10 first)

            Dim.1     ctr   cos2  Dim.2     ctr   cos2  Dim.3     ctr   cos2
farmers     0.368   4.548  0.135 -0.282   3.045  0.079  0.374   8.115  0.140
tradesmen   0.190   1.209  0.036 -0.071   0.195  0.005  0.071   0.295  0.005
managers   -0.078   0.206  0.006  0.710  19.364  0.505  0.377   8.222  0.142
workers     0.032   0.034  0.001 -0.080   0.248  0.006 -0.918  48.839  0.842
unemployed -0.370   4.603  0.137  0.094   0.336  0.009  0.015   0.013  0.000
middleempl -0.061   0.124  0.004  0.711  19.408  0.506 -0.033   0.063  0.001
retired    -0.044   0.066  0.002 -0.602  13.919  0.363  0.542  17.038  0.294
employrate  0.542   9.868  0.294  0.529  10.748  0.280  0.142   1.169  0.020
income      0.114   0.437  0.013  0.678  17.656  0.460  0.346   6.933  0.120
density    -0.695  16.232  0.483  0.173   1.142  0.030  0.097   0.548  0.009

Supplementary continuous variables

            Dim.1   cos2  Dim.2   cos2  Dim.3   cos2
building   -0.683  0.467  0.146  0.021  0.119  0.014
water      -0.177  0.031  0.029  0.001 -0.042  0.002
vegetation  0.074  0.006  0.028  0.001 -0.027  0.001
agricul     0.337  0.114 -0.177  0.031 -0.014  0.000

Categories

         Weight  Sq. Dist.  Inertia  Dim.1     ctr   cos2   vtest  Dim.2  \
inf 90%   5.102      4.102   20.929 -1.583  16.500  0.611 -10.120  0.129
sup 90%   1.244      0.244    0.303  0.386   4.022  0.611  10.120 -0.031
inf 5%    1.250      0.250    0.312  0.379   3.852  0.573   9.803 -0.054
sup 5%    5.000      4.000   20.000 -1.514  15.406  0.573  -9.803  0.217

           ctr   cos2  vtest  Dim.3    ctr   cos2  vtest
inf 90%  0.126  0.004  0.883  0.241  0.661  0.014  2.025
sup 90%  0.031  0.004 -0.883 -0.059  0.161  0.014 -2.025
inf 5%   0.090  0.012 -1.500  0.003  0.001  0.000  0.113
sup 5%   0.361  0.012  1.500 -0.013  0.002  0.000 -0.113

Categoricals variables (eta2)

         Dim.1  Dim.2  Dim.3
houses   0.611  0.004  0.014
council  0.573  0.012  0.000

Supplementary categories (the 10 first)

                   Sq. Dist.  Dim.1   cos2  v.test  Dim.2   cos2  v.test  \
butcher_0              0.212  0.343  0.269   6.712 -0.077  0.014  -1.621
butcher_1              0.145 -0.313  0.021  -1.870  0.103  0.002   0.658
butcher_2 or +         0.112 -1.433  0.302  -7.109  0.279  0.011   1.481
baker_0                0.247  0.469  0.269   6.713 -0.128  0.020  -1.962
baker_1                0.176 -0.089  0.002  -0.626 -0.037  0.000  -0.278
baker_2 or +           0.173 -1.071  0.327  -7.403  0.356  0.036   2.629
postoffice_0           0.230  0.422  0.319   7.315 -0.117  0.024  -2.159
postoffice_1 or +      0.230 -0.757  0.319  -7.315  0.209  0.024   2.159
dentist_0              0.208  0.373  0.330   7.439 -0.163  0.063  -3.479
dentist_1 to 2         0.140 -0.415  0.035  -2.414  0.253  0.013   1.576

                   Dim.3   cos2  v.test
butcher_0         -0.034  0.003  -0.864
butcher_1         -0.128  0.004  -1.007
butcher_2 or +     0.359  0.019   2.338
baker_0            0.015  0.000   0.275
baker_1           -0.263  0.020  -2.431
baker_2 or +       0.234  0.016   2.125
postoffice_0       0.008  0.000   0.182
postoffice_1 or + -0.014  0.000  -0.182
dentist_0         -0.043  0.004  -1.122
dentist_1 to 2    -0.128  0.003  -0.980

Supplementary categorical variables (eta2)

            Dim.1  Dim.2  Dim.3
butcher     0.362  0.016  0.020
baker       0.377  0.037  0.028
postoffice  0.319  0.024  0.000
dentist     0.416  0.070  0.025
grocery     0.091  0.000  0.000
nursery     0.232  0.043  0.009
doctor      0.392  0.058  0.020
chemist     0.485  0.042  0.017
restaurant  0.373  0.040  0.039