# PCAMIX with gironde

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
import pyreadr
gironde = pyreadr.read_r("./data/gironde.rda")["gironde"]
gironde.info()

<class 'pandas.core.frame.DataFrame'>
Index: 542 entries, ABZAC to MARCHEPRIME
Data columns (total 27 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   farmers     542 non-null    float64
 1   tradesmen   542 non-null    float64
 2   managers    542 non-null    float64
 3   workers     542 non-null    float64
 4   unemployed  542 non-null    float64
 5   middleempl  542 non-null    float64
 6   retired     542 non-null    float64
 7   employrate  542 non-null    float64
 8   income      540 non-null    float64
 9   density     542 non-null    float64
 10  primaryres  542 non-null    float64
 11  houses      542 non-null    category
 12  owners      542 non-null    float64
 13  council     542 non-null    category
 14  butcher     542 non-null    category
 15  baker       542 non-null    category
 16  postoffice  542 non-null    category
 17  dentist     542 non-null    category
 18  grocery     542 non-null    category
 19  nursery     542 non-null    category
 20  doctor      542 non-null    category
 21  chemist     542 non-null    category
 22  restaurant  542 non-null    category
 23  building    542 non-null    float64
 24  water       542 non-null    float64
 25  vegetation  542 non-null    float64
 26  agricul     542 non-null    float64
dtypes: category(11), float64(16)
memory usage: 79.3+ KB

In [3]:
from scientisttools import splitmix
X_quant = splitmix(gironde)["quanti"]
X_qual = splitmix(gironde)["quali"]

## PCA compare : PCA function Vs. PCAMIX function

In [4]:
from scientisttools import PCA, PCAMIX
# PCA with PCA
res_pca = PCA().fit(X_quant)
# PCA with PCAMIX
res_pca_pcamix = PCAMIX().fit(X_quant)

Missing values are imputed by the mean of the variable.

### Eigenvalues

In [5]:
# Eigenvalues with PCA
res_pca.eig_.round(4).head(6)

       eigenvalue  difference  proportion  cumulative
Dim.1      2.9733      0.2994     18.5830     18.5830
Dim.2      2.6739      0.6053     16.7119     35.2949
Dim.3      2.0686      0.3556     12.9287     48.2237
Dim.4      1.7130      0.6357     10.7063     58.9300
Dim.5      1.0773      0.0754      6.7333     65.6633
Dim.6      1.0019      0.0237      6.2621     71.9255

In [6]:
# Eigenvalues with PCAMIX
res_pca_pcamix.eig_.round(4).head(6)

       eigenvalue  difference  proportion  cumulative
Dim.1      2.9733      0.2994     18.5830     18.5830
Dim.2      2.6739      0.6053     16.7119     35.2949
Dim.3      2.0686      0.3556     12.9287     48.2237
Dim.4      1.7130      0.6357     10.7063     58.9300
Dim.5      1.0773      0.0754      6.7333     65.6633
Dim.6      1.0019      0.0237      6.2621     71.9255

### Individuals informations

#### Coordinates

In [7]:
# Coordinates with PCA
res_pca.ind_["coord"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
rownames
ABZAC              -0.103102 -0.965444  0.290998 -0.935845  0.154062
AILLAS             -0.725706 -0.162440 -0.815956  1.313834 -0.322844
AMBARES-ET-LAGRAVE  2.022919  0.183367  0.872154 -1.054918 -0.141069
AMBES               0.802039 -1.487324  1.104671 -2.157694  3.508191
ANDERNOS-LES-BAINS  1.668860 -0.885000 -2.740887  3.236867  0.647663
ANGLADE            -1.504698 -1.514828  0.797778 -0.897711 -0.556155

In [8]:
# Coordinates with PCAMIX
res_pca_pcamix.ind_["coord"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
rownames
ABZAC              -0.103102 -0.965444  0.290998 -0.935845  0.154062
AILLAS             -0.725706 -0.162440 -0.815956  1.313834 -0.322844
AMBARES-ET-LAGRAVE  2.022919  0.183367  0.872154 -1.054918 -0.141069
AMBES               0.802039 -1.487324  1.104671 -2.157694  3.508191
ANDERNOS-LES-BAINS  1.668860 -0.885000 -2.740887  3.236867  0.647663
ANGLADE            -1.504698 -1.514828  0.797778 -0.897711 -0.556155

#### Cos2

In [9]:
# Cos2 with PCA
res_pca.ind_["cos2"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
rownames
ABZAC               0.004233  0.371151  0.033719  0.348742  0.009451
AILLAS              0.079730  0.003995  0.100794  0.261325  0.015779
AMBARES-ET-LAGRAVE  0.553899  0.004551  0.102958  0.150630  0.002694
AMBES               0.022864  0.078627  0.043374  0.165478  0.437447
ANDERNOS-LES-BAINS  0.112401  0.031609  0.303188  0.422843  0.016929
ANGLADE             0.250433  0.253817  0.070398  0.089139  0.034213

In [10]:
# Cos2 with PCAMIX
res_pca_pcamix.ind_["cos2"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
rownames
ABZAC               0.004233  0.371151  0.033719  0.348742  0.009451
AILLAS              0.079730  0.003995  0.100794  0.261325  0.015779
AMBARES-ET-LAGRAVE  0.553899  0.004551  0.102958  0.150630  0.002694
AMBES               0.022864  0.078627  0.043374  0.165478  0.437447
ANDERNOS-LES-BAINS  0.112401  0.031609  0.303188  0.422843  0.016929
ANGLADE             0.250433  0.253817  0.070398  0.089139  0.034213

### Contributions

In [11]:
# Contributions with PCA
res_pca.ind_["contrib"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
rownames
ABZAC               0.000660  0.064315  0.007553  0.094330  0.004065
AILLAS              0.032680  0.001821  0.059382  0.185918  0.017850
AMBARES-ET-LAGRAVE  0.253934  0.002320  0.067844  0.119861  0.003408
AMBES               0.039917  0.152639  0.108840  0.501442  2.107738
ANDERNOS-LES-BAINS  0.172824  0.054043  0.670049  1.128471  0.071837
ANGLADE             0.140496  0.158337  0.056766  0.086799  0.052971

In [12]:
# Contributions with PCAMIX
res_pca_pcamix.ind_["contrib"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
rownames
ABZAC               0.000660  0.064315  0.007553  0.094330  0.004065
AILLAS              0.032680  0.001821  0.059382  0.185918  0.017850
AMBARES-ET-LAGRAVE  0.253934  0.002320  0.067844  0.119861  0.003408
AMBES               0.039917  0.152639  0.108840  0.501442  2.107738
ANDERNOS-LES-BAINS  0.172824  0.054043  0.670049  1.128471  0.071837
ANGLADE             0.140496  0.158337  0.056766  0.086799  0.052971

#### Additionals informations

In [13]:
# Additionals informations with PCA
res_pca.ind_["infos"].head(6)

                        dist    weight   inertia
rownames
ABZAC               1.584718  0.001845  0.004633
AILLAS              2.570099  0.001845  0.012187
AMBARES-ET-LAGRAVE  2.718085  0.001845  0.013631
AMBES               5.304206  0.001845  0.051909
ANDERNOS-LES-BAINS  4.977774  0.001845  0.045716
ANGLADE             3.006791  0.001845  0.016680

In [14]:
# Additionals informations with PCAMIX
res_pca_pcamix.ind_["infos"].head(6)

                        dist    weight   inertia
rownames
ABZAC               1.584718  0.001845  0.004633
AILLAS              2.570099  0.001845  0.012187
AMBARES-ET-LAGRAVE  2.718085  0.001845  0.013631
AMBES               5.304206  0.001845  0.051909
ANDERNOS-LES-BAINS  4.977774  0.001845  0.045716
ANGLADE             3.006791  0.001845  0.016680

### Variables

#### Coordinates

In [15]:
# Coordinates with PCA
res_pca.var_["coord"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers    -0.465692 -0.080570  0.372512  0.389654 -0.209886
tradesmen  -0.181722  0.074963 -0.287797  0.122836 -0.019004
managers    0.482380  0.526404  0.036674  0.353827  0.047235
workers    -0.142523 -0.018248  0.021472 -0.911916  0.006805
unemployed  0.388084 -0.144471  0.114246 -0.001392 -0.415233
middleempl  0.435759  0.576423 -0.011734 -0.038227  0.224687

In [16]:
# Coordinates with PCAMIX
res_pca_pcamix.quanti_var_["coord"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers    -0.465692 -0.080570  0.372512  0.389654 -0.209886
tradesmen  -0.181722  0.074963 -0.287797  0.122836 -0.019004
managers    0.482380  0.526404  0.036674  0.353827  0.047235
workers    -0.142523 -0.018248  0.021472 -0.911916  0.006805
unemployed  0.388084 -0.144471  0.114246 -0.001392 -0.415233
middleempl  0.435759  0.576423 -0.011734 -0.038227  0.224687

#### Cos2

In [17]:
# Cos2 with PCA
res_pca.var_["cos2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers     0.216869  0.006491  0.138765  0.151831  0.044052
tradesmen   0.033023  0.005619  0.082827  0.015089  0.000361
managers    0.232690  0.277101  0.001345  0.125194  0.002231
workers     0.020313  0.000333  0.000461  0.831591  0.000046
unemployed  0.150609  0.020872  0.013052  0.000002  0.172419
middleempl  0.189886  0.332263  0.000138  0.001461  0.050484

In [18]:
# Cos2 with PCAMIX
res_pca_pcamix.quanti_var_["cos2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers     0.216869  0.006491  0.138765  0.151831  0.044052
tradesmen   0.033023  0.005619  0.082827  0.015089  0.000361
managers    0.232690  0.277101  0.001345  0.125194  0.002231
workers     0.020313  0.000333  0.000461  0.831591  0.000046
unemployed  0.150609  0.020872  0.013052  0.000002  0.172419
middleempl  0.189886  0.332263  0.000138  0.001461  0.050484

#### Contributions

In [19]:
# Contrib with PCA
res_pca.var_["contrib"].head(6)

               Dim.1      Dim.2     Dim.3      Dim.4      Dim.5
farmers     7.293922   0.242772  6.708159   8.863378   4.088999
tradesmen   1.110656   0.210160  4.004012   0.880834   0.033522
managers    7.826023  10.363163  0.065018   7.308409   0.207099
workers     0.683177   0.012453  0.022287  48.545634   0.004299
unemployed  5.065397   0.780579  0.630971   0.000113  16.004177
middleempl  6.386390  12.426147  0.006656   0.085308   4.686047

In [20]:
# Contrib with PCAMIX
res_pca_pcamix.quanti_var_["contrib"].head(6)

               Dim.1      Dim.2     Dim.3      Dim.4      Dim.5
farmers     7.293922   0.242772  6.708159   8.863378   4.088999
tradesmen   1.110656   0.210160  4.004012   0.880834   0.033522
managers    7.826023  10.363163  0.065018   7.308409   0.207099
workers     0.683177   0.012453  0.022287  48.545634   0.004299
unemployed  5.065397   0.780579  0.630971   0.000113  16.004177
middleempl  6.386390  12.426147  0.006656   0.085308   4.686047

### transform function

In [21]:
# transform with PCA
res_pca.transform(X_quant).head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
rownames
ABZAC              -0.103102 -0.965444  0.290998 -0.935845  0.154062
AILLAS             -0.725706 -0.162440 -0.815956  1.313834 -0.322844
AMBARES-ET-LAGRAVE  2.022919  0.183367  0.872154 -1.054918 -0.141069
AMBES               0.802039 -1.487324  1.104671 -2.157694  3.508191
ANDERNOS-LES-BAINS  1.668860 -0.885000 -2.740887  3.236867  0.647663
ANGLADE            -1.504698 -1.514828  0.797778 -0.897711 -0.556155

In [22]:
# transform with PCAMIX
res_pca_pcamix.transform(X_quant).head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
rownames
ABZAC              -0.103102 -0.965444  0.290998 -0.935845  0.154062
AILLAS             -0.725706 -0.162440 -0.815956  1.313834 -0.322844
AMBARES-ET-LAGRAVE  2.022919  0.183367  0.872154 -1.054918 -0.141069
AMBES               0.802039 -1.487324  1.104671 -2.157694  3.508191
ANDERNOS-LES-BAINS  1.668860 -0.885000 -2.740887  3.236867  0.647663
ANGLADE            -1.504698 -1.514828  0.797778 -0.897711 -0.556155

## MCA compare : MCA function Vs. PCAMIX function

In [23]:
from scientisttools import MCA
# MCA with MCA
res_mca = MCA().fit(X_qual)
# MCA with PCAMIX
res_mca_pcamix = PCAMIX().fit(X_qual)

### Eigenvalues

In [24]:
# Eigenvalues with MCA
res_mca.eig_.round(6).head(6)

       eigenvalue  difference  proportion  cumulative
Dim.1    0.613917    0.377826   37.517124   37.517124
Dim.2    0.236091    0.136019   14.427778   51.944903
Dim.3    0.100072    0.007199    6.115495   58.060398
Dim.4    0.092872    0.006788    5.675530   63.735927
Dim.5    0.086084    0.014973    5.260693   68.996620
Dim.6    0.071111    0.002233    4.345698   73.342319

In [25]:
# Eigenvalues with PCAMIX
res_mca_pcamix.eig_.round(6).head(6)

       eigenvalue  difference  proportion  cumulative
Dim.1    6.753082    4.156082   37.517124   37.517124
Dim.2    2.597000    1.496211   14.427778   51.944903
Dim.3    1.100789    0.079194    6.115495   58.060398
Dim.4    1.021595    0.074671    5.675530   63.735927
Dim.5    0.946925    0.164699    5.260693   68.996620
Dim.6    0.782226    0.024562    4.345698   73.342319

The are a splightly different when the functions `MCA` and `PCAMIX` are used. To have the same values as with `MCA`, the eigenvalues should be divided by $p$, the number of categoricals variables.

In [26]:
p = X_qual.shape[1]
(res_mca_pcamix.eig_.iloc[:,0]/p).head(6)

Dim.1    0.613917
Dim.2    0.236091
Dim.3    0.100072
Dim.4    0.092872
Dim.5    0.086084
Dim.6    0.071111
Name: eigenvalue, dtype: float64

### Individuals

#### Coordinates

In [27]:
# Coordinates with MCA
res_mca.ind_["coord"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               0.443833  0.243886 -0.030169 -0.475655 -0.366012
AILLAS             -0.219340 -0.069716  0.373098 -0.183067 -0.372481
AMBARES-ET-LAGRAVE  1.810551 -0.773352  0.558071 -0.289296  0.634435
AMBES               0.792957  0.690039 -0.134162  0.017806 -0.410799
ANDERNOS-LES-BAINS  1.474454 -0.617067  0.020512  0.120249 -0.098138
ANGLADE            -0.325315  0.293205  0.448830  0.849590  0.158192

In [28]:
# Coordinates with PCAMIX
res_mca_pcamix.ind_["coord"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
rownames
ABZAC               1.472029  0.808880 -0.100059 -1.577571 -1.213925
AILLAS             -0.727469 -0.231222  1.237426 -0.607166 -1.235379
AMBARES-ET-LAGRAVE  6.004919 -2.564918  1.850911 -0.959488  2.104182
AMBES               2.629941  2.288602 -0.444966  0.059056 -1.362466
ANDERNOS-LES-BAINS  4.890210 -2.046581  0.068030  0.398821 -0.325488
ANGLADE            -1.078948  0.972452  1.488599  2.817773  0.524663

To get identical results, we have to divided by $\sqrt{p}$

In [29]:
import numpy as np
(res_mca_pcamix.ind_["coord"]/np.sqrt(p)).head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
rownames
ABZAC               0.443833  0.243886 -0.030169 -0.475655 -0.366012
AILLAS             -0.219340 -0.069716  0.373098 -0.183067 -0.372481
AMBARES-ET-LAGRAVE  1.810551 -0.773352  0.558071 -0.289296  0.634435
AMBES               0.792957  0.690039 -0.134162  0.017806 -0.410799
ANDERNOS-LES-BAINS  1.474454 -0.617067  0.020512  0.120249 -0.098138
ANGLADE            -0.325315  0.293205  0.448830  0.849590  0.158192

#### Cos2

In [30]:
# Cos2 with MCA
res_mca.ind_["cos2"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               0.096760  0.029217  0.000447  0.111133  0.065803
AILLAS              0.043108  0.004355  0.124729  0.030029  0.124317
AMBARES-ET-LAGRAVE  0.576579  0.105194  0.054779  0.014721  0.070796
AMBES               0.251376  0.190358  0.007196  0.000127  0.067466
ANDERNOS-LES-BAINS  0.648363  0.113559  0.000125  0.004312  0.002872
ANGLADE             0.064961  0.052770  0.123655  0.443064  0.015361

In [31]:
# Cos2 with PCAMIX
res_mca_pcamix.ind_["cos2"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
rownames
ABZAC               0.096760  0.029217  0.000447  0.111133  0.065803
AILLAS              0.043108  0.004355  0.124729  0.030029  0.124317
AMBARES-ET-LAGRAVE  0.576579  0.105194  0.054779  0.014721  0.070796
AMBES               0.251376  0.190358  0.007196  0.000127  0.067466
ANDERNOS-LES-BAINS  0.648363  0.113559  0.000125  0.004312  0.002872
ANGLADE             0.064961  0.052770  0.123655  0.443064  0.015361

#### Contributions

In [32]:
# Contributions with MCA
res_mca.ind_["contrib"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               0.059201  0.046483  0.001678  0.449469  0.287124
AILLAS              0.014459  0.003798  0.256646  0.066579  0.297362
AMBARES-ET-LAGRAVE  0.985174  0.467386  0.574206  0.166265  0.862684
AMBES               0.188969  0.372108  0.033186  0.000630  0.361690
ANDERNOS-LES-BAINS  0.653362  0.297568  0.000776  0.028726  0.020642
ANGLADE             0.031805  0.067184  0.371409  1.433949  0.053635

In [33]:
# Contributions with PCAMIX
res_mca_pcamix.ind_["contrib"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
rownames
ABZAC               0.059201  0.046483  0.001678  0.449469  0.287124
AILLAS              0.014459  0.003798  0.256646  0.066579  0.297362
AMBARES-ET-LAGRAVE  0.985174  0.467386  0.574206  0.166265  0.862684
AMBES               0.188969  0.372108  0.033186  0.000630  0.361690
ANDERNOS-LES-BAINS  0.653362  0.297568  0.000776  0.028726  0.020642
ANGLADE             0.031805  0.067184  0.371409  1.433949  0.053635

#### Additionals informations

In [34]:
# Additionals informations with MCA
res_mca.ind_["infos"].head(6)

                        dist    weight   inertia
rownames
ABZAC               1.426826  0.001845  0.003756
AILLAS              1.056426  0.001845  0.002059
AMBARES-ET-LAGRAVE  2.384413  0.001845  0.010490
AMBES               1.581568  0.001845  0.004615
ANDERNOS-LES-BAINS  1.831142  0.001845  0.006186
ANGLADE             1.276369  0.001845  0.003006

In [35]:
# Additionals informations with PCAMIX
res_mca_pcamix.ind_["infos"].head(6)

                        dist    weight   inertia
rownames
ABZAC               4.732248  0.001845  0.041318
AILLAS              3.503769  0.001845  0.022650
AMBARES-ET-LAGRAVE  7.908202  0.001845  0.115387
AMBES               5.245467  0.001845  0.050766
ANDERNOS-LES-BAINS  6.073210  0.001845  0.068051
ANGLADE             4.233237  0.001845  0.033063

### Categories

#### Cooridnates

In [36]:
# Coordinates with MCA
res_mca.var_["coord"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   1.466782 -0.218670 -0.048993 -0.102249  0.054809
 sup 90%  -0.377756  0.056317  0.012618  0.026333 -0.014115
 inf 5%   -0.362358  0.043832 -0.025736  0.009729 -0.019193
 sup 5%    1.360431 -0.164561  0.096622 -0.036526  0.072059
butcher_0 -0.483268 -0.046253  0.002565  0.097323 -0.303670
butcher_1  0.473062  0.704856 -0.071648 -0.842752  1.674679

In [37]:
# Coordinates with PCAMIX
res_mca_pcamix.quali_var_["coord"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   1.466782 -0.218670 -0.048993 -0.102249  0.054809
 sup 90%  -0.377756  0.056317  0.012618  0.026333 -0.014115
 inf 5%   -0.362358  0.043832 -0.025736  0.009729 -0.019193
 sup 5%    1.360431 -0.164561  0.096622 -0.036526  0.072059
butcher_0 -0.483268 -0.046253  0.002565  0.097323 -0.303670
butcher_1  0.473062  0.704856 -0.071648 -0.842752  1.674679

#### Cos2

In [38]:
# Cos2 with MCA
res_mca.var_["cos2"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   0.554086  0.012315  0.000618  0.002693  0.000774
 sup 90%   0.554086  0.012315  0.000618  0.002693  0.000774
 inf 5%    0.492963  0.007213  0.002487  0.000355  0.001383
 sup 5%    0.492963  0.007213  0.002487  0.000355  0.001383
butcher_0  0.506702  0.004641  0.000014  0.020550  0.200070
butcher_1  0.047561  0.105589  0.001091  0.150944  0.596045

In [39]:
# Cos2 with PCAMIX
res_mca_pcamix.quali_var_["cos2"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   0.554086  0.012315  0.000618  0.002693  0.000774
 sup 90%   0.554086  0.012315  0.000618  0.002693  0.000774
 inf 5%    0.492963  0.007213  0.002487  0.000355  0.001383
 sup 5%    0.492963  0.007213  0.002487  0.000355  0.001383
butcher_0  0.506702  0.004641  0.000014  0.020550  0.200070
butcher_1  0.047561  0.105589  0.001091  0.150944  0.596045

#### Contributions

In [40]:
# Contributions with MCA
res_mca.var_["contrib"].head(6)

              Dim.1     Dim.2     Dim.3      Dim.4      Dim.5
 inf 90%   6.524587  0.377078  0.044657   0.209587   0.064969
 sup 90%   1.680346  0.097113  0.011501   0.053977   0.016732
 inf 5%    1.535387  0.058418  0.047514   0.007316   0.030720
 sup 5%    5.764436  0.219324  0.178384   0.027469   0.115336
butcher_0  2.367270  0.056387  0.000409   0.634644   6.665981
butcher_1  0.580843  3.353150  0.081740  12.185546  51.912478

In [41]:
# Contributions with FAMD
res_mca_pcamix.quali_var_["contrib"].head(6)

              Dim.1     Dim.2     Dim.3      Dim.4      Dim.5
 inf 90%   6.524587  0.377078  0.044657   0.209587   0.064969
 sup 90%   1.680346  0.097113  0.011501   0.053977   0.016732
 inf 5%    1.535387  0.058418  0.047514   0.007316   0.030720
 sup 5%    5.764436  0.219324  0.178384   0.027469   0.115336
butcher_0  2.367270  0.056387  0.000409   0.634644   6.665981
butcher_1  0.580843  3.353150  0.081740  12.185546  51.912478

#### Vtest

In [42]:
# Vtest with MCA
res_mca.var_["vtest"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4      Dim.5
 inf 90%   17.313592 -2.581139 -0.578306 -1.206929   0.646951
 sup 90%  -17.313592  2.581139  0.578306  1.206929  -0.646951
 inf 5%   -16.330739  1.975401 -1.159863  0.438464  -0.865000
 sup 5%    16.330739 -1.975401  1.159863 -0.438464   0.865000
butcher_0 -16.556752 -1.584626  0.087887  3.334301 -10.403752
butcher_1   5.072534  7.558002 -0.768270 -9.036629  17.957179

In [43]:
# Vtest with PCAMIX
res_mca_pcamix.quali_var_["vtest"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4      Dim.5
 inf 90%   6.662484 -1.601679 -0.551195 -1.194104   0.664835
 sup 90%  -6.662484  1.601679  0.551195  1.194104  -0.664835
 inf 5%   -6.284270  1.225799 -1.105489  0.433805  -0.888911
 sup 5%    6.284270 -1.225799  1.105489 -0.433805   0.888911
butcher_0 -6.371242 -0.983310  0.083767  3.298871 -10.691343
butcher_1  1.951974  4.689980 -0.732254 -8.940607  18.453570

#### Eta2

In [44]:
# Eta2 with MCA
res_mca.var_["eta2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
houses      0.554086  0.012315  0.000618  0.002693  0.000774
council     0.492963  0.007213  0.002487  0.000355  0.001383
butcher     0.637287  0.148756  0.001736  0.177873  0.607034
baker       0.766439  0.358999  0.171058  0.007964  0.010297
postoffice  0.671928  0.081739  0.001015  0.003380  0.000616
dentist     0.804505  0.453030  0.212611  0.001797  0.109096

In [45]:
# Eta2 with PCAMIX
res_mca_pcamix.quali_var_["eta2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
houses      0.554086  0.012315  0.000618  0.002693  0.000774
council     0.492963  0.007213  0.002487  0.000355  0.001383
butcher     0.637287  0.148756  0.001736  0.177873  0.607034
baker       0.766439  0.358999  0.171058  0.007964  0.010297
postoffice  0.671928  0.081739  0.001015  0.003380  0.000616
dentist     0.804505  0.453030  0.212611  0.001797  0.109096

#### Additionals informations

In [46]:
# Additionals informations with MCA
res_mca.var_["infos"].head(6)

               dist    weight   inertia
 inf 90%   1.970503  0.018618  0.072291
 sup 90%   0.507485  0.072291  0.018618
 inf 5%    0.516096  0.071788  0.019121
 sup 5%    1.937624  0.019121  0.071788
butcher_0  0.678908  0.062227  0.028682
butcher_1  2.169162  0.015934  0.074975

In [47]:
# Additionals informations with PCAMIX
res_mca_pcamix.quali_var_["dist"].head(6)

 inf 90%     1.970503
 sup 90%     0.507485
 inf 5%      0.516096
 sup 5%      1.937624
butcher_0    0.678908
butcher_1    2.169162
Name: dist, dtype: float64

### transform function

In [80]:
# transform with MCA
res_mca.transform(X_qual).head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               0.443833  0.243886 -0.030169 -0.475655 -0.366012
AILLAS             -0.219340 -0.069716  0.373098 -0.183067 -0.372481
AMBARES-ET-LAGRAVE  1.810551 -0.773352  0.558071 -0.289296  0.634435
AMBES               0.792957  0.690039 -0.134162  0.017806 -0.410799
ANDERNOS-LES-BAINS  1.474454 -0.617067  0.020512  0.120249 -0.098138
ANGLADE            -0.325315  0.293205  0.448830  0.849590  0.158192

In [81]:
# transform with PCAMIX
res_mca_pcamix.transform(X_qual).head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
rownames
ABZAC               1.472029  0.808880 -0.100059 -1.577571 -1.213925
AILLAS             -0.727469 -0.231222  1.237426 -0.607166 -1.235379
AMBARES-ET-LAGRAVE  6.004919 -2.564918  1.850911 -0.959488  2.104182
AMBES               2.629941  2.288602 -0.444966  0.059056 -1.362466
ANDERNOS-LES-BAINS  4.890210 -2.046581  0.068030  0.398821 -0.325488
ANGLADE            -1.078948  0.972452  1.488599  2.817773  0.524663

In [82]:
# correction
(res_mca_pcamix.transform(X_qual)/np.sqrt(p)).head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
rownames
ABZAC               0.443833  0.243886 -0.030169 -0.475655 -0.366012
AILLAS             -0.219340 -0.069716  0.373098 -0.183067 -0.372481
AMBARES-ET-LAGRAVE  1.810551 -0.773352  0.558071 -0.289296  0.634435
AMBES               0.792957  0.690039 -0.134162  0.017806 -0.410799
ANDERNOS-LES-BAINS  1.474454 -0.617067  0.020512  0.120249 -0.098138
ANGLADE            -0.325315  0.293205  0.448830  0.849590  0.158192

## PCAMIX with supplementary elements

In [48]:
# PCAMIX with supplementary elements
res_pcamix = PCAMIX(n_components=5,quanti_sup=list(range(23,27)),quali_sup=list(range(14,23)),ind_sup=list(range(500,542))).fit(gironde)

### Eigenvalues

In [49]:
res_pcamix.eig_.head(6)

       eigenvalue  difference  proportion  cumulative
Dim.1    2.977486    0.371062   21.267755   21.267755
Dim.2    2.606423    0.881736   18.617309   39.885064
Dim.3    1.724687    0.594599   12.319196   52.204260
Dim.4    1.130088    0.101371    8.072060   60.276320
Dim.5    1.028717    0.133857    7.347980   67.624300
Dim.6    0.894860    0.172108    6.391859   74.016159

### Individuals informations

#### Coordinates

In [50]:
# Coordinates with PCAMIX
res_pcamix.ind_["coord"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
rownames
ABZAC              -2.353885 -0.553834 -0.690198  0.235989 -0.760752
AILLAS              0.799111 -0.720680  1.279395 -0.024028  0.672256
AMBARES-ET-LAGRAVE -2.806082  1.508815 -0.879518 -0.026861  0.331173
AMBES              -1.455164 -0.523327 -1.754209 -0.605251 -0.087739
ANDERNOS-LES-BAINS -1.351768 -0.593212  3.636834  1.391114 -0.153755
ANGLADE             0.633105 -1.924291 -1.054010 -0.159436  1.333164

#### Cos2

In [51]:
# Cos2 with PCAMIX
res_pcamix.ind_["cos2"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
rownames
ABZAC               0.534531  0.029591  0.045957  0.005373  0.055833
AILLAS              0.098243  0.079904  0.251823  0.000089  0.069527
AMBARES-ET-LAGRAVE  0.573082  0.165687  0.056300  0.000053  0.007982
AMBES               0.217616  0.028146  0.316249  0.037648  0.000791
ANDERNOS-LES-BAINS  0.076700  0.014771  0.555184  0.081230  0.000992
ANGLADE             0.053151  0.491027  0.147317  0.003371  0.235684

#### Contributions

In [52]:
# Contributions
res_pcamix.ind_["contrib"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
rownames
ABZAC               0.372178  0.023537  0.055242  0.009856  0.112517
AILLAS              0.042894  0.039854  0.189814  0.000102  0.087863
AMBARES-ET-LAGRAVE  0.528909  0.174686  0.089703  0.000128  0.021323
AMBES               0.142234  0.021015  0.356847  0.064832  0.001497
ANDERNOS-LES-BAINS  0.122740  0.027003  1.533792  0.342486  0.004596
ANGLADE             0.026924  0.284136  0.128828  0.004499  0.345542

#### Additionals informations

In [53]:
# Additionals informations
res_pcamix.ind_["infos"].head(6)

                        dist  weight   inertia
rownames
ABZAC               3.219577   0.002  0.020731
AILLAS              2.549514   0.002  0.013000
AMBARES-ET-LAGRAVE  3.706739   0.002  0.027480
AMBES               3.119368   0.002  0.019461
ANDERNOS-LES-BAINS  4.880957   0.002  0.047647
ANGLADE             2.746111   0.002  0.015082

### Continuous variables

#### Coordinates

In [54]:
# Coordinates
res_pcamix.quanti_var_["coord"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers     0.367991 -0.281716  0.374121 -0.496550 -0.257771
tradesmen   0.189702 -0.071246  0.071312  0.709836  0.447449
managers   -0.078317  0.710436  0.376537 -0.001863  0.024232
workers     0.031967 -0.080385 -0.917769  0.071865 -0.193228
unemployed -0.370223  0.093635  0.014879 -0.482847  0.747666
middleempl -0.060744  0.711233 -0.032925  0.157485 -0.127764

#### Cos2

In [55]:
# Cos2
res_pcamix.quanti_var_["cos2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers     0.135418  0.079364  0.139967  0.246562  0.066446
tradesmen   0.035987  0.005076  0.005085  0.503867  0.200211
managers    0.006134  0.504719  0.141780  0.000003  0.000587
workers     0.001022  0.006462  0.842300  0.005165  0.037337
unemployed  0.137065  0.008768  0.000221  0.233141  0.559004
middleempl  0.003690  0.505853  0.001084  0.024802  0.016324

#### Contributions

In [56]:
# Contributions
res_pcamix.quanti_var_["contrib"].head(6)

               Dim.1      Dim.2      Dim.3      Dim.4      Dim.5
farmers     4.548051   3.044932   8.115490  21.817964   6.459092
tradesmen   1.208637   0.194747   0.294862  44.586488  19.462201
managers    0.205998  19.364432   8.220646   0.000307   0.057079
workers     0.034321   0.247917  48.837843   0.457003   3.629491
unemployed  4.603373   0.336384   0.012836  20.630341  54.339928
middleempl  0.123925  19.407933   0.062855   2.194653   1.586802

### Categoricals variables

#### Coordinates

In [57]:
# Coordinates
res_pcamix.quali_var_["coord"].head(6)

            Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
inf 90% -1.583209  0.129208  0.241152  0.339168 -0.380965
sup 90%  0.385957 -0.031499 -0.058788 -0.082683  0.092872
inf 5%   0.378613 -0.054200  0.003322 -0.012352  0.074533
sup 5%  -1.514454  0.216801 -0.013289  0.049407 -0.298130

#### Cos2

In [58]:
# Cos2
res_pcamix.quali_var_["cos2"].head(6)

            Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
inf 90%  0.611050  0.004070  0.014177  0.028043  0.035381
sup 90%  0.611050  0.004070  0.014177  0.028043  0.035381
inf 5%   0.573393  0.011751  0.000044  0.000610  0.022220
sup 5%   0.573393  0.011751  0.000044  0.000610  0.022220

#### Contributions

In [59]:
# Contributions
res_pcamix.quali_var_["contrib"].head(6)

             Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
inf 90%  16.499967  0.125543  0.660889  1.995134  2.765225
sup 90%   4.022380  0.030605  0.161112  0.486376  0.674109
inf 5%    3.851522  0.090167  0.000512  0.010800  0.432003
sup 5%   15.406086  0.360668  0.002048  0.043201  1.728012

#### Vtest

In [60]:
# Vtest
res_pcamix.quali_var_["vtest"].head(6)

             Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
inf 90% -10.119610  0.882711  2.025286  3.518911 -4.142738
sup 90%  10.119610 -0.882711 -2.025286 -3.518911  4.142738
inf 5%    9.802829 -1.499889  0.113019 -0.519099  3.283059
sup 5%   -9.802829  1.499889 -0.113019  0.519099 -3.283059

### Variables informations

#### Coordinates

In [61]:
# Coordinates
res_pcamix.var_["coord"]

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers     0.135418  0.079364  0.139967  0.246562  0.066446
tradesmen   0.035987  0.005076  0.005085  0.503867  0.200211
managers    0.006134  0.504719  0.141780  0.000003  0.000587
workers     0.001022  0.006462  0.842300  0.005165  0.037337
unemployed  0.137065  0.008768  0.000221  0.233141  0.559004
middleempl  0.003690  0.505853  0.001084  0.024802  0.016324
retired     0.001972  0.362786  0.293851  0.032316  0.017364
employrate  0.293817  0.280127  0.020149  0.002877  0.043738
income      0.013011  0.460180  0.119588  0.016483  0.000744
density     0.483316  0.029763  0.009449  0.003793  0.000027
primaryres  0.000054  0.329783  0.136226  0.032354  0.000008
owners      0.681558  0.017722  0.000765  0.000071  0.029325
houses      0.611050  0.004070  0.014177  0.028043  0.035381
council     0.573393  0.011751  0.000044  0.000610  0.022220

#### Cos2

In [62]:
# Cos2
res_pcamix.var_["cos2"].round(4)

             Dim.1   Dim.2   Dim.3   Dim.4   Dim.5
farmers     0.0183  0.0063  0.0196  0.0608  0.0044
tradesmen   0.0013  0.0000  0.0000  0.2539  0.0401
managers    0.0000  0.2547  0.0201  0.0000  0.0000
workers     0.0000  0.0000  0.7095  0.0000  0.0014
unemployed  0.0188  0.0001  0.0000  0.0544  0.3125
middleempl  0.0000  0.2559  0.0000  0.0006  0.0003
retired     0.0000  0.1316  0.0863  0.0010  0.0003
employrate  0.0863  0.0785  0.0004  0.0000  0.0019
income      0.0002  0.2118  0.0143  0.0003  0.0000
density     0.2336  0.0009  0.0001  0.0000  0.0000
primaryres  0.0000  0.1088  0.0186  0.0010  0.0000
owners      0.4645  0.0003  0.0000  0.0000  0.0009
houses      0.3734  0.0000  0.0002  0.0008  0.0013
council     0.3288  0.0001  0.0000  0.0000  0.0005

#### Contributions

In [63]:
# Contributions
res_pcamix.var_["contrib"].round(4)

              Dim.1    Dim.2    Dim.3    Dim.4    Dim.5
farmers      4.5481   3.0449   8.1155  21.8180   6.4591
tradesmen    1.2086   0.1947   0.2949  44.5865  19.4622
managers     0.2060  19.3644   8.2206   0.0003   0.0571
workers      0.0343   0.2479  48.8378   0.4570   3.6295
unemployed   4.6034   0.3364   0.0128  20.6303  54.3399
middleempl   0.1239  19.4079   0.0629   2.1947   1.5868
retired      0.0662  13.9189  17.0379   2.8596   1.6879
employrate   9.8679  10.7476   1.1683   0.2546   4.2517
income       0.4370  17.6556   6.9339   1.4586   0.0723
density     16.2323   1.1419   0.5478   0.3357   0.0026
primaryres   0.0018  12.6527   7.8986   2.8630   0.0008
owners      22.8904   0.6799   0.0444   0.0063   2.8507
houses      20.5223   0.1561   0.8220   2.4815   3.4393
council     19.2576   0.4508   0.0026   0.0540   2.1600

### Supplementary individuals

#### Coordinates

In [64]:
# Coordinates
res_pcamix.ind_sup_["coord"].head(6)

                   Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
rownames
SOULAC-SUR-MER -2.666929 -4.279449  3.753486  2.624928  0.052160
SOULIGNAC       1.340876  0.225760  0.079490 -0.146153 -0.655465
SOUSSAC         0.677226 -2.118662 -1.343516 -1.028469 -1.566887
SOUSSANS        0.619205  0.341432 -1.635972  0.042284 -0.610393
TABANAC         1.007573  2.216701  1.716416  0.564969  1.966974
TAILLAN-MEDOC  -0.679414  3.677588  1.238113 -0.254154  0.049825

#### Cos2

In [65]:
# Cos2
res_pcamix.ind_sup_["cos2"].head(6)

                   Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
rownames
SOULAC-SUR-MER  0.411083  0.359618  0.228352  0.105967  0.064461
SOULIGNAC       0.728297  0.037607  0.009692  0.017507  0.331390
SOUSSAC         0.400877  0.260455  0.104717  0.068838  0.234269
SOUSSANS        0.404582  0.040724  0.575081  0.020086  0.190458
TABANAC         0.421847  0.397676  0.238924  0.048763  0.302204
TAILLAN-MEDOC   0.100825  0.786873  0.103938  0.003297  0.013578

#### dist

In [66]:
# Distance to origin
res_pcamix.ind_sup_["dist"].head(6)

rownames
SOULAC-SUR-MER    8.071892
SOULIGNAC         1.712057
SOUSSAC           4.152366
SOUSSANS          2.222267
TABANAC           3.692890
TAILLAN-MEDOC     4.520994
Name: dist, dtype: float64

### Supplementary individuals

#### Coordinates

In [67]:
# Coordinates
res_pcamix.quanti_sup_["coord"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
building   -0.683288  0.145950  0.119444 -0.041133 -0.039481
water      -0.176662  0.029149 -0.042110  0.022396 -0.059733
vegetation  0.074411  0.027974 -0.027143  0.251305  0.079812
agricul     0.336989 -0.177466 -0.013877 -0.244488 -0.040348

#### Cos2

In [68]:
# Cos2
res_pcamix.quanti_sup_["cos2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
building    0.466883  0.021301  0.014267  0.001692  0.001559
water       0.031210  0.000850  0.001773  0.000502  0.003568
vegetation  0.005537  0.000783  0.000737  0.063154  0.006370
agricul     0.113562  0.031494  0.000193  0.059774  0.001628

### Supplementary qualitatives/categories

#### Coordinates

In [69]:
# Coordinates
res_pcamix.quali_sup_["coord"].head(6)

                   Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
butcher_0       0.342649 -0.077433 -0.033571 -0.063171  0.007949
butcher_1      -0.312611  0.102962 -0.128119  0.087084  0.040981
butcher_2 or + -1.433314  0.279471  0.358709  0.223753 -0.099573
baker_0         0.469015 -0.128267  0.014607 -0.120331 -0.023933
baker_1        -0.089031 -0.036993 -0.262964  0.065937  0.138218
baker_2 or +   -1.070536  0.355770  0.233883  0.230397 -0.082661

#### Cos2

In [70]:
# Cos2
res_pcamix.quali_sup_["cos2"].head(6)

                   Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
butcher_0       0.268804  0.013727  0.002580  0.009136  0.000145
butcher_1       0.020873  0.002264  0.003506  0.001620  0.000359
butcher_2 or +  0.301562  0.011465  0.018888  0.007349  0.001455
baker_0         0.268858  0.020108  0.000261  0.017697  0.000700
baker_1         0.002341  0.000404  0.020423  0.001284  0.005642
baker_2 or +    0.327021  0.036117  0.015609  0.015147  0.001950

#### Vtest

In [71]:
# Vtest
res_pcamix.quali_sup_["vtest"].head(6)

                   Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
butcher_0       6.711861 -1.621151 -0.864038 -2.008539  0.264913
butcher_1      -1.870350  0.658410 -1.007169  0.845713  0.417132
butcher_2 or + -7.109084  1.481534  2.337674  1.801397 -0.840217
baker_0         6.712539 -1.962079  0.274680 -2.795411 -0.582729
baker_1        -0.626360 -0.278166 -2.430805  0.752983  1.654344
baker_2 or +   -7.403096  2.629566  2.125105  2.586174 -0.972503

#### Eta2

In [72]:
# Eta2
res_pcamix.quali_sup_["eta2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
butcher     0.361878  0.016036  0.020143  0.010521  0.001609
baker       0.377216  0.037460  0.028027  0.020739  0.006188
postoffice  0.319321  0.024347  0.000115  0.017435  0.000172
dentist     0.416424  0.070222  0.024891  0.013982  0.004617
grocery     0.091229  0.000126  0.000054  0.006202  0.003503
nursery     0.232381  0.042788  0.009353  0.001728  0.000362

#### Distance to origin

In [73]:
# dist
res_pcamix.quali_sup_["dist"].head(6)

butcher_0         0.459983
butcher_1         0.380820
butcher_2 or +    0.334090
baker_0           0.497494
baker_1           0.419543
baker_2 or +      0.415591
Name: dist, dtype: float64

### Supplementary variables

#### Coordinates

In [74]:
# Coordinates
res_pcamix.var_sup_["coord"]

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
building    0.466883  0.021301  0.014267  0.001692  0.001559
water       0.031210  0.000850  0.001773  0.000502  0.003568
vegetation  0.005537  0.000783  0.000737  0.063154  0.006370
agricul     0.113562  0.031494  0.000193  0.059774  0.001628
butcher     0.361878  0.016036  0.020143  0.010521  0.001609
baker       0.377216  0.037460  0.028027  0.020739  0.006188
postoffice  0.319321  0.024347  0.000115  0.017435  0.000172
dentist     0.416424  0.070222  0.024891  0.013982  0.004617
grocery     0.091229  0.000126  0.000054  0.006202  0.003503
nursery     0.232381  0.042788  0.009353  0.001728  0.000362
doctor      0.391682  0.057838  0.019666  0.024106  0.001606
chemist     0.485036  0.041734  0.016969  0.018027  0.001641
restaurant  0.372813  0.039701  0.038665  0.043509  0.005402

#### Cos2

In [75]:
# Cos2
res_pcamix.var_sup_["cos2"].round(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
building    0.217980  0.000454  0.000204  0.000003  0.000002
water       0.000974  0.000001  0.000003  0.000000  0.000013
vegetation  0.000031  0.000001  0.000001  0.003988  0.000041
agricul     0.012896  0.000992  0.000000  0.003573  0.000003
butcher     0.065478  0.000129  0.000203  0.000055  0.000001
baker       0.071146  0.000702  0.000393  0.000215  0.000019
postoffice  0.101966  0.000593  0.000000  0.000304  0.000000
dentist     0.086704  0.002466  0.000310  0.000098  0.000011
grocery     0.008323  0.000000  0.000000  0.000038  0.000012
nursery     0.054001  0.001831  0.000087  0.000003  0.000000
doctor      0.076707  0.001673  0.000193  0.000291  0.000001
chemist     0.117630  0.000871  0.000144  0.000162  0.000001
restaurant  0.046330  0.000525  0.000498  0.000631  0.000010

In [76]:
ind_sup = gironde.iloc[500:,:14]
ind_sup.shape

(42, 14)

In [77]:
res_pcamix.transform(ind_sup).head(6)

                   Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
rownames
SOULAC-SUR-MER -2.666929 -4.279449  3.753486  2.624928  0.052160
SOULIGNAC       1.340876  0.225760  0.079490 -0.146153 -0.655465
SOUSSAC         0.677226 -2.118662 -1.343516 -1.028469 -1.566887
SOUSSANS        0.619205  0.341432 -1.635972  0.042284 -0.610393
TABANAC         1.007573  2.216701  1.716416  0.564969  1.966974
TAILLAN-MEDOC  -0.679414  3.677588  1.238113 -0.254154  0.049825