# MFAMIX - predict & supvar

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
from scientisttools import load_gironde
gironde = load_gironde()
gironde.info()

<class 'pandas.core.frame.DataFrame'>
Index: 542 entries, ABZAC to MARCHEPRIME
Data columns (total 27 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   farmers     542 non-null    float64
 1   tradesmen   542 non-null    float64
 2   managers    542 non-null    float64
 3   workers     542 non-null    float64
 4   unemployed  542 non-null    float64
 5   middleempl  542 non-null    float64
 6   retired     542 non-null    float64
 7   employrate  542 non-null    float64
 8   income      540 non-null    float64
 9   density     542 non-null    float64
 10  primaryres  542 non-null    float64
 11  houses      542 non-null    category
 12  owners      542 non-null    float64
 13  council     542 non-null    category
 14  butcher     542 non-null    category
 15  baker       542 non-null    category
 16  postoffice  542 non-null    category
 17  dentist     542 non-null    category
 18  grocery     542 non-null    category
 19  nursery     542 non-null    category
 20  doctor      542 non-null    category
 21  chemist     542 non-null    category
 22  restaurant  542 non-null    category
 23  building    542 non-null    float64
 24  water       542 non-null    float64
 25  vegetation  542 non-null    float64
 26  agricul     542 non-null    float64
dtypes: category(11), float64(16)
memory usage: 79.3+ KB

In [3]:
# Fill NA by mean in income
gironde.loc[:,"income"] = gironde.loc[:,"income"].fillna(gironde.loc[:,"income"].mean())

In [4]:
from scientisttools import MFAMIX
name = ["employment","housing","services","environment"] 
group_type = ["s","m","n","s"]
res_mfamix = MFAMIX(n_components=5,group=[9,5,9,4],name_group=name,group_type=group_type,ind_sup=list(range(500,542)))
res_mfamix.fit(gironde)

MFAMIX(group=[9, 5, 9, 4], group_type=['s', 'm', 'n', 's'],
       ind_sup=[500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512,
                513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525,
                526, 527, 528, 529, ...],
       name_group=['employment', 'housing', 'services', 'environment'])

## predict function

In [5]:
import pandas as pd
ind_sup_index = list(range(500,542))
ind_sup = gironde.iloc[ind_sup_index,:]
from scientisttools import predictMFA
predict = predictMFA(res_mfamix,X=ind_sup)
predict.keys()

dict_keys(['coord', 'cos2', 'dist', 'coord_partiel'])

In [6]:
# transform
res_mfamix.transform(ind_sup).head(6)

                   Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
SOULAC-SUR-MER  2.182140 -1.771019 -2.591091  2.080005  2.072666
SOULIGNAC      -1.133328  0.020610  0.511896  0.299920 -0.259306
SOUSSAC        -1.332777 -1.667303  0.198034 -0.716615 -0.438295
SOUSSANS       -0.440128  0.047435  0.289402 -0.966908 -0.348941
TABANAC        -0.545072  1.157462  1.003087  0.889831  0.410594
TAILLAN-MEDOC   2.329851  2.133785  0.883372  1.014662  0.077025

In [7]:
# Factor coordinates with MFAMIX function
res_mfamix.ind_sup_["coord"].head(6)

                   Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
SOULAC-SUR-MER  2.182140 -1.771019 -2.591091  2.080005  2.072666
SOULIGNAC      -1.133328  0.020610  0.511896  0.299920 -0.259306
SOUSSAC        -1.332777 -1.667303  0.198034 -0.716615 -0.438295
SOUSSANS       -0.440128  0.047435  0.289402 -0.966908 -0.348941
TABANAC        -0.545072  1.157462  1.003087  0.889831  0.410594
TAILLAN-MEDOC   2.329851  2.133785  0.883372  1.014662  0.077025

In [8]:
# Factor coordinates with predictMFA function
predict["coord"].head(6)

                   Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
SOULAC-SUR-MER  2.182140 -1.771019 -2.591091  2.080005  2.072666
SOULIGNAC      -1.133328  0.020610  0.511896  0.299920 -0.259306
SOUSSAC        -1.332777 -1.667303  0.198034 -0.716615 -0.438295
SOUSSANS       -0.440128  0.047435  0.289402 -0.966908 -0.348941
TABANAC        -0.545072  1.157462  1.003087  0.889831  0.410594
TAILLAN-MEDOC   2.329851  2.133785  0.883372  1.014662  0.077025

In [9]:
# Square cosinus with MFAMIX function
res_mfamix.ind_sup_["cos2"].head(6)

                   Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
SOULAC-SUR-MER  0.148085  0.097542  0.208791  0.134548  0.133600
SOULIGNAC       0.459411  0.000152  0.093725  0.032174  0.024050
SOUSSAC         0.166118  0.259975  0.003668  0.048026  0.017965
SOUSSANS        0.040103  0.000466  0.017339  0.193549  0.025207
TABANAC         0.040050  0.180595  0.135634  0.106735  0.022726
TAILLAN-MEDOC   0.346918  0.290986  0.049872  0.065798  0.000379

In [10]:
# Square cosinus with predictMFA function
predict["cos2"].head(6)

                   Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
SOULAC-SUR-MER  0.148085  0.097542  0.208791  0.134548  0.133600
SOULIGNAC       0.459411  0.000152  0.093725  0.032174  0.024050
SOUSSAC         0.166118  0.259975  0.003668  0.048026  0.017965
SOUSSANS        0.040103  0.000466  0.017339  0.193549  0.025207
TABANAC         0.040050  0.180595  0.135634  0.106735  0.022726
TAILLAN-MEDOC   0.346918  0.290986  0.049872  0.065798  0.000379

In [11]:
# Square distance to origin with MFAMIX function
res_mfamix.ind_sup_["dist"].head(6)

SOULAC-SUR-MER    32.155330
SOULIGNAC          2.795822
SOUSSAC           10.692963
SOUSSANS           4.830357
TABANAC            7.418345
TAILLAN-MEDOC     15.646961
Name: Sq. Dist., dtype: float64

In [12]:
# Square distance to origin with predictMFA function
predict["dist"].head(6)

SOULAC-SUR-MER    32.155330
SOULIGNAC          2.795822
SOUSSAC           10.692963
SOUSSANS           4.830357
TABANAC            7.418345
TAILLAN-MEDOC     15.646961
Name: Sq. Dist., dtype: float64

In [13]:
# Partiel coordinates with MFAMIX function
res_mfamix.ind_sup_["coord_partiel"].head(6).round(4)

               employment                                 housing          \
                    Dim.1   Dim.2   Dim.3   Dim.4   Dim.5   Dim.1   Dim.2
SOULAC-SUR-MER     0.2863 -3.9600 -4.0480  4.0346  2.7537  3.0778 -4.0876
SOULIGNAC         -0.8678  0.4561  0.7848  0.7483  0.2655 -1.3042  0.7101
SOUSSAC           -2.2666 -3.8360 -2.0378 -2.1058 -1.9249 -0.1826 -0.4100
SOUSSANS           0.2180  0.4461 -0.2651 -3.2543 -1.4546 -1.1868  0.7812
TABANAC            1.3327  4.0489  2.8569  3.8174  2.5060 -1.6942  1.2106
TAILLAN-MEDOC      1.7689  5.8564  4.7643  2.7761  1.8406  1.1978  0.5739

                                       services                          \
                 Dim.3   Dim.4   Dim.5    Dim.1   Dim.2   Dim.3   Dim.4
SOULAC-SUR-MER -5.1828  3.3318  4.1444   4.9597  0.2722 -0.2937  0.6925
SOULIGNAC       0.2399 -0.1641 -0.1357  -1.4398 -0.3196  0.0877  0.6808
SOUSSAC        -0.1946 -0.1117  0.1049  -1.3520 -0.0268  0.0945 -0.2608
SOUSSANS        0.4646 -0.2464 -0.3759  -0.5570 -0.3073  0.0327  0.3666
TABANAC         0.5391 -0.1592 -0.4229  -1.5092 -0.1408  0.0221  0.1440
TAILLAN-MEDOC   1.1167 -0.6366 -1.1754   4.5947  0.3290 -0.1759  0.8531

                       environment
                 Dim.5       Dim.1   Dim.2   Dim.3   Dim.4   Dim.5
SOULAC-SUR-MER  1.8509      0.4048  0.6914 -0.8398  0.2611 -0.4583
SOULIGNAC      -1.4563     -0.9215 -0.7641  0.9352 -0.0653  0.2893
SOUSSAC        -0.7626     -1.5300 -2.3964  2.9300 -0.3881  0.8295
SOUSSANS       -0.7252     -0.2347 -0.7303  0.9255 -0.7336  1.1599
TABANAC        -0.8615     -0.3096 -0.4888  0.5942 -0.2429  0.4208
TAILLAN-MEDOC   1.6299      1.7580  1.7758 -2.1717  1.0660 -1.9869

In [14]:
# Partiel coordinates with predictMFA function
predict["coord_partiel"].head(6).round(4)

               employment                                 housing          \
                    Dim.1   Dim.2   Dim.3   Dim.4   Dim.5   Dim.1   Dim.2
SOULAC-SUR-MER     0.2863 -3.9600 -4.0480  4.0346  2.7537  3.0778 -4.0876
SOULIGNAC         -0.8678  0.4561  0.7848  0.7483  0.2655 -1.3042  0.7101
SOUSSAC           -2.2666 -3.8360 -2.0378 -2.1058 -1.9249 -0.1826 -0.4100
SOUSSANS           0.2180  0.4461 -0.2651 -3.2543 -1.4546 -1.1868  0.7812
TABANAC            1.3327  4.0489  2.8569  3.8174  2.5060 -1.6942  1.2106
TAILLAN-MEDOC      1.7689  5.8564  4.7643  2.7761  1.8406  1.1978  0.5739

                                       services                          \
                 Dim.3   Dim.4   Dim.5    Dim.1   Dim.2   Dim.3   Dim.4
SOULAC-SUR-MER -5.1828  3.3318  4.1444   4.9597  0.2722 -0.2937  0.6925
SOULIGNAC       0.2399 -0.1641 -0.1357  -1.4398 -0.3196  0.0877  0.6808
SOUSSAC        -0.1946 -0.1117  0.1049  -1.3520 -0.0268  0.0945 -0.2608
SOUSSANS        0.4646 -0.2464 -0.3759  -0.5570 -0.3073  0.0327  0.3666
TABANAC         0.5391 -0.1592 -0.4229  -1.5092 -0.1408  0.0221  0.1440
TAILLAN-MEDOC   1.1167 -0.6366 -1.1754   4.5947  0.3290 -0.1759  0.8531

                       environment
                 Dim.5       Dim.1   Dim.2   Dim.3   Dim.4   Dim.5
SOULAC-SUR-MER  1.8509      0.4048  0.6914 -0.8398  0.2611 -0.4583
SOULIGNAC      -1.4563     -0.9215 -0.7641  0.9352 -0.0653  0.2893
SOUSSAC        -0.7626     -1.5300 -2.3964  2.9300 -0.3881  0.8295
SOUSSANS       -0.7252     -0.2347 -0.7303  0.9255 -0.7336  1.1599
TABANAC        -0.8615     -0.3096 -0.4888  0.5942 -0.2429  0.4208
TAILLAN-MEDOC   1.6299      1.7580  1.7758 -2.1717  1.0660 -1.9869

## supvar function

In [15]:
from scientisttools import supvarMFA
X_group_sup = gironde.iloc[:500,:]
X_group_sup.columns = [x+"-2" for x in X_group_sup.columns]
name2 = ["employment2","housing2","services2","environment2"] 
supvar = supvarMFA(res_mfamix,X_group_sup=X_group_sup,group_sup=[9,5,9,4],name_group_sup=name2,group_sup_type=group_type)
supvar.keys()

dict_keys(['group', 'partial_axes', 'quanti', 'quali'])

In [16]:
res_mfamix.partial_axes_["coord"]

      employment                                           housing            \
           Dim.1     Dim.2     Dim.3     Dim.4     Dim.5     Dim.1     Dim.2
Dim.1   0.168690 -0.169592 -0.565215  0.125509 -0.166821  0.898175  0.085081
Dim.2   0.771874 -0.151777  0.106492  0.196329 -0.020075 -0.270714  0.315095
Dim.3   0.566864  0.060627  0.054722 -0.339723  0.059831  0.025629  0.497383
Dim.4   0.121800  0.855400 -0.106319  0.028752  0.013705  0.003348 -0.275159
Dim.5   0.089702  0.388628 -0.035019  0.210129 -0.061205 -0.046695 -0.320158

                                     services                                \
          Dim.3     Dim.4     Dim.5     Dim.1     Dim.2     Dim.3     Dim.4
Dim.1  0.086890  0.021643  0.132580  0.879931 -0.175510  0.090995 -0.041034
Dim.2 -0.134420 -0.018807  0.249643  0.065089  0.067725 -0.050582 -0.134747
Dim.3  0.158112 -0.098716  0.000220 -0.037757 -0.080120  0.023682  0.000564
Dim.4  0.311950  0.079560  0.203071 -0.078316 -0.488069 -0.031610 -0.005479
Dim.5 -0.488890 -0.143337  0.032911  0.300961  0.439332 -0.228194  0.033329

                environment
          Dim.5       Dim.1     Dim.2     Dim.3     Dim.4
Dim.1  0.001273   -0.237657  0.753883 -0.217165 -0.271327
Dim.2 -0.038475   -0.610746 -0.161867  0.126602 -0.135419
Dim.3 -0.020050    0.697315  0.180102 -0.122227 -0.152946
Dim.4 -0.006472   -0.135426 -0.001263 -0.365695  0.033189
Dim.5 -0.056657    0.188270 -0.113122  0.551746 -0.125061

### Supplementary groups

In [17]:
# Factor coordinates with MFAMIX function
res_mfamix.group_["coord"].head(6)

                Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
employment   0.255615  0.638083  0.382100  0.529849  0.139603
housing      0.814068  0.127458  0.110823  0.061986  0.106899
services     0.791487  0.012038  0.010936  0.116219  0.194273
environment  0.449560  0.398168  0.515017  0.083503  0.192332

In [18]:
# Factor coordinates with supvarMFA function
supvar["group"]["coord"].head(6)

                 Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
employment2   0.255615  0.638083  0.382100  0.529849  0.139603
housing2      0.814068  0.127458  0.110823  0.061986  0.106899
services2     0.791487  0.012038  0.010936  0.116219  0.194273
environment2  0.449560  0.398168  0.515017  0.083503  0.192332

In [19]:
# Square cosinus with MFAMIX function
res_mfamix.group_["cos2"].head(6)

                Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
employment   0.027899  0.173847  0.062340  0.119872  0.008322
housing      0.518013  0.012698  0.009600  0.003003  0.008932
services     0.456686  0.000106  0.000087  0.009847  0.027514
environment  0.121863  0.095593  0.159933  0.004204  0.022305

In [20]:
# Square cosinus with supvarMFA function
supvar["group"]["cos2"].head(6)

                 Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
employment2   0.027899  0.173847  0.062340  0.119872  0.008322
housing2      0.518013  0.012698  0.009600  0.003003  0.008932
services2     0.456686  0.000106  0.000087  0.009847  0.027514
environment2  0.121863  0.095593  0.159933  0.004204  0.022305

In [21]:
# Square distance with MFAMIX function
res_mfamix.group_["dist2"].head(6)

employment     2.342002
housing        1.279327
services       1.371735
environment    1.658462
Name: Sq. Dist., dtype: float64

In [22]:
# Square distance with supvarMFA function
supvar["group"]["dist2"].head(6)

employment2     2.342002
housing2        1.279327
services2       1.371735
environment2    1.658462
Name: Sq. Dist., dtype: float64

In [23]:
# Lg coefficients with MFAMIX function
res_mfamix.group_["Lg"].round(4)

             employment  housing  services  environment     MFA
employment       2.3420   0.2152    0.1896       0.1449  1.2514
housing          0.2152   1.2793    0.5535       0.3946  1.0570
services         0.1896   0.5535    1.3717       0.2455  1.0215
environment      0.1449   0.3946    0.2455       1.6585  1.0574
MFA              1.2514   1.0570    1.0215       1.0574  1.8987

In [24]:
# Lg coefficients with supvarMFA function
supvar["group"]["Lg"].round(4)

,employment,housing,services,environment,employment2,housing2,services2,environment2
employment,2.342002,0.215195,0.189646,0.144899,2.3420,0.2152,0.1896,0.1449
housing,0.215195,1.279327,0.553457,0.394572,0.2152,1.2793,0.5535,0.3946
services,0.189646,0.553457,1.371735,0.245464,0.1896,0.5535,1.3717,0.2455
environment,0.144899,0.394572,0.245464,1.658462,0.1449,0.3946,0.2455,1.6585
employment2,2.342002,0.215195,0.189646,0.144899,2.3420,0.2152,0.1896,0.1449
housing2,0.215195,1.279327,0.553457,0.394572,0.2152,1.2793,0.5535,0.3946
services2,0.189646,0.553457,1.371735,0.245464,0.1896,0.5535,1.3717,0.2455
environment2,0.144899,0.394572,0.245464,1.658462,0.1449,0.3946,0.2455,1.6585

In [25]:
# RV coefficients with MFAMIX function
res_mfamix.group_["RV"].round(4)

             employment  housing  services  environment     MFA
employment       1.0000   0.1243    0.1058       0.0735  0.5935
housing          0.1243   1.0000    0.4178       0.2709  0.6782
services         0.1058   0.4178    1.0000       0.1627  0.6329
environment      0.0735   0.2709    0.1627       1.0000  0.5959
MFA              0.5935   0.6782    0.6329       0.5959  1.0000

In [26]:
# RV coefficients with supvarMFA function
supvar["group"]["RV"]

,employment,housing,services,environment,employment2,housing2,services2,environment2
employment,1.000000,0.124322,0.105807,0.073522,1.000000,0.124322,0.105807,0.073522
housing,0.124322,1.000000,0.417790,0.270884,0.124322,1.000000,0.417790,0.270884
services,0.105807,0.417790,1.000000,0.162742,0.105807,0.417790,1.000000,0.162742
environment,0.073522,0.270884,0.162742,1.000000,0.073522,0.270884,0.162742,1.000000
employment2,1.000000,0.124322,0.105807,0.073522,1.000000,0.124322,0.105807,0.073522
housing2,0.124322,1.000000,0.417790,0.270884,0.124322,1.000000,0.417790,0.270884
services2,0.105807,0.417790,1.000000,0.162742,0.105807,0.417790,1.000000,0.162742
environment2,0.073522,0.270884,0.162742,1.000000,0.073522,0.270884,0.162742,1.000000

### Supplementary partial axes

In [27]:
# Factor coordinates with MFAMIX function
res_mfamix.partial_axes_["coord"]

      employment                                           housing            \
           Dim.1     Dim.2     Dim.3     Dim.4     Dim.5     Dim.1     Dim.2
Dim.1   0.168690 -0.169592 -0.565215  0.125509 -0.166821  0.898175  0.085081
Dim.2   0.771874 -0.151777  0.106492  0.196329 -0.020075 -0.270714  0.315095
Dim.3   0.566864  0.060627  0.054722 -0.339723  0.059831  0.025629  0.497383
Dim.4   0.121800  0.855400 -0.106319  0.028752  0.013705  0.003348 -0.275159
Dim.5   0.089702  0.388628 -0.035019  0.210129 -0.061205 -0.046695 -0.320158

                                     services                                \
          Dim.3     Dim.4     Dim.5     Dim.1     Dim.2     Dim.3     Dim.4
Dim.1  0.086890  0.021643  0.132580  0.879931 -0.175510  0.090995 -0.041034
Dim.2 -0.134420 -0.018807  0.249643  0.065089  0.067725 -0.050582 -0.134747
Dim.3  0.158112 -0.098716  0.000220 -0.037757 -0.080120  0.023682  0.000564
Dim.4  0.311950  0.079560  0.203071 -0.078316 -0.488069 -0.031610 -0.005479
Dim.5 -0.488890 -0.143337  0.032911  0.300961  0.439332 -0.228194  0.033329

                environment
          Dim.5       Dim.1     Dim.2     Dim.3     Dim.4
Dim.1  0.001273   -0.237657  0.753883 -0.217165 -0.271327
Dim.2 -0.038475   -0.610746 -0.161867  0.126602 -0.135419
Dim.3 -0.020050    0.697315  0.180102 -0.122227 -0.152946
Dim.4 -0.006472   -0.135426 -0.001263 -0.365695  0.033189
Dim.5 -0.056657    0.188270 -0.113122  0.551746 -0.125061

In [28]:
# Factor coordinates with supvarMFA function
supvar["partial_axes"]["coord"]

      employment2                                          housing2            \
            Dim.1     Dim.2     Dim.3     Dim.4     Dim.5     Dim.1     Dim.2
Dim.1    0.168690 -0.169592 -0.565215  0.125509 -0.166821  0.898175  0.085081
Dim.2    0.771874 -0.151777  0.106492  0.196329 -0.020075 -0.270714  0.315095
Dim.3    0.566864  0.060627  0.054722 -0.339723  0.059831  0.025629  0.497383
Dim.4    0.121800  0.855400 -0.106319  0.028752  0.013705  0.003348 -0.275159
Dim.5    0.089702  0.388628 -0.035019  0.210129 -0.061205 -0.046695 -0.320158

                                    services2                                \
          Dim.3     Dim.4     Dim.5     Dim.1     Dim.2     Dim.3     Dim.4
Dim.1  0.086890  0.021643  0.132580  0.879931 -0.175510  0.090995 -0.041034
Dim.2 -0.134420 -0.018807  0.249643  0.065089  0.067725 -0.050582 -0.134747
Dim.3  0.158112 -0.098716  0.000220 -0.037757 -0.080120  0.023682  0.000564
Dim.4  0.311950  0.079560  0.203071 -0.078316 -0.488069 -0.031610 -0.005479
Dim.5 -0.488890 -0.143337  0.032911  0.300961  0.439332 -0.228194  0.033329

                environment2
          Dim.5        Dim.1     Dim.2     Dim.3     Dim.4
Dim.1  0.001273    -0.237657  0.753883 -0.217165 -0.271327
Dim.2 -0.038475    -0.610746 -0.161867  0.126602 -0.135419
Dim.3 -0.020050     0.697315  0.180102 -0.122227 -0.152946
Dim.4 -0.006472    -0.135426 -0.001263 -0.365695  0.033189
Dim.5 -0.056657     0.188270 -0.113122  0.551746 -0.125061

In [29]:
# Square cosinus with MFAMIX function
res_mfamix.partial_axes_["cos2"].round(4)

      employment                                 housing                  \
           Dim.1   Dim.2   Dim.3   Dim.4   Dim.5   Dim.1   Dim.2   Dim.3
Dim.1     0.0285  0.0288  0.3195  0.0158  0.0278  0.8067  0.0072  0.0075
Dim.2     0.5958  0.0230  0.0113  0.0385  0.0004  0.0733  0.0993  0.0181
Dim.3     0.3213  0.0037  0.0030  0.1154  0.0036  0.0007  0.2474  0.0250
Dim.4     0.0148  0.7317  0.0113  0.0008  0.0002  0.0000  0.0757  0.0973
Dim.5     0.0080  0.1510  0.0012  0.0442  0.0037  0.0022  0.1025  0.2390

                      services                                 environment  \
        Dim.4   Dim.5    Dim.1   Dim.2   Dim.3   Dim.4   Dim.5       Dim.1
Dim.1  0.0005  0.0176   0.7743  0.0308  0.0083  0.0017  0.0000      0.0565
Dim.2  0.0004  0.0623   0.0042  0.0046  0.0026  0.0182  0.0015      0.3730
Dim.3  0.0097  0.0000   0.0014  0.0064  0.0006  0.0000  0.0004      0.4862
Dim.4  0.0063  0.0412   0.0061  0.2382  0.0010  0.0000  0.0000      0.0183
Dim.5  0.0205  0.0011   0.0906  0.1930  0.0521  0.0011  0.0032      0.0354


        Dim.2   Dim.3   Dim.4
Dim.1  0.5683  0.0472  0.0736
Dim.2  0.0262  0.0160  0.0183
Dim.3  0.0324  0.0149  0.0234
Dim.4  0.0000  0.1337  0.0011
Dim.5  0.0128  0.3044  0.0156

In [30]:
# Square cosinus with supvarMFA function
supvar["partial_axes"]["cos2"].head(6).round(4)

      employment2                                 housing2                  \
            Dim.1   Dim.2   Dim.3   Dim.4   Dim.5    Dim.1   Dim.2   Dim.3
Dim.1      0.0285  0.0288  0.3195  0.0158  0.0278   0.8067  0.0072  0.0075
Dim.2      0.5958  0.0230  0.0113  0.0385  0.0004   0.0733  0.0993  0.0181
Dim.3      0.3213  0.0037  0.0030  0.1154  0.0036   0.0007  0.2474  0.0250
Dim.4      0.0148  0.7317  0.0113  0.0008  0.0002   0.0000  0.0757  0.0973
Dim.5      0.0080  0.1510  0.0012  0.0442  0.0037   0.0022  0.1025  0.2390

                      services2                                 environment2  \
        Dim.4   Dim.5     Dim.1   Dim.2   Dim.3   Dim.4   Dim.5        Dim.1
Dim.1  0.0005  0.0176    0.7743  0.0308  0.0083  0.0017  0.0000       0.0565
Dim.2  0.0004  0.0623    0.0042  0.0046  0.0026  0.0182  0.0015       0.3730
Dim.3  0.0097  0.0000    0.0014  0.0064  0.0006  0.0000  0.0004       0.4862
Dim.4  0.0063  0.0412    0.0061  0.2382  0.0010  0.0000  0.0000       0.0183
Dim.5  0.0205  0.0011    0.0906  0.1930  0.0521  0.0011  0.0032       0.0354


        Dim.2   Dim.3   Dim.4
Dim.1  0.5683  0.0472  0.0736
Dim.2  0.0262  0.0160  0.0183
Dim.3  0.0324  0.0149  0.0234
Dim.4  0.0000  0.1337  0.0011
Dim.5  0.0128  0.3044  0.0156

### Supplementary quantitative variables

In [31]:
# Factor coordinates with MFAMIX function
res_mfamix.quanti_var_["coord"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers    -0.443466 -0.313590  0.177213  0.406661  0.062603
tradesmen  -0.140246  0.127775 -0.206521  0.075404  0.141301
managers    0.289854  0.529700  0.414728  0.296419  0.102380
workers    -0.104673 -0.011721 -0.145538 -0.795259 -0.369684
unemployed  0.301990 -0.089226  0.096924 -0.025072 -0.100664
middleempl  0.243500  0.569231  0.346828 -0.109077  0.021173

In [32]:
# Factor coordinates with supvarMFA function
supvar["quanti"]["coord"].head(6)

                 Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers-2    -0.443466 -0.313590  0.177213  0.406661  0.062603
tradesmen-2  -0.140246  0.127775 -0.206521  0.075404  0.141301
managers-2    0.289854  0.529700  0.414728  0.296419  0.102380
workers-2    -0.104673 -0.011721 -0.145538 -0.795259 -0.369684
unemployed-2  0.301990 -0.089226  0.096924 -0.025072 -0.100664
middleempl-2  0.243500  0.569231  0.346828 -0.109077  0.021173

In [33]:
#  Square cosinus with MFAMIX function
res_mfamix.quanti_var_["cos2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers     0.196662  0.098339  0.031404  0.165373  0.003919
tradesmen   0.019669  0.016327  0.042651  0.005686  0.019966
managers    0.084015  0.280582  0.171999  0.087864  0.010482
workers     0.010956  0.000137  0.021181  0.632437  0.136666
unemployed  0.091198  0.007961  0.009394  0.000629  0.010133
middleempl  0.059292  0.324024  0.120290  0.011898  0.000448

In [34]:
# Square cosinus with supvarMFA function
supvar["quanti"]["cos2"].head(6)

                 Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers-2     0.196662  0.098339  0.031404  0.165373  0.003919
tradesmen-2   0.019669  0.016327  0.042651  0.005686  0.019966
managers-2    0.084015  0.280582  0.171999  0.087864  0.010482
workers-2     0.010956  0.000137  0.021181  0.632437  0.136666
unemployed-2  0.091198  0.007961  0.009394  0.000629  0.010133
middleempl-2  0.059292  0.324024  0.120290  0.011898  0.000448

### Supplementary qualitative variables

In [35]:
# Factor coordinates with MFAMIX function
res_mfamix.quali_var_["coord"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   2.290308 -0.354691 -0.052085  0.005863  0.257898
 sup 90%  -0.558334  0.086467  0.012697 -0.001429 -0.062871
 inf 5%   -0.538714  0.055958  0.014737  0.041148 -0.023920
 sup 5%    2.154855 -0.223832 -0.058947 -0.164591  0.095679
butcher_0 -0.624396 -0.007789  0.037484  0.039536 -0.110693
butcher_1  0.561885  0.107670 -0.111413 -0.349149  0.311062

In [36]:
# Factor coordinates with supvarMFA function
supvar["quali"]["coord"].head(6)

                Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%     2.290308 -0.354691 -0.052085  0.005863  0.257898
 sup 90%    -0.558334  0.086467  0.012697 -0.001429 -0.062871
 inf 5%     -0.538714  0.055958  0.014737  0.041148 -0.023920
 sup 5%      2.154855 -0.223832 -0.058947 -0.164591  0.095679
butcher-2_0 -0.624396 -0.007789  0.037484  0.039536 -0.110693
butcher-2_1  0.561885  0.107670 -0.111413 -0.349149  0.311062