# FAMD : predict & supvar

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
from scientisttools import load_gironde
gironde = load_gironde()

In [3]:
from scientisttools import splitmix
X_quant = splitmix(gironde)["quanti"]
X_qual = splitmix(gironde)["quali"]

## PCA with FAMD

In [4]:
from scientisttools import FAMD
res_pca_famd = FAMD().fit(X_quant)
# Coordinates
res_pca_famd.ind_["coord"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC              -0.103102 -0.965444  0.290998 -0.935845  0.154062
AILLAS             -0.725706 -0.162440 -0.815956  1.313834 -0.322844
AMBARES-ET-LAGRAVE  2.022919  0.183367  0.872154 -1.054918 -0.141069
AMBES               0.802039 -1.487324  1.104671 -2.157694  3.508191
ANDERNOS-LES-BAINS  1.668860 -0.885000 -2.740887  3.236867  0.647663
ANGLADE            -1.504698 -1.514828  0.797778 -0.897711 -0.556155

### transform

In [5]:
# transform
res_pca_famd.transform(X_quant).head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC              -0.103102 -0.965444  0.290998 -0.935845  0.154062
AILLAS             -0.725706 -0.162440 -0.815956  1.313834 -0.322844
AMBARES-ET-LAGRAVE  2.022919  0.183367  0.872154 -1.054918 -0.141069
AMBES               0.802039 -1.487324  1.104671 -2.157694  3.508191
ANDERNOS-LES-BAINS  1.668860 -0.885000 -2.740887  3.236867  0.647663
ANGLADE            -1.504698 -1.514828  0.797778 -0.897711 -0.556155

### predict

In [6]:
from scientisttools import predictFAMD
predict = predictFAMD(res_pca_famd,X=X_quant)
predict.keys()

dict_keys(['coord', 'cos2', 'dist'])

In [7]:
# Coordinates
predict["coord"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC              -0.103102 -0.965444  0.290998 -0.935845  0.154062
AILLAS             -0.725706 -0.162440 -0.815956  1.313834 -0.322844
AMBARES-ET-LAGRAVE  2.022919  0.183367  0.872154 -1.054918 -0.141069
AMBES               0.802039 -1.487324  1.104671 -2.157694  3.508191
ANDERNOS-LES-BAINS  1.668860 -0.885000 -2.740887  3.236867  0.647663
ANGLADE            -1.504698 -1.514828  0.797778 -0.897711 -0.556155

In [8]:
# Square cosinus
predict["cos2"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               0.004233  0.371151  0.033719  0.348742  0.009451
AILLAS              0.079730  0.003995  0.100794  0.261325  0.015779
AMBARES-ET-LAGRAVE  0.553899  0.004551  0.102958  0.150630  0.002694
AMBES               0.022864  0.078627  0.043374  0.165478  0.437447
ANDERNOS-LES-BAINS  0.112401  0.031609  0.303188  0.422843  0.016929
ANGLADE             0.250433  0.253817  0.070398  0.089139  0.034213

In [9]:
# Square distance
predict["dist"].head(6)

ABZAC                  2.511330
AILLAS                 6.605407
AMBARES-ET-LAGRAVE     7.387985
AMBES                 28.134596
ANDERNOS-LES-BAINS    24.778230
ANGLADE                9.040791
Name: Sq. Dist., dtype: float64

### supvar

In [10]:
from scientisttools import supvarFAMD
supvar = supvarFAMD(res_pca_famd,X_quanti_sup=X_quant, X_quali_sup=X_qual)
supvar.keys()

dict_keys(['quanti', 'quali'])

#### Supplementary quantitatives

In [11]:
supvar["quanti"].keys()

dict_keys(['coord', 'cor', 'cos2'])

In [12]:
# Coordinates
supvar["quanti"]["coord"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers    -0.465692 -0.080570  0.372512  0.389654 -0.209886
tradesmen  -0.181722  0.074963 -0.287797  0.122836 -0.019004
managers    0.482380  0.526404  0.036674  0.353827  0.047235
workers    -0.142523 -0.018248  0.021472 -0.911916  0.006805
unemployed  0.388084 -0.144471  0.114246 -0.001392 -0.415233
middleempl  0.435759  0.576423 -0.011734 -0.038227  0.224687

In [13]:
# Square cosinus
supvar["quanti"]["cos2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers     0.216869  0.006491  0.138765  0.151831  0.044052
tradesmen   0.033023  0.005619  0.082827  0.015089  0.000361
managers    0.232690  0.277101  0.001345  0.125194  0.002231
workers     0.020313  0.000333  0.000461  0.831591  0.000046
unemployed  0.150609  0.020872  0.013052  0.000002  0.172419
middleempl  0.189886  0.332263  0.000138  0.001461  0.050484

#### Supplementary qualitatives

In [14]:
supvar["quali"].keys()

dict_keys(['coord', 'cos2', 'vtest', 'dist', 'eta2'])

In [15]:
# Coordinates
supvar["quali"]["coord"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   1.667195 -0.947942 -0.140721  0.120841  0.210753
 sup 90%  -0.429370  0.244134  0.036241 -0.031122 -0.054277
 inf 5%   -0.440540  0.167831  0.023615  0.040674 -0.001191
 sup 5%    1.653957 -0.630103 -0.088660 -0.152706  0.004472
butcher_0 -0.478167  0.151152  0.100301 -0.015843 -0.027647
butcher_1  0.244568 -0.012442 -0.117515 -0.198835 -0.014933

In [16]:
# Square cosinus
supvar["quali"]["cos2"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   0.690069  0.223092  0.004916  0.003625  0.011027
 sup 90%   0.690069  0.223092  0.004916  0.003625  0.011027
 inf 5%    0.817565  0.118658  0.002349  0.006969  0.000006
 sup 5%    0.817565  0.118658  0.002349  0.006969  0.000006
butcher_0  0.832488  0.083186  0.036629  0.000914  0.002783
butcher_1  0.317555  0.000822  0.073317  0.209897  0.001184

In [17]:
# value-test
supvar["quali"]["vtest"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   11.412724 -6.842747 -1.154892  1.089825  2.396733
 sup 90%  -11.412724  6.842747  1.154892 -1.089825 -2.396733
 inf 5%   -11.514229  4.625597  0.739978  1.400571 -0.051720
 sup 5%    11.514229 -4.625597 -0.739978 -1.400571  0.051720
butcher_0  -9.500554  3.166867  2.389216 -0.414707 -0.912569
butcher_1   1.520858 -0.081585 -0.876115 -1.628998 -0.154274

In [18]:
# Square distance
supvar["quali"]["dist"].head(6)

 inf 90%     4.027911
 sup 90%     0.267160
 inf 5%      0.237382
 sup 5%      3.346001
butcher_0    0.274651
butcher_1    0.188357
Name: Sq. Dist., dtype: float64

In [19]:
# Square correlation ratio
supvar["quali"]["eta2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
houses      0.240758  0.086549  0.002465  0.002195  0.010618
council     0.245060  0.039549  0.001012  0.003626  0.000005
butcher     0.250220  0.033219  0.012462  0.012839  0.003594
baker       0.265022  0.014757  0.023331  0.023334  0.013555
postoffice  0.197344  0.012720  0.018516  0.003933  0.010579
dentist     0.364576  0.008198  0.009294  0.014376  0.022695

## MCA with FAMD

In [20]:
# MCA with FAMD
res_mca_famd = FAMD().fit(X_qual)
# Coordinates
res_mca_famd.ind_["coord"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               1.472029  0.808880 -0.100059 -1.577571 -1.213925
AILLAS             -0.727469 -0.231222  1.237426 -0.607166 -1.235379
AMBARES-ET-LAGRAVE  6.004919 -2.564918  1.850911 -0.959488  2.104182
AMBES               2.629941  2.288602 -0.444966  0.059056 -1.362466
ANDERNOS-LES-BAINS  4.890210 -2.046581  0.068030  0.398821 -0.325488
ANGLADE            -1.078948  0.972452  1.488599  2.817773  0.524663

### transform

In [21]:
# transform
res_mca_famd.transform(X_qual).head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               1.472029  0.808880 -0.100059 -1.577571 -1.213925
AILLAS             -0.727469 -0.231222  1.237426 -0.607166 -1.235379
AMBARES-ET-LAGRAVE  6.004919 -2.564918  1.850911 -0.959488  2.104182
AMBES               2.629941  2.288602 -0.444966  0.059056 -1.362466
ANDERNOS-LES-BAINS  4.890210 -2.046581  0.068030  0.398821 -0.325488
ANGLADE            -1.078948  0.972452  1.488599  2.817773  0.524663

### predict

In [22]:
# Predict with MCA
predict_mca = predictFAMD(res_mca_famd,X=X_qual)
predict_mca.keys()

dict_keys(['coord', 'cos2', 'dist'])

In [23]:
# Coordinates
predict_mca["coord"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               1.472029  0.808880 -0.100059 -1.577571 -1.213925
AILLAS             -0.727469 -0.231222  1.237426 -0.607166 -1.235379
AMBARES-ET-LAGRAVE  6.004919 -2.564918  1.850911 -0.959488  2.104182
AMBES               2.629941  2.288602 -0.444966  0.059056 -1.362466
ANDERNOS-LES-BAINS  4.890210 -2.046581  0.068030  0.398821 -0.325488
ANGLADE            -1.078948  0.972452  1.488599  2.817773  0.524663

In [24]:
# Square cosinus
predict_mca["cos2"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               0.096760  0.029217  0.000447  0.111133  0.065803
AILLAS              0.043108  0.004355  0.124729  0.030029  0.124317
AMBARES-ET-LAGRAVE  0.576579  0.105194  0.054779  0.014721  0.070796
AMBES               0.251376  0.190358  0.007196  0.000127  0.067466
ANDERNOS-LES-BAINS  0.648363  0.113559  0.000125  0.004312  0.002872
ANGLADE             0.064961  0.052770  0.123655  0.443064  0.015361

In [25]:
# Square dist
predict_mca["dist"].head(6)

ABZAC                 22.394171
AILLAS                12.276397
AMBARES-ET-LAGRAVE    62.539655
AMBES                 27.514928
ANDERNOS-LES-BAINS    36.883884
ANGLADE               17.920292
Name: Sq. Dist., dtype: float64

### supvar

In [26]:
supvar_mca = supvarFAMD(res_mca_famd, X_quanti_sup=X_quant, X_quali_sup=X_qual)
supvar_mca.keys()

dict_keys(['quanti', 'quali'])

#### Supplementary quantitatives

In [27]:
supvar_mca["quanti"].keys()

dict_keys(['coord', 'cor', 'cos2'])

In [28]:
# Coordinates
supvar_mca["quanti"]["coord"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers    -0.374212 -0.101214 -0.070548  0.043799  0.025742
tradesmen  -0.086340  0.052145 -0.014231 -0.005493 -0.017763
managers    0.239543 -0.078778 -0.022079 -0.049729 -0.037944
workers    -0.105164  0.141430  0.060667  0.021467  0.017957
unemployed  0.224273 -0.055498  0.063775 -0.024648 -0.002818
middleempl  0.179710  0.030028  0.007490 -0.080057 -0.042580

In [29]:
# Square cosinus
supvar_mca["quanti"]["cos2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers     0.140035  0.010244  0.004977  0.001918  0.000663
tradesmen   0.007455  0.002719  0.000203  0.000030  0.000316
managers    0.057381  0.006206  0.000487  0.002473  0.001440
workers     0.011059  0.020002  0.003680  0.000461  0.000322
unemployed  0.050298  0.003080  0.004067  0.000608  0.000008
middleempl  0.032296  0.000902  0.000056  0.006409  0.001813

#### Supplementary qualitatives

In [30]:
supvar_mca["quali"].keys()

dict_keys(['coord', 'cos2', 'vtest', 'dist', 'eta2'])

In [31]:
# Coordinates
supvar_mca["quali"]["coord"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   3.811683 -0.352392 -0.051403 -0.103347  0.053334
 sup 90%  -0.981663  0.090755  0.013238  0.026616 -0.013736
 inf 5%   -0.941648  0.070636 -0.027002  0.009833 -0.018677
 sup 5%    3.535311 -0.265193  0.101375 -0.036918  0.070120
butcher_0 -1.255852 -0.074538  0.002691  0.098369 -0.295502
butcher_1  1.229332  1.135890 -0.075173 -0.851803  1.629631

In [32]:
# square cosinus
supvar_mca["quali"]["cos2"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   0.936634  0.008005  0.000170  0.000689  0.000183
 sup 90%   0.936634  0.008005  0.000170  0.000689  0.000183
 inf 5%    0.917729  0.005164  0.000755  0.000100  0.000361
 sup 5%    0.917729  0.005164  0.000755  0.000100  0.000361
butcher_0  0.911256  0.003210  0.000004  0.005591  0.050453
butcher_1  0.233075  0.198989  0.000872  0.111901  0.409576

In [33]:
# value - test
supvar_mca["quali"]["vtest"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4      Dim.5
 inf 90%   17.313592 -2.581139 -0.578306 -1.206929   0.646951
 sup 90%  -17.313592  2.581139  0.578306  1.206929  -0.646951
 inf 5%   -16.330739  1.975401 -1.159863  0.438464  -0.865000
 sup 5%    16.330739 -1.975401  1.159863 -0.438464   0.865000
butcher_0 -16.556752 -1.584626  0.087887  3.334301 -10.403752
butcher_1   5.072534  7.558002 -0.768270 -9.036629  17.957179

In [34]:
# Square dist
supvar_mca["quali"]["dist"].head(6)

 inf 90%     15.511855
 sup 90%      1.028857
 inf 5%       0.966191
 sup 5%      13.618862
butcher_0     1.730760
butcher_1     6.484006
Name: Sq. Dist., dtype: float64

In [35]:
# Square correlation ratio
supvar_mca["quali"]["eta2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
houses      0.554086  0.012315  0.000618  0.002693  0.000774
council     0.492963  0.007213  0.002487  0.000355  0.001383
butcher     0.637287  0.148756  0.001736  0.177873  0.607034
baker       0.766439  0.358999  0.171058  0.007964  0.010297
postoffice  0.671928  0.081739  0.001015  0.003380  0.000616
dentist     0.804505  0.453030  0.212611  0.001797  0.109096

## Mixed of variables with FAMD

In [36]:
# FAMD of mixed variables
res_famd = FAMD(n_components=5).fit(gironde)
# Coordinates
res_famd.ind_["coord"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               1.332681  1.008928 -1.157607  0.883969 -0.328526
AILLAS             -0.890171 -0.358272 -0.204476 -1.125684  0.463119
AMBARES-ET-LAGRAVE  6.259779 -1.637931  0.930036  1.187818 -1.037414
AMBES               2.720728  2.805650 -1.531647  2.131259 -0.358941
ANDERNOS-LES-BAINS  5.453146 -1.760889 -0.445934 -3.853922  2.053511
ANGLADE            -1.599968  0.708542 -2.193574  1.221219 -0.653168

### transform

In [37]:
# transform
res_famd.transform(gironde).head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               1.332681  1.008928 -1.157607  0.883969 -0.328526
AILLAS             -0.890171 -0.358272 -0.204476 -1.125684  0.463119
AMBARES-ET-LAGRAVE  6.259779 -1.637931  0.930036  1.187818 -1.037414
AMBES               2.720728  2.805650 -1.531647  2.131259 -0.358941
ANDERNOS-LES-BAINS  5.453146 -1.760889 -0.445934 -3.853922  2.053511
ANGLADE            -1.599968  0.708542 -2.193574  1.221219 -0.653168

### predict

In [38]:
predict_famd = predictFAMD(res_famd, X=gironde)
# Coordinates
predict_famd["coord"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               1.332681  1.008928 -1.157607  0.883969 -0.328526
AILLAS             -0.890171 -0.358272 -0.204476 -1.125684  0.463119
AMBARES-ET-LAGRAVE  6.259779 -1.637931  0.930036  1.187818 -1.037414
AMBES               2.720728  2.805650 -1.531647  2.131259 -0.358941
ANDERNOS-LES-BAINS  5.453146 -1.760889 -0.445934 -3.853922  2.053511
ANGLADE            -1.599968  0.708542 -2.193574  1.221219 -0.653168

In [39]:
# Square cosinus
predict_famd["cos2"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               0.071311  0.040872  0.053806  0.031375  0.004334
AILLAS              0.041967  0.006798  0.002214  0.067110  0.011359
AMBARES-ET-LAGRAVE  0.560363  0.038366  0.012369  0.020177  0.015391
AMBES               0.133017  0.141451  0.042156  0.081623  0.002315
ANDERNOS-LES-BAINS  0.482254  0.050286  0.003225  0.240873  0.068387
ANGLADE             0.094948  0.018621  0.178471  0.055316  0.015824

In [40]:
# Square distance
predict_famd["dist"].head(6)

ABZAC                 24.905500
AILLAS                18.881804
AMBARES-ET-LAGRAVE    69.927640
AMBES                 55.649524
ANDERNOS-LES-BAINS    61.662114
ANGLADE               26.961084
Name: Sq. Dist., dtype: float64

### supvar

In [41]:
supvar_famd = supvarFAMD(res_famd, X_quali_sup=X_qual, X_quanti_sup=X_quant)

#### Supplementary quantitatives

In [42]:
# Coordinates
supvar_famd["quanti"]["coord"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers    -0.425735 -0.252790 -0.162108  0.134693  0.446921
tradesmen  -0.112718  0.104527 -0.002173 -0.318328  0.053784
managers    0.289001 -0.070617  0.650486 -0.017544  0.247361
workers    -0.128651  0.265351 -0.102273  0.223046 -0.695628
unemployed  0.285002 -0.108383 -0.001077  0.199096 -0.092813
middleempl  0.222048  0.116087  0.661608  0.047079 -0.065912

In [43]:
# Square cosinus
supvar_famd["quanti"]["cos2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers     0.181251  0.063903  0.026279  0.018142  0.199738
tradesmen   0.012705  0.010926  0.000005  0.101333  0.002893
managers    0.083522  0.004987  0.423132  0.000308  0.061188
workers     0.016551  0.070411  0.010460  0.049750  0.483898
unemployed  0.081226  0.011747  0.000001  0.039639  0.008614
middleempl  0.049305  0.013476  0.437725  0.002216  0.004344

#### Supplementary qualitatives

In [44]:
# Coordinates
supvar_famd["quali"]["coord"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   4.273060 -0.191217 -0.586035  0.071830  0.213003
 sup 90%  -1.100486  0.049246  0.150928 -0.018499 -0.054857
 inf 5%   -1.056790  0.017269  0.065800 -0.070414  0.044534
 sup 5%    3.967596 -0.064833 -0.247038  0.264360 -0.167199
butcher_0 -1.343886 -0.170626  0.059215  0.036970 -0.062883
butcher_1  1.147832  1.252563 -0.086620  0.116768  0.017987

In [45]:
# Square cosinus
supvar_famd["quali"]["cos2"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   0.934455  0.001871  0.017576  0.000264  0.002322
 sup 90%   0.934455  0.001871  0.017576  0.000264  0.002322
 inf 5%    0.927907  0.000248  0.003597  0.004119  0.001648
 sup 5%    0.927907  0.000248  0.003597  0.004119  0.001648
butcher_0  0.900578  0.014517  0.001748  0.000682  0.001972
butcher_1  0.197459  0.235136  0.001125  0.002043  0.000048

In [46]:
# value test
supvar_famd["quali"]["vtest"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   17.358112 -1.310524 -4.151103  0.578831  1.898850
 sup 90%  -17.358112  1.310524  4.151103 -0.578831 -1.898850
 inf 5%   -16.390743  0.451882  1.779552 -2.166460  1.515820
 sup 5%    16.390743 -0.451882 -1.779552  2.166460 -1.515820
butcher_0 -15.844996 -3.394136  1.217409  0.864706 -1.627070
butcher_1   4.235719  7.798366 -0.557373  0.854782  0.145661

In [47]:
# square distance
supvar_famd["quali"]["dist"].head(6)

 inf 90%     19.539766
 sup 90%      1.296017
 inf 5%       1.203573
 sup 5%      16.964863
butcher_0     2.005412
butcher_1     6.672363
Name: Sq. Dist., dtype: float64

In [48]:
# Square correlation ratio
supvar_famd["quali"]["eta2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
houses      0.556939  0.003175  0.031851  0.000619  0.006665
council     0.496592  0.000377  0.005854  0.008676  0.004247
butcher     0.610050  0.124810  0.002988  0.008514  0.008049
baker       0.705806  0.301793  0.013253  0.046573  0.025249
postoffice  0.594597  0.140560  0.002275  0.000011  0.005511
dentist     0.765708  0.422774  0.009171  0.011038  0.045743