# MCA poison

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
import pyreadr
result = pyreadr.read_r('./data/poison.rda')
poison = result["poison"]
poison.head(6)

,Age,Time,Sick,Sex,Nausea,Vomiting,Abdominals,Fever,Diarrhae,Potato,Fish,Mayo,Courgette,Cheese,Icecream
rownames,,,,,,,,,,,,,,,
1,9,22,Sick_y,F,Nausea_y,Vomit_n,Abdo_y,Fever_y,Diarrhea_y,Potato_y,Fish_y,Mayo_y,Courg_y,Cheese_y,Icecream_y
2,5,0,Sick_n,F,Nausea_n,Vomit_n,Abdo_n,Fever_n,Diarrhea_n,Potato_y,Fish_y,Mayo_y,Courg_y,Cheese_n,Icecream_y
3,6,16,Sick_y,F,Nausea_n,Vomit_y,Abdo_y,Fever_y,Diarrhea_y,Potato_y,Fish_y,Mayo_y,Courg_y,Cheese_y,Icecream_y
4,9,0,Sick_n,F,Nausea_n,Vomit_n,Abdo_n,Fever_n,Diarrhea_n,Potato_y,Fish_y,Mayo_n,Courg_y,Cheese_y,Icecream_y
5,7,14,Sick_y,M,Nausea_n,Vomit_y,Abdo_y,Fever_y,Diarrhea_y,Potato_y,Fish_y,Mayo_y,Courg_y,Cheese_y,Icecream_y
6,72,9,Sick_y,M,Nausea_n,Vomit_n,Abdo_y,Fever_y,Diarrhea_y,Potato_y,Fish_n,Mayo_y,Courg_y,Cheese_y,Icecream_y

In [3]:
from scientisttools import MCA
res_mca = MCA(n_components=5,ind_sup=list(range(50,55)),quali_sup = [2,3],quanti_sup =[0,1])
res_mca.fit(poison)

MCA(ind_sup=[50, 51, 52, 53, 54], n_components=5, quali_sup=[2, 3],
    quanti_sup=[0, 1])

## fit transform

In [4]:
res_mca.fit_transform(poison).iloc[:6,:5]

      Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1 -0.430650 -0.275758  0.118760 -0.009932 -0.051877
2  0.874789 -0.026675 -0.190876 -0.321828  0.380201
3 -0.421674  0.128215 -0.213094 -0.120919 -0.169542
4  0.916758 -0.014370  0.111412  0.104220 -0.177055
5 -0.421674  0.128215 -0.213094 -0.120919 -0.169542
6 -0.324433 -0.425418 -1.309193  1.486119  0.352680

## transfom

In [5]:
res_mca.transform(res_mca.call_["X"]).iloc[:6,:5]

      Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1 -0.430650 -0.275758  0.118760 -0.009932 -0.051877
2  0.874789 -0.026675 -0.190876 -0.321828  0.380201
3 -0.421674  0.128215 -0.213094 -0.120919 -0.169542
4  0.916758 -0.014370  0.111412  0.104220 -0.177055
5 -0.421674  0.128215 -0.213094 -0.120919 -0.169542
6 -0.324433 -0.425418 -1.309193  1.486119  0.352680

## Eigenvalues

In [6]:
res_mca.eig_

        eigenvalue  difference  proportion  cumulative
Dim.1     0.326236    0.194754   32.623557   32.623557
Dim.2     0.131481    0.025160   13.148120   45.771677
Dim.3     0.106321    0.009149   10.632096   56.403773
Dim.4     0.097172    0.011282    9.717168   66.120941
Dim.5     0.085890    0.017805    8.589002   74.709943
Dim.6     0.068085    0.003531    6.808489   81.518432
Dim.7     0.064553    0.006511    6.455340   87.973772
Dim.8     0.058043    0.019668    5.804261   93.778033
Dim.9     0.038375    0.024485    3.837459   97.615493
Dim.10    0.013890    0.003934    1.388958   99.004450
Dim.11    0.009955         NaN    0.995550  100.000000

## Individuals informations

In [7]:
ind = res_mca.ind_
ind.keys()

dict_keys(['coord', 'contrib', 'cos2', 'infos'])

### Individuals coordinates

In [8]:
ind["coord"].head(6)

      Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1 -0.430650 -0.275758  0.118760 -0.009932 -0.051877
2  0.874789 -0.026675 -0.190876 -0.321828  0.380201
3 -0.421674  0.128215 -0.213094 -0.120919 -0.169542
4  0.916758 -0.014370  0.111412  0.104220 -0.177055
5 -0.421674  0.128215 -0.213094 -0.120919 -0.169542
6 -0.324433 -0.425418 -1.309193  1.486119  0.352680

### Individuals cos2

In [9]:
ind["cos2"].head(6)

      Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1  0.341855  0.140169  0.025998  0.000182  0.004961
2  0.576191  0.000536  0.027432  0.077985  0.108840
3  0.495158  0.045780  0.126454  0.040717  0.080047
4  0.741255  0.000182  0.010948  0.009580  0.027649
5  0.495158  0.045780  0.126454  0.040717  0.080047
6  0.022225  0.038214  0.361903  0.466329  0.026263

### Individuals contrib

In [10]:
ind["contrib"].head(6)

      Dim.1     Dim.2      Dim.3      Dim.4     Dim.5
1  1.136965  1.156708   0.265308   0.002030  0.062666
2  4.691428  0.010824   0.685355   2.131764  3.365998
3  1.090065  0.250062   0.854191   0.300939  0.669329
4  5.152382  0.003141   0.233495   0.223558  0.729966
5  1.090065  0.250062   0.854191   0.300939  0.669329
6  0.645282  2.752951  32.241716  45.456639  2.896333

### Individuals additional informations

In [11]:
ind["infos"].head(6)

              dist  weight   inertia
rownames
1         0.736552    0.02  0.010850
2         1.152444    0.02  0.026563
3         0.599246    0.02  0.007182
4         1.064807    0.02  0.022676
5         0.599246    0.02  0.007182
6         2.176242    0.02  0.094721

## Variables (categories) informations

In [12]:
var = res_mca.var_
var.keys()

dict_keys(['coord', 'corrected_coord', 'contrib', 'cos2', 'infos', 'vtest', 'eta2', 'inertia', 'var_contrib'])

### Variables coordinates

In [13]:
var["coord"].head(6)

             Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Nausea_n  0.299268  0.144057 -0.245928  0.063644  0.018298
Nausea_y -0.947683 -0.456181  0.778773 -0.201538 -0.057942
Vomit_n   0.476223 -0.404427  0.066232  0.258301  0.182226
Vomit_y  -0.714335  0.606640 -0.099348 -0.387451 -0.273339
Abdo_n    1.339182  0.014409  0.084776 -0.056217 -0.159441
Abdo_y   -0.630203 -0.006781 -0.039895  0.026455  0.075031

### Corrected variables coordinates

In [14]:
var["corrected_coord"].head(6)

             Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Nausea_n  0.170933  0.052236 -0.080190  0.019839  0.005362
Nausea_y -0.541289 -0.165413  0.253934 -0.062824 -0.016981
Vomit_n   0.272005 -0.146647  0.021596  0.080519  0.053405
Vomit_y  -0.408007  0.219970 -0.032394 -0.120778 -0.080107
Abdo_n    0.764901  0.005225  0.027643 -0.017524 -0.046727
Abdo_y   -0.359953 -0.002459 -0.013008  0.008247  0.021989

### Variables cos2

In [15]:
var["cos2"].head(6)

             Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Nausea_n  0.283612  0.065716  0.191522  0.012827  0.001060
Nausea_y  0.283612  0.065716  0.191522  0.012827  0.001060
Vomit_n   0.340183  0.245342  0.006580  0.100079  0.049809
Vomit_y   0.340183  0.245342  0.006580  0.100079  0.049809
Abdo_n    0.843957  0.000098  0.003382  0.001487  0.011963
Abdo_y    0.843957  0.000098  0.003382  0.001487  0.011963

### Variables contrib

In [16]:
var["contrib"].head(6)

              Dim.1      Dim.2      Dim.3     Dim.4     Dim.5
Nausea_n   1.896755   1.090502   3.930240  0.287999  0.026932
Nausea_y   6.006391   3.453256  12.445760  0.911997  0.085284
Vomit_n    3.791828   6.785393   0.225047  3.745164  2.108799
Vomit_y    5.687742  10.178089   0.337571  5.617746  3.163198
Abdo_n    15.992091   0.004594   0.196646  0.094614  0.861018
Abdo_y     7.525690   0.002162   0.092539  0.044524  0.405185

### Variables additional informations

In [17]:
var["infos"].head(6)

              dist    weight   inertia
Nausea_n  0.561951  0.069091  0.021818
Nausea_y  1.779513  0.021818  0.069091
Vomit_n   0.816497  0.054545  0.036364
Vomit_y   1.224745  0.036364  0.054545
Abdo_n    1.457738  0.029091  0.061818
Abdo_y    0.685994  0.061818  0.029091

### Variables vtest

In [18]:
var["vtest"].head(6)

             Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Nausea_n  3.727864  1.794460 -3.063428  0.792783  0.227926
Nausea_y -3.727864 -1.794460  3.063428 -0.792783 -0.227926
Vomit_n   4.082765 -3.467238  0.567820  2.214469  1.562260
Vomit_y  -4.082765  3.467238 -0.567820 -2.214469 -1.562260
Abdo_n    6.430699  0.069190  0.407092 -0.269952 -0.765627
Abdo_y   -6.430699 -0.069190 -0.407092  0.269952  0.765627

### Variables inertia

In [19]:
var["inertia"].head(6)

Nausea        0.02
Vomiting      0.02
Abdominals    0.02
Fever         0.02
Diarrhae      0.02
Potato        0.02
Name: inertia, dtype: float64

### eta2

In [20]:
var["eta2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Nausea      0.283612  0.065716  0.191522  0.012827  0.001060
Vomiting    0.340183  0.245342  0.006580  0.100079  0.049809
Abdominals  0.843957  0.000098  0.003382  0.001487  0.011963
Fever       0.785644  0.010639  0.019325  0.006178  0.007497
Diarrhae    0.842009  0.000411  0.001767  0.004771  0.025561
Potato      0.028078  0.411797  0.187027  0.000152  0.183718

### contrib (variables)

In [21]:
var["var_contrib"].head(6)

                Dim.1      Dim.2      Dim.3     Dim.4      Dim.5
Nausea       7.903146   4.543758  16.376000  1.199996   0.112216
Vomiting     9.479571  16.963482   0.562618  9.362910   5.271997
Abdominals  23.517781   0.006755   0.289186  0.139138   1.266202
Fever       21.892821   0.735576   1.652354  0.578022   0.793559
Diarrhae    23.463501   0.028406   0.151100  0.446386   2.705430
Potato       0.782434  28.472571  15.991650  0.014210  19.445420

## Supplementary individuals

In [22]:
ind_sup = res_mca.ind_sup_
ind_sup.keys()

dict_keys(['coord', 'cos2', 'dist'])

### Supplementary individuals coordinates

In [23]:
ind_sup["coord"].head(6)

       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
51  0.916758 -0.014370  0.111412  0.104220 -0.177055
52 -0.232181 -0.125271 -0.166930  0.067404 -0.028227
53  1.107306  0.505309  0.614485  0.553987  0.383054
54 -0.113363  0.138943 -0.188353 -0.163444 -0.274233
55 -0.421674  0.128215 -0.213094 -0.120919 -0.169542

### Supplementary individuals dist2

In [24]:
ind_sup["dist"]

51    1.133814
52    0.283338
53    3.206524
54    0.488734
55    0.359095
Name: dist, dtype: float64

### Supplementary individuals cos2

In [25]:
ind_sup["cos2"].head(6)

       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
51  0.741255  0.000182  0.010948  0.009580  0.027649
52  0.190261  0.055386  0.098348  0.016035  0.002812
53  0.382385  0.079631  0.117757  0.095712  0.045760
54  0.026295  0.039500  0.072589  0.054660  0.153874
55  0.495158  0.045780  0.126454  0.040717  0.080047

## Supplementary quantitatives columns

In [26]:
quanti_sup = res_mca.quanti_sup_
quanti_sup.keys()

dict_keys(['coord', 'cos2'])

### Supplementary quantitatives coordinates

In [27]:
quanti_sup["coord"].head(6)

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Age   0.011294 -0.005958 -0.261150  0.212867  0.018149
Time -0.833397 -0.077648 -0.083676 -0.084514 -0.000409

### Supplementary quantitatives cos2

In [28]:
quanti_sup["cos2"].head(6)

         Dim.1     Dim.2     Dim.3     Dim.4         Dim.5
Age   0.000128  0.000035  0.068199  0.045312  3.293883e-04
Time  0.694551  0.006029  0.007002  0.007143  1.674313e-07

## Supplementary qualitatives columns

In [29]:
quali_sup = res_mca.quali_sup_
quali_sup.keys()

dict_keys(['coord', 'cos2', 'dist', 'vtest', 'eta2'])

### Summary qualitatives coordinates

In [30]:
quali_sup["coord"].head(6)

           Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Sick_n  1.441092 -0.009180  0.126890 -0.028948 -0.114958
Sick_y -0.617611  0.003934 -0.054381  0.012406  0.049268
F      -0.008065  0.100823  0.045310 -0.052077 -0.082534
M       0.009467 -0.118358 -0.053191  0.061133  0.096888

### Summary qualitatives cos2

In [31]:
quali_sup["cos2"].head(6)

           Dim.1     Dim.2    Dim.3     Dim.4     Dim.5
Sick_n  0.890035  0.000036  0.00690  0.000359  0.005664
Sick_y  0.890035  0.000036  0.00690  0.000359  0.005664
F       0.000076  0.011933  0.00241  0.003184  0.007997
M       0.000076  0.011933  0.00241  0.003184  0.007997

### Summary qualitatives dist

In [32]:
quali_sup["dist"].head(6)

Sick_n    1.527525
Sick_y    0.654654
F         0.922958
M         1.083473
Name: dist, dtype: float64

### Summary qualitatives vtest

In [33]:
quali_sup["vtest"].head(6)

           Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Sick_n  6.603915 -0.042070  0.581481 -0.132658 -0.526805
Sick_y -6.603915  0.042070 -0.581481  0.132658  0.526805
F      -0.061166  0.764676  0.343649 -0.394965 -0.625966
M       0.061166 -0.764676 -0.343649  0.394965  0.625966

### Summary qualitatives eta2

In [34]:
quali_sup["eta2"].head(6)

         Dim.1     Dim.2    Dim.3     Dim.4     Dim.5
Sick  0.890035  0.000036  0.00690  0.000359  0.005664
Sex   0.000076  0.011933  0.00241  0.003184  0.007997

## Summary

### Summary qualitatives

In [35]:
res_mca.summary_quali_

     group    variable   categorie  count
0   active      Nausea    Nausea_n     38
1   active      Nausea    Nausea_y     12
2   active    Vomiting     Vomit_n     30
3   active    Vomiting     Vomit_y     20
4   active  Abdominals      Abdo_y     34
5   active  Abdominals      Abdo_n     16
6   active       Fever     Fever_y     32
7   active       Fever     Fever_n     18
8   active    Diarrhae  Diarrhea_y     33
9   active    Diarrhae  Diarrhea_n     17
10  active      Potato    Potato_y     47
11  active      Potato    Potato_n      3
12  active        Fish      Fish_y     49
13  active        Fish      Fish_n      1
14  active        Mayo      Mayo_y     42
15  active        Mayo      Mayo_n      8
16  active   Courgette     Courg_y     45
17  active   Courgette     Courg_n      5
18  active      Cheese    Cheese_y     44
19  active      Cheese    Cheese_n      6
20  active    Icecream  Icecream_y     47
21  active    Icecream  Icecream_n      3
22     sup        Sick      Sick_y     35
23     sup        Sick      Sick_n     15
24     sup         Sex           F     27
25     sup         Sex           M     23

### Summary quantitatives

In [36]:
res_mca.summary_quanti_

  variable  count   mean        std  min  25%   50%   75%   max
0      Age     50  17.74  24.806854  4.0  6.0   8.0  10.0  88.0
1     Time     50  10.18   7.745150  0.0  0.0  12.0  16.0  22.0

## chi2

In [37]:
res_mca.chi2_test_

     group variable1   variable2  statistic  dof    pvalue
0   active    Nausea    Vomiting   2.211257    1  0.137007
1   active    Nausea  Abdominals   7.430341    1  0.006413
2   active    Nausea       Fever   5.245644    1  0.022002
3   active    Nausea    Diarrhae   8.133971    1  0.004344
4   active    Nausea      Potato   3.185268    1  0.074305
..     ...       ...         ...        ...  ...       ...
73     sup       Sex        Mayo   0.061345    1  0.804383
74     sup       Sex   Courgette   0.080515    1  0.776600
75     sup       Sex      Cheese   0.043917    1  0.834007
76     sup       Sex    Icecream   0.206142    1  0.649808
77     sup      Sick         Sex   0.003834    1  0.950627

[78 rows x 6 columns]

## transform and fit_transform

### transform

In [38]:
res_mca.transform(res_mca.call_["X"]).iloc[:6,:]

      Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1 -0.430650 -0.275758  0.118760 -0.009932 -0.051877
2  0.874789 -0.026675 -0.190876 -0.321828  0.380201
3 -0.421674  0.128215 -0.213094 -0.120919 -0.169542
4  0.916758 -0.014370  0.111412  0.104220 -0.177055
5 -0.421674  0.128215 -0.213094 -0.120919 -0.169542
6 -0.324433 -0.425418 -1.309193  1.486119  0.352680

### fit_transform

In [39]:
res_mca.fit_transform(poison).iloc[:6,:]

      Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1 -0.430650 -0.275758  0.118760 -0.009932 -0.051877
2  0.874789 -0.026675 -0.190876 -0.321828  0.380201
3 -0.421674  0.128215 -0.213094 -0.120919 -0.169542
4  0.916758 -0.014370  0.111412  0.104220 -0.177055
5 -0.421674  0.128215 -0.213094 -0.120919 -0.169542
6 -0.324433 -0.425418 -1.309193  1.486119  0.352680

## Extract factor module

### Eigenvalues

In [40]:
from scientisttools import get_eig
eig = get_eig(res_mca)
eig

        eigenvalue  difference  proportion  cumulative
Dim.1     0.326236    0.194754   32.623557   32.623557
Dim.2     0.131481    0.025160   13.148120   45.771677
Dim.3     0.106321    0.009149   10.632096   56.403773
Dim.4     0.097172    0.011282    9.717168   66.120941
Dim.5     0.085890    0.017805    8.589002   74.709943
Dim.6     0.068085    0.003531    6.808489   81.518432
Dim.7     0.064553    0.006511    6.455340   87.973772
Dim.8     0.058043    0.019668    5.804261   93.778033
Dim.9     0.038375    0.024485    3.837459   97.615493
Dim.10    0.013890    0.003934    1.388958   99.004450
Dim.11    0.009955         NaN    0.995550  100.000000

### Individuals

In [41]:
from scientisttools import get_mca_ind
ind = get_mca_ind(res_mca,choice="ind")
ind.keys()

dict_keys(['coord', 'contrib', 'cos2', 'infos'])

### Supplementary individuals

In [42]:
ind_sup = get_mca_ind(res_mca,choice="ind_sup")
ind_sup.keys()

dict_keys(['coord', 'cos2', 'dist'])

### Variables

In [43]:
from scientisttools import get_mca_var
var = get_mca_var(res_mca,choice="var")
var.keys()

dict_keys(['coord', 'corrected_coord', 'contrib', 'cos2', 'infos', 'vtest', 'eta2', 'inertia', 'var_contrib'])

#### Supplementary quantitatives

In [44]:
quanti_sup = get_mca_var(res_mca,choice="quanti_sup")
quanti_sup.keys()

dict_keys(['coord', 'cos2'])

#### Supplementary qualitatives variables

In [45]:
quali_sup = get_mca_var(res_mca,choice="quali_sup")
quali_sup.keys()

dict_keys(['coord', 'cos2', 'dist', 'vtest', 'eta2'])

## Extractions functions

In [46]:
from scientisttools import get_eig, get_mca
eig = get_eig(res_mca)
ind = get_mca(res_mca,choice="ind")
ind_sup = get_mca(res_mca,choice="ind_sup")
var = get_mca(res_mca,choice="var")
quanti_sup = get_mca(res_mca,choice="quanti_sup")
quali_sup = get_mca(res_mca,choice="quali_sup")

### Summary MCA

In [47]:
from scientisttools import summaryMCA
summaryMCA(res_mca)

                     Multiple Correspondance Analysis - Results

Importance of components
                          Dim.1   Dim.2   Dim.3   Dim.4   Dim.5   Dim.6  \
Variance                  0.326   0.131   0.106   0.097   0.086   0.068
Difference                0.195   0.025   0.009   0.011   0.018   0.004
% of var.                32.624  13.148  10.632   9.717   8.589   6.808
Cumulative of % of var.  32.624  45.772  56.404  66.121  74.710  81.518

                          Dim.7   Dim.8   Dim.9  Dim.10   Dim.11
Variance                  0.065   0.058   0.038   0.014    0.010
Difference                0.007   0.020   0.024   0.004      NaN
% of var.                 6.455   5.804   3.837   1.389    0.996
Cumulative of % of var.  87.974  93.778  97.615  99.004  100.000

Individuals (the 10 first)

     dist  weight  inertia  Dim.1    ctr   cos2  Dim.2    ctr   cos2  Dim.3  \
1   0.737    0.02    0.011 -0.431  1.137  0.342 -0.276  1.157  0.140  0.119
2   1.152    0.02    0.027  0.875  4.691  0.576 -0.027  0.011  0.001 -0.191
3   0.599    0.02    0.007 -0.422  1.090  0.495  0.128  0.250  0.046 -0.213
4   1.065    0.02    0.023  0.917  5.152  0.741 -0.014  0.003  0.000  0.111
5   0.599    0.02    0.007 -0.422  1.090  0.495  0.128  0.250  0.046 -0.213
6   2.176    0.02    0.095 -0.324  0.645  0.022 -0.425  2.753  0.038 -1.309
7   0.599    0.02    0.007 -0.422  1.090  0.495  0.128  0.250  0.046 -0.213
8   0.786    0.02    0.012 -0.620  2.358  0.622 -0.022  0.008  0.001  0.073
9   0.737    0.02    0.011 -0.431  1.137  0.342 -0.276  1.157  0.140  0.119
10  0.714    0.02    0.010 -0.108  0.072  0.023  0.134  0.271  0.035 -0.178

       ctr   cos2
1    0.265  0.026
2    0.685  0.027
3    0.854  0.126
4    0.233  0.011
5    0.854  0.126
6   32.242  0.362
7    0.854  0.126
8    0.099  0.009
9    0.265  0.026
10   0.598  0.062

Supplementary Individuals

     dist  Dim.1   cos2  Dim.2   cos2  Dim.3   cos2
51  1.134  0.917  0.741 -0.014  0.000  0.111  0.011
52  0.283 -0.232  0.190 -0.125  0.055 -0.167  0.098
53  3.207  1.107  0.382  0.505  0.080  0.614  0.118
54  0.489 -0.113  0.026  0.139  0.040 -0.188  0.073
55  0.359 -0.422  0.495  0.128  0.046 -0.213  0.126

Categories (the 10 first)

             dist  weight  inertia  Dim.1     ctr   cos2  vtest  Dim.2  \
Nausea_n    0.562   0.069    0.022  0.299   1.897  0.284  3.728  0.144
Nausea_y    1.780   0.022    0.069 -0.948   6.006  0.284 -3.728 -0.456
Vomit_n     0.816   0.055    0.036  0.476   3.792  0.340  4.083 -0.404
Vomit_y     1.225   0.036    0.055 -0.714   5.688  0.340 -4.083  0.607
Abdo_n      1.458   0.029    0.062  1.339  15.992  0.844  6.431  0.014
Abdo_y      0.686   0.062    0.029 -0.630   7.526  0.844 -6.431 -0.007
Fever_n     1.333   0.033    0.058  1.182  14.011  0.786  6.205 -0.138
Fever_y     0.750   0.058    0.033 -0.665   7.881  0.786 -6.205  0.077
Diarrhea_n  1.393   0.031    0.060  1.278  15.486  0.842  6.423  0.028
Diarrhea_y  0.718   0.060    0.031 -0.659   7.978  0.842 -6.423 -0.015

               ctr   cos2  vtest  Dim.3     ctr   cos2  vtest
Nausea_n     1.091  0.066  1.794 -0.246   3.930  0.192 -3.063
Nausea_y     3.453  0.066 -1.794  0.779  12.446  0.192  3.063
Vomit_n      6.785  0.245 -3.467  0.066   0.225  0.007  0.568
Vomit_y     10.178  0.245  3.467 -0.099   0.338  0.007 -0.568
Abdo_n       0.005  0.000  0.069  0.085   0.197  0.003  0.407
Abdo_y       0.002  0.000 -0.069 -0.040   0.093  0.003 -0.407
Fever_n      0.471  0.011 -0.722  0.185   1.058  0.019  0.973
Fever_y      0.265  0.011  0.722 -0.104   0.595  0.019 -0.973
Diarrhea_n   0.019  0.000  0.142  0.059   0.100  0.002  0.294
Diarrhea_y   0.010  0.000 -0.142 -0.030   0.051  0.002 -0.294

Categorical variables (eta2)

            inertia  Dim.1     ctr  Dim.2     ctr  Dim.3     ctr
Nausea         0.02  0.284   7.903  0.066   4.544  0.192  16.376
Vomiting       0.02  0.340   9.480  0.245  16.963  0.007   0.563
Abdominals     0.02  0.844  23.518  0.000   0.007  0.003   0.289
Fever          0.02  0.786  21.893  0.011   0.736  0.019   1.652
Diarrhae       0.02  0.842  23.464  0.000   0.028  0.002   0.151
Potato         0.02  0.028   0.782  0.412  28.473  0.187  15.992
Fish           0.02  0.007   0.183  0.028   1.942  0.329  28.131
Mayo           0.02  0.289   8.044  0.047   3.271  0.033   2.819
Courgette      0.02  0.017   0.482  0.474  32.762  0.038   3.273
Cheese         0.02  0.153   4.251  0.031   2.162  0.037   3.132

Supplementary categories

         dist  Dim.1  cos2  v.test  Dim.2   cos2  v.test  Dim.3   cos2  v.test
Sick_n  1.528  1.441  0.89   6.604 -0.009  0.000  -0.042  0.127  0.007   0.581
Sick_y  0.655 -0.618  0.89  -6.604  0.004  0.000   0.042 -0.054  0.007  -0.581
F       0.923 -0.008  0.00  -0.061  0.101  0.012   0.765  0.045  0.002   0.344
M       1.083  0.009  0.00   0.061 -0.118  0.012  -0.765 -0.053  0.002  -0.344

Supplementary categorical variables (eta2)

      Dim.1  Dim.2  Dim.3
Sick   0.89  0.000  0.007
Sex    0.00  0.012  0.002

Supplementary continuous variable

      Dim.1   cos2  Dim.2   cos2  Dim.3   cos2
Age   0.011  0.000 -0.006  0.000 -0.261  0.068
Time -0.833  0.695 -0.078  0.006 -0.084  0.007

In [48]:
summaryMCA(res_mca,to_markdown=True)

                     Multiple Correspondance Analysis - Results

Importance of components
|                         |   Dim.1 |   Dim.2 |   Dim.3 |   Dim.4 |   Dim.5 |   Dim.6 |   Dim.7 |   Dim.8 |   Dim.9 |   Dim.10 |   Dim.11 |
|:------------------------|--------:|--------:|--------:|--------:|--------:|--------:|--------:|--------:|--------:|---------:|---------:|
| Variance                |   0.326 |   0.131 |   0.106 |   0.097 |   0.086 |   0.068 |   0.065 |   0.058 |   0.038 |    0.014 |    0.01  |
| Difference              |   0.195 |   0.025 |   0.009 |   0.011 |   0.018 |   0.004 |   0.007 |   0.02  |   0.024 |    0.004 |  nan     |
| % of var.               |  32.624 |  13.148 |  10.632 |   9.717 |   8.589 |   6.808 |   6.455 |   5.804 |   3.837 |    1.389 |    0.996 |
| Cumulative of % of var. |  32.624 |  45.772 |  56.404 |  66.121 |  74.71  |  81.518 |  87.974 |  93.778 |  97.615 |   99.004 |  100     |

Individuals (the 10 first)

|    |   dist |   weight |   inertia |   Dim.1 |   ctr |   cos2 |   Dim.2 |   ctr |   cos2 |   Dim.3 |    ctr |   cos2 |
|---:|-------:|---------:|----------:|--------:|------:|-------:|--------:|------:|-------:|--------:|-------:|-------:|
|  1 |  0.737 |     0.02 |     0.011 |  -0.431 | 1.137 |  0.342 |  -0.276 | 1.157 |  0.14  |   0.119 |  0.265 |  0.026 |
|  2 |  1.152 |     0.02 |     0.027 |   0.875 | 4.691 |  0.576 |  -0.027 | 0.011 |  0.001 |  -0.191 |  0.685 |  0.027 |
|  3 |  0.599 |     0.02 |     0.007 |  -0.422 | 1.09  |  0.495 |   0.128 | 0.25  |  0.046 |  -0.213 |  0.854 |  0.126 |
|  4 |  1.065 |     0.02 |     0.023 |   0.917 | 5.152 |  0.741 |  -0.014 | 0.003 |  0     |   0.111 |  0.233 |  0.011 |
|  5 |  0.599 |     0.02 |     0.007 |  -0.422 | 1.09  |  0.495 |   0.128 | 0.25  |  0.046 |  -0.213 |  0.854 |  0.126 |
|  6 |  2.176 |     0.02 |     0.095 |  -0.324 | 0.645 |  0.022 |  -0.425 | 2.753 |  0.038 |  -1.309 | 32.242 |  0.362 |
|  7 |  0.599 |     0.02 |     0.007 |  -0.422 | 1.09  |  0.495 |   0.128 | 0.25  |  0.046 |  -0.213 |  0.854 |  0.126 |
|  8 |  0.786 |     0.02 |     0.012 |  -0.62  | 2.358 |  0.622 |  -0.022 | 0.008 |  0.001 |   0.073 |  0.099 |  0.009 |
|  9 |  0.737 |     0.02 |     0.011 |  -0.431 | 1.137 |  0.342 |  -0.276 | 1.157 |  0.14  |   0.119 |  0.265 |  0.026 |
| 10 |  0.714 |     0.02 |     0.01  |  -0.108 | 0.072 |  0.023 |   0.134 | 0.271 |  0.035 |  -0.178 |  0.598 |  0.062 |

Supplementary Individuals

|    |   dist |   Dim.1 |   cos2 |   Dim.2 |   cos2 |   Dim.3 |   cos2 |
|---:|-------:|--------:|-------:|--------:|-------:|--------:|-------:|
| 51 |  1.134 |   0.917 |  0.741 |  -0.014 |  0     |   0.111 |  0.011 |
| 52 |  0.283 |  -0.232 |  0.19  |  -0.125 |  0.055 |  -0.167 |  0.098 |
| 53 |  3.207 |   1.107 |  0.382 |   0.505 |  0.08  |   0.614 |  0.118 |
| 54 |  0.489 |  -0.113 |  0.026 |   0.139 |  0.04  |  -0.188 |  0.073 |
| 55 |  0.359 |  -0.422 |  0.495 |   0.128 |  0.046 |  -0.213 |  0.126 |

Categories (the 10 first)

|            |   dist |   weight |   inertia |   Dim.1 |    ctr |   cos2 |   vtest |   Dim.2 |    ctr |   cos2 |   vtest |   Dim.3 |    ctr |   cos2 |   vtest |
|:-----------|-------:|---------:|----------:|--------:|-------:|-------:|--------:|--------:|-------:|-------:|--------:|--------:|-------:|-------:|--------:|
| Nausea_n   |  0.562 |    0.069 |     0.022 |   0.299 |  1.897 |  0.284 |   3.728 |   0.144 |  1.091 |  0.066 |   1.794 |  -0.246 |  3.93  |  0.192 |  -3.063 |
| Nausea_y   |  1.78  |    0.022 |     0.069 |  -0.948 |  6.006 |  0.284 |  -3.728 |  -0.456 |  3.453 |  0.066 |  -1.794 |   0.779 | 12.446 |  0.192 |   3.063 |
| Vomit_n    |  0.816 |    0.055 |     0.036 |   0.476 |  3.792 |  0.34  |   4.083 |  -0.404 |  6.785 |  0.245 |  -3.467 |   0.066 |  0.225 |  0.007 |   0.568 |
| Vomit_y    |  1.225 |    0.036 |     0.055 |  -0.714 |  5.688 |  0.34  |  -4.083 |   0.607 | 10.178 |  0.245 |   3.467 |  -0.099 |  0.338 |  0.007 |  -0.568 |
| Abdo_n     |  1.458 |    0.029 |     0.062 |   1.339 | 15.992 |  0.844 |   6.431 |   0.014 |  0.005 |  0     |   0.069 |   0.085 |  0.197 |  0.003 |   0.407 |
| Abdo_y     |  0.686 |    0.062 |     0.029 |  -0.63  |  7.526 |  0.844 |  -6.431 |  -0.007 |  0.002 |  0     |  -0.069 |  -0.04  |  0.093 |  0.003 |  -0.407 |
| Fever_n    |  1.333 |    0.033 |     0.058 |   1.182 | 14.011 |  0.786 |   6.205 |  -0.138 |  0.471 |  0.011 |  -0.722 |   0.185 |  1.058 |  0.019 |   0.973 |
| Fever_y    |  0.75  |    0.058 |     0.033 |  -0.665 |  7.881 |  0.786 |  -6.205 |   0.077 |  0.265 |  0.011 |   0.722 |  -0.104 |  0.595 |  0.019 |  -0.973 |
| Diarrhea_n |  1.393 |    0.031 |     0.06  |   1.278 | 15.486 |  0.842 |   6.423 |   0.028 |  0.019 |  0     |   0.142 |   0.059 |  0.1   |  0.002 |   0.294 |
| Diarrhea_y |  0.718 |    0.06  |     0.031 |  -0.659 |  7.978 |  0.842 |  -6.423 |  -0.015 |  0.01  |  0     |  -0.142 |  -0.03  |  0.051 |  0.002 |  -0.294 |

Categorical variables (eta2)

|            |   inertia |   Dim.1 |    ctr |   Dim.2 |    ctr |   Dim.3 |    ctr |
|:-----------|----------:|--------:|-------:|--------:|-------:|--------:|-------:|
| Nausea     |      0.02 |   0.284 |  7.903 |   0.066 |  4.544 |   0.192 | 16.376 |
| Vomiting   |      0.02 |   0.34  |  9.48  |   0.245 | 16.963 |   0.007 |  0.563 |
| Abdominals |      0.02 |   0.844 | 23.518 |   0     |  0.007 |   0.003 |  0.289 |
| Fever      |      0.02 |   0.786 | 21.893 |   0.011 |  0.736 |   0.019 |  1.652 |
| Diarrhae   |      0.02 |   0.842 | 23.464 |   0     |  0.028 |   0.002 |  0.151 |
| Potato     |      0.02 |   0.028 |  0.782 |   0.412 | 28.473 |   0.187 | 15.992 |
| Fish       |      0.02 |   0.007 |  0.183 |   0.028 |  1.942 |   0.329 | 28.131 |
| Mayo       |      0.02 |   0.289 |  8.044 |   0.047 |  3.271 |   0.033 |  2.819 |
| Courgette  |      0.02 |   0.017 |  0.482 |   0.474 | 32.762 |   0.038 |  3.273 |
| Cheese     |      0.02 |   0.153 |  4.251 |   0.031 |  2.162 |   0.037 |  3.132 |

Supplementary categories

|        |   dist |   Dim.1 |   cos2 |   v.test |   Dim.2 |   cos2 |   v.test |   Dim.3 |   cos2 |   v.test |
|:-------|-------:|--------:|-------:|---------:|--------:|-------:|---------:|--------:|-------:|---------:|
| Sick_n |  1.528 |   1.441 |   0.89 |    6.604 |  -0.009 |  0     |   -0.042 |   0.127 |  0.007 |    0.581 |
| Sick_y |  0.655 |  -0.618 |   0.89 |   -6.604 |   0.004 |  0     |    0.042 |  -0.054 |  0.007 |   -0.581 |
| F      |  0.923 |  -0.008 |   0    |   -0.061 |   0.101 |  0.012 |    0.765 |   0.045 |  0.002 |    0.344 |
| M      |  1.083 |   0.009 |   0    |    0.061 |  -0.118 |  0.012 |   -0.765 |  -0.053 |  0.002 |   -0.344 |

Supplementary categorical variables (eta2)

|      |   Dim.1 |   Dim.2 |   Dim.3 |
|:-----|--------:|--------:|--------:|
| Sick |    0.89 |   0     |   0.007 |
| Sex  |    0    |   0.012 |   0.002 |

Supplementary continuous variable

|      |   Dim.1 |   cos2 |   Dim.2 |   cos2 |   Dim.3 |   cos2 |
|:-----|--------:|-------:|--------:|-------:|--------:|-------:|
| Age  |   0.011 |  0     |  -0.006 |  0     |  -0.261 |  0.068 |
| Time |  -0.833 |  0.695 |  -0.078 |  0.006 |  -0.084 |  0.007 |

In [49]:
from scientisttools import dimdesc
dimDesc = dimdesc(res_mca)
dimDesc.keys()

dict_keys(['Dim.1', 'Dim.2', 'Dim.3', 'Dim.4', 'Dim.5'])

In [50]:
dimDesc["Dim.1"]

{'quali':             Sum. Intra  Sum. Inter        R2     F-stats    pvalue
 Sick          1.793732   14.518047  0.890035  388.500847  0.000000
 Abdominals    2.545338   13.766440  0.843957  259.607581  0.000000
 Diarrhae      2.577112   13.734667  0.842009  255.815068  0.000000
 Fever         3.496530   12.815249  0.785644  175.926422  0.000000
 Vomiting     10.762788    5.548991  0.340183   24.747448  0.000009
 Mayo         11.602853    4.708926  0.288683   19.480419  0.000057
 Nausea       11.685569    4.626210  0.283612   19.002762  0.000069
 Cheese       13.823497    2.488282  0.152545    8.640181  0.005044,
 'quanti':       statistic        pvalue
 Time  -0.833397  5.929114e-14}

In [51]:
dimDesc["Dim.2"]

           Sum. Intra  Sum. Inter        R2    F-stats        pvalue
Courgette    3.459034    3.115026  0.473836  43.226305  3.000000e-08
Potato       3.866883    2.707177  0.411797  33.604459  5.100000e-07
Vomiting     4.961169    1.612891  0.245342  15.604944  2.550200e-04
Icecream     5.707649    0.866411  0.131792   7.286317  9.565280e-03

In [52]:
dimDesc["Dim.3"]

          Sum. Intra  Sum. Inter        R2    F-stats    pvalue
Fish        3.567084    1.748964  0.328997  23.534713  0.000013
Icecream    3.598666    1.717382  0.323056  22.906917  0.000017
Nausea      4.297906    1.018142  0.191522  11.370841  0.001482
Potato      4.321802    0.994246  0.187027  11.042568  0.001710

In [53]:
dimDesc["Dim.4"]

          Sum. Intra  Sum. Inter        R2    F-stats        pvalue
Fish        2.604963    2.253622  0.463843  41.526059  5.000000e-08
Icecream    3.166896    1.691688  0.348185  25.640574  6.490000e-06
Vomiting    4.372342    0.486243  0.100079   5.338020  2.520802e-02
Cheese      4.402904    0.455681  0.093789   4.967784  3.054064e-02